{% extends "base.html" %}
<!-- This is the Main page of the create page You can See the Bootstrap structure, which includes the different parts-->
{% block add_to_head %}
  <link
    href="{{ url_for('static', filename='css/create_tour_style.css') }}"
    rel="stylesheet"
  />
  <link
    href="{{ url_for('static', filename='../node_modules/nouislider/dist/nouislider.css') }}"
    rel="stylesheet"
  />
  <script src="{{ url_for('static', filename='../node_modules/nouislider/dist/nouislider.min.js') }}"></script>
  <script src="{{ url_for('static', filename='../node_modules/socket.io/client-dist/socket.io.min.js') }}"></script>
  <script
    src="{{ url_for('static', filename='../node_modules/modular-behaviour.js/modular-behaviour.min.js') }}"
    type="module"
  ></script>
  <script src="{{ url_for('static', filename='banner_widget/notification.js') }}"></script>
{% endblock %}
{% block title %}Create Tour{% endblock %}
{%
  block
  content_fullPage
%}
  <div
    class="modal fade"
    id="renameModal"
    tabindex="-1"
    aria-labelledby="renameModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h5 class="modal-title" id="renameModalLabel">
              {{ _("Edit Name") }}
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <input
              type="text"
              class="form-control"
              id="newFileName"
              value="${name}"
              maxlength="50"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              {{ _("Cancel") }}
            </button>
            <button type="submit" class="btn btn-primary" id="saveNewName">
              {{ _("Save") }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="confirmCollaborator_modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h5 class="modal-title"></h5>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              {{ _("Cancel") }}
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              id="confirmCollaboratorBtn"
            >
              {{ _("Confirm") }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="qrcodeModal"
    tabindex="-1"
    aria-labelledby="qrcodeModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="qrcodeModalLabel">
            {{ _("Share Tour") }}
          </h5>

          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body text-center">
          <p>{{ _("Scan QR-Code or share link to view tour.") }}</p>
          <div
            style="display: flex; justify-content: center; align-items: center"
            id="qrcodeContainer"
          ></div>
          <br />
          <div class="btn-group" role="group">
            <button
              type="button"
              class="btn btn-white border border-secondary"
              id="shareLink"
            ></button>
            <button
              type="button"
              class="btn btn-primary border border-secondary"
              id="shareLinkCopy"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="{{ _("Copy to clipboard") }}"
            >
              <i class="bi bi-clipboard"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-wrapper h-100 noselect">
    <main>
      <div id="alerts">
        <div
          id="spinner"
          class="alert alert-dark"
          role="alert"
          style="display: none"
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          {{ _("Uploading...") }}
        </div>
      </div>
      <div class="h-100 d-flex flex-grow-1">
        <div id="create-row" class="flex-grow-1 d-flex flex-row h-100 ps-2">
          <!--#region First Column  -->
          <div
            id="dropzone-overlay"
            class="dropzone-overlay col-2 h-100 invisible"
          >
            <div
              class="d-flex flex-column h-100 justify-content-center align-items-center h3"
            >
              {{ _("Drop here to upload") }}
            </div>
          </div>
          <div
            class="col-2 border-end d-flex flex-column align-items-end h-100"
            id="upload-files"
            style="min-width: 155px"
          >
            <div
              class="uploaded-files-list pic-card-container uploaded-images overflow-auto pt-2 pe-2"
            >
              {% for file in uploaded_files %}{% with file=file %}{%
                include
                "create/pic_card.html"
              %}{% endwith %}{% endfor %}
            </div>
            <div
              class="container-fluid d-flex flex-column mt-auto pb-2 me-2 gap-2 mw-20"
            >
              <div class="row pe-2">
                <button
                  class="btn btn-secondary"
                  onclick="document.getElementById('upload').click()"
                >
                  <i class="bi bi-upload"></i>
                  {{ _("Upload or Drag&Drop") }}
                </button>
              </div>
              <div class="row pe-2">
                <div class="btn-group dropup w-100 p-0">
                  <button id="record" class="btn btn-danger w-100">
                    <div id="startRecord">
                      <i class="bi bi-mic"></i>
                      {{ _("Record Audio") }}
                    </div>
                    <div id="recording" style="display: none">
                      <canvas style="height: 1em"></canvas>
                      <span id="recordingSpan">{{ _("Recording..") }}</span>
                    </div>
                  </button>
                  <button
                    id="recordingPause"
                    type="button"
                    class="btn btn-danger"
                    style="display: none"
                  ></button>
                  <button
                    id="micSelectDropdown"
                    type="button"
                    class="btn btn-danger dropdown-toggle dropdown-toggle-split flex-shrink-1"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  ></button>
                  <ul id="micSelect" class="dropdown-menu"></ul>
                </div>
                <form
                  action="{{ url_for('home.upload_route') }}"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <input
                    class="form-control"
                    type="file"
                    name="image"
                    id="upload"
                    multiple
                    accept=".jpg, .jpeg, .png, .gif, .bmp, .mp4, .mov, .webm, .avi, .mp3, .wav, .flac, .mkv"
                    style="display: none"
                  />
                  <input
                    type="hidden"
                    name="tour_id"
                    id="tour_id"
                    value="{{ tour_id }}"
                  />
                </form>
              </div>
            </div>
          </div>
          <!--#endregion -->
          <!-- #region Second Column  -->
          <div
            id="dropzone-overlay2"
            class="dropzone-overlay col-8 h-100 invisible"
          >
            <div
              class="d-flex flex-column h-100 justify-content-center align-items-center h3"
            >
              {{ _("Drop here to upload") }}
            </div>
          </div>

          <div
            class="col-8 border-start border-end d-flex flex-column h-100 p-0"
          >
            <div
              class="flex-grow-1 d-flex align-items-center justify-content-center"
              style="max-height: 100%; overflow: hidden; position: relative"
              id="aframe-container"
            >
              <div
                id="dropzone-overlay2"
                class="dropzone-overlay col-8 h-100 invisible"
              >
                <div
                  class="d-flex flex-column h-100 justify-content-center align-items-center h3"
                >
                  {{ _("Drop here to upload") }}
                </div>
              </div>
              <div id="start-message-overlay" class="h-100">
                <div
                  id="start-message-upload"
                  class="d-flex flex-column h-100 justify-content-center align-items-center text-center h3 d-none"
                >
                  {{ _("Begin by uploading your media on the left") }}
                </div>
                <div
                  id="start-message-scene"
                  class="d-flex flex-column h-100 justify-content-center align-items-center text-center h3 d-none"
                >
                  {{ _("Add your uploaded file as scene by clicking on the +") }}
                </div>
              </div>
              <a-scene
                mouse-to-world
                id="aframe-scene"
                embedded
                clickable
                style="display: block"
                cursor="rayOrigin: mouse"
              >
                <a-assets>
                  <video
                    id="my-video"
                    src=""
                    autoplay
                    loop
                    crossorigin="anonymous"
                  ></video>
                </a-assets>
                <!--<a-entity camera look-controls position="0 0 0" id="came"></a-entity>-->
                <a-sky color="#ECECEC" id="sky" video-handler></a-sky>
                <a-camera
                  wasd-controls-enabled="false"
                  position="0 0 0"
                  id="cam"
                  rotation="0.5 0.5 0.5"
                  look-controls="reverseMouseDrag: true"
                >
                </a-camera>
                <a-light type="ambient" color="#ffffff"></a-light>
                <a-videosphere
                  id="videoSphere"
                  src="#my-video"
                  video-handler
                  visible="false"
                ></a-videosphere>
              </a-scene>
            </div>
            <div class="p-2">{% include "create/hotspots.html" %}</div>
          </div>
          <!--#endregion -->
          <!--#region Third Column  -->
          <div
            class="col-2 d-flex flex-column"
            style="
            padding: 0px;
            position: relative;
            height: auto;
            max-height: 100%;
            min-width: 170px;
          "
          >
            <div
              id="dropzone-overlay3"
              class="dropzone-overlay p-2 maxsize upper-row invisible overflow-hidden"
            >
              <div
                class="d-flex flex-column h-100 p-4 justify-content-center align-items-center text-center h5"
              >
                {{ _("Drop here to upload") }}
              </div>
            </div>
            <div
              class="p-2 maxsize upper-row border-start"
              id="media-pages"
              style="border-bottom: 1.5px solid grey"
            >
              <div
                class="pb-2 media-page-container"
                id="media-page-container"
                style="overflow: auto"
              >
                {% for mediapage in mediapages %}{% with mediapage=mediapage %}{% include "create/media_card.html" %}{% endwith %}{% endfor %}
              </div>
            </div>
            <div class="lower-row border-start">
              <div class="item-properties" style="text-align: center">
                <div id="propertiesContainer"></div>
              </div>
              <div id="hotspot-message-overlay" class="h-100">
                <div
                  id="hotspot-message-add"
                  class="d-flex flex-column h-100 p-4 justify-content-center align-items-center text-center h5 d-none"
                >
                  {{ _("Add a hotspot by drag&drop from the bottom") }}
                </div>
                <div
                  id="hotspot-message-choose"
                  class="d-flex flex-column h-100 p-4 justify-content-center align-items-center text-center h5 d-none"
                >
                  {{ _("Select hotspot to edit properties") }}
                </div>
              </div>
            </div>
            <div class="container-fluid d-flex flex-column mt-auto pb-2 gap-2">
              <a
                href="/view_tour/{{ tour_id }}"
                target="_blank"
                class="btn btn-primary"
                >{{ _("Show Tour") }}</a
              >
            </div>
          </div>
          <!--#endregion -->
        </div>
      </div>
    </main>
  </div>
  {# prettier-ignore-start #}
<script>
  //Global Variables
  const _tour_id = "{{ tour_id }}"; //Tour ID given in the Template
  let _hotspots = []; //an Array of all Hotspots
  let _selectedHotspot = null; //The Selected Hotspot in the Menu
  let _currentDependencies = []; //The Dependencies of the current selected Hotspot
  let _selectedPage = null; //depricated
  let _blockVideoUpdate = false; //Global Varialbe to interact with the timeline and the Video.
  let _currentMediapage; // The current selected Mediapage
  let _isMediaClick = false;
  let _metadataloaded = false; //Its used for Videos. It displays if the metadate of a video is loaded
  let _mediaPageNames;

    //Here you can see the different parts of scripts
    {% include "create/create_aframe.js" %}
    {% include "create/assets.js" %}
    {% include "create/mediapage.js" %}
    {% include "create/video.js" %}
    {% include "create/recorder.js" %}
    {% include "create/socketio.js" %}
    {% include "create/popovers.js" %}
    {% include "create/draganddrop.js" %}
    {% include "create/share.js" %}
  </script>
  <script src="../../node_modules/qrcodejs/qrcode.min.js"></script>
  <script src="{{ url_for('static', filename='js/a-frame-touch-look-controls.js') }}"></script>
  {# prettier-ignore-end #}
{% endblock %}
