<div class="d-flex noselect">
  <div class="w-100 align-items-center">
    <div
      class="card flex-row hotspot_card position-relative"
      draggable="true"
      id="hotspot_card_Text"
      data-type="Text"
    >
      <img
        class="card-img-left"
        src="{{ url_for('static', filename='img/hotspots/text.png') }}"
        alt="Card image cap"
        style="max-width: 32px; max-height: 32px; margin: 2px 1px 2px 8px"
      />
      <div class="d-flex card-content flex-column align-items-center">
        <p class="card-content" style="margin: 2px 8px 2px 1px">
          {{ _("Text") }}
        </p>
      </div>
      <div class="drag-overlay"></div>
    </div>
    <div
      class="card flex-row hotspot_card position-relative"
      draggable="true"
      id="hotspot_card_Image"
      data-type="Image"
    >
      <img
        class="card-img-left"
        src="{{ url_for('static', filename='img/hotspots/image.png') }}"
        alt="Card image cap"
        style="max-width: 32px; max-height: 32px; margin: 2px 1px 2px 8px"
      />
      <div class="d-flex card-content flex-column align-items-center">
        <p class="card-content" style="margin: 2px 8px 2px 1px">
          {{ _("Image") }}
        </p>
      </div>
      <div class="drag-overlay"></div>
    </div>
    <div
      class="card flex-row hotspot_card position-relative"
      draggable="true"
      id="hotspot_card_next"
      data-type="Move"
    >
      <img
        class="card-img-left"
        src="{{ url_for('static', filename='img/hotspots/move.png') }}"
        alt="Card image cap"
        style="
          max-width: 32px;
          max-height: 32px;
          margin: 2px 1px 2px 8px;
          margin: 2px 1px 2px 8px;
        "
      />
      <div class="d-flex card-content flex-column align-items-center">
        <p class="card-content" style="margin: 2px 8px 2px 1px">
          {{ _("Move") }}
        </p>
      </div>
      <div class="drag-overlay"></div>
    </div>
    <div
      class="card flex-row hotspot_card position-relative"
      draggable="true"
      id="hotspot_card_Audio"
      data-type="Audio"
    >
      <img
        class="card-img-left"
        src="{{ url_for('static', filename='img/hotspots/audio.png') }}"
        alt="Card image cap"
        style="max-width: 32px; max-height: 32px; margin: 2px 1px 2px 8px"
      />
      <div class="d-flex card-content flex-column align-items-center">
        <p class="card-content" style="margin: 2px 8px 2px 1px">
          {{ _("Audio") }}
        </p>
      </div>
      <div class="drag-overlay"></div>
    </div>
    <div
      class="card flex-row hotspot_card position-relative"
      draggable="true"
      id="hotspot_card_Video"
      data-type="Video"
    >
      <img
        class="card-img-left"
        src="{{ url_for('static', filename='img/hotspots/video.png') }}"
        alt="Card image cap"
        style="max-width: 32px; max-height: 32px; margin: 2px 1px 2px 8px"
      />
      <div class="d-flex card-content flex-column align-items-center">
        <p class="card-content" style="margin: 2px 8px 2px 1px">
          {{ _("Video") }}
        </p>
      </div>
      <div class="drag-overlay"></div>
    </div>
    <div
      class="card flex-row hotspot_card position-relative"
      draggable="true"
      id="hotspot_card_Quiz"
      data-type="Quiz"
    >
      <img
        class="card-img-left"
        src="{{ url_for('static', filename='img/hotspots/quiz.png') }}"
        alt="Card image cap"
        style="max-width: 32px; max-height: 32px; margin: 2px 1px 2px 8px"
      />
      <div class="d-flex card-content flex-column align-items-center">
        <p class="card-content" style="margin: 2px 8px 2px 1px">
          {{ _("Quiz") }}
        </p>
      </div>
      <div class="drag-overlay"></div>
    </div>

    <div
      class="card flex-row hotspot_card position-relative"
      draggable="true"
      id="hotspot_card_combination"
      data-type="Combination"
    >
      <img
        class="card-img-left"
        src="{{ url_for('static', filename='img/hotspots/combination.png') }}"
        alt="Card image cap"
        style="max-width: 32px; max-height: 32px; margin: 2px 1px 2px 8px"
      />
      <div class="d-flex card-content flex-column align-items-center">
        <p class="card-content" style="margin: 2px 8px 2px 1px">
          {{ _("Combination") }}
        </p>
      </div>
      <div class="drag-overlay"></div>
    </div>
  </div>

  <div
    class="flex-shrink-1 d-flex popovers align-self-end"
    style="height: max-content"
  >
    <button
      class="me-3 btn btn-secondary tour-annotation position-relative popover-toggle"
      id="tour-annotation"
      data-bs-container="body"
      data-bs-placement="top"
      data-bs-html="true"
      data-bs-custom-class="annotation-popover"
      onmouseover="this.querySelector('i').classList.replace('bi-sticky', 'bi-sticky-fill')"
      onmouseout="this.querySelector('i').classList.replace('bi-sticky-fill', 'bi-sticky')"
    >
      <i class="bi bi-sticky"></i>
      {% if tour_annotation == last_tour_annotation %}
        <span
          id="annotationNotification"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="{{ _("there is a note!") }}"
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger z-3 text-danger d-none"
          >1</span
        >
      {% else %}
        <span
          id="annotationNotification"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="{{ _("there is a note!") }}"
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger z-3 text-danger"
          >1</span
        >
      {% endif %}
    </button>
    <div hidden>
      <div
        data-name="annotation-popover-content"
        class="annotation-popover-content d-flex flex-column"
      >
        <h3 class="popover-header">{{ _("Tour-Notes") }}</h3>
        <!-- prettier-ignore -->
        <textarea
          id="annotation"
          class="form-control h-100 m-3"
          style="width: 90%; resize: none"
        >{{ tour_annotation }}</textarea>
      </div>
    </div>
    <button
      class="me-3 btn btn-secondary tour-tour-collaboratour position-relative popover-toggle"
      id="tour-tour-collaboratour"
      data-bs-container="body"
      data-bs-placement="top"
      data-bs-html="true"
      data-bs-custom-class="tour-collaboratour-popover"
      onmouseover="this.querySelector('i').classList.replace('bi-people', 'bi-people-fill')"
      onmouseout="this.querySelector('i').classList.replace('bi-people-fill', 'bi-people')"
    >
      <i class="bi bi-people"></i>
      <span
        id="onlineCountView"
        class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-primary z-3 d-none"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{{ _("users viewing") }}"
        >1</span
      >
      <span
        id="onlineCount"
        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger z-3 d-none"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{{ _("users editing") }}"
        >1</span
      >
    </button>
    <div hidden>
      <div
        data-name="tour-collaboratour-popover-content"
        class="tour-collaboratour-popover-content d-flex flex-column"
      >
        <h3 class="popover-header">{{ _("Tour-Collaborator") }}</h3>
        <div
          id="collaborator"
          class="p-2 pb-0"
          style="overflow: auto; max-height: 50vh;"
        >
          <ul class="shareList" id="dropdown-menu-{{ tour.id }}">
            {% include 'create/share.html' %}
          </ul>
        </div>
      </div>
    </div>
    <button
      class="btn btn-secondary tour-chat position-relative popover-toggle"
      id="tour-chat"
      data-bs-container="body"
      data-bs-placement="top"
      data-bs-html="true"
      data-bs-custom-class="chat-popover"
      onmouseover="this.querySelector('i').classList.replace('bi-chat-dots', 'bi-chat-dots-fill')"
      onmouseout="this.querySelector('i').classList.replace('bi-chat-dots-fill', 'bi-chat-dots')"
    >
      <i class="bi bi-chat-dots"></i>
      <span
        id="unreadCount"
        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger z-3 {{ 'd-none' if chat_unread_count == 0 else '' }}"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{{ _("new messages") }}"
        >{{ chat_unread_count }}</span
      >
    </button>
    <div hidden>
      <div
        data-name="chat-popover-content"
        class="chat-popover-content d-flex flex-column"
      >
        <h3 class="popover-header">{{ _("Chat") }}</h3>
        <!-- prettier-ignore -->
        <textarea
          id="chat"
          class="form-control-plaintext w-100 h-100 p-3"
          style="resize: none"
          readonly="readonly"
        >{{ chat }}</textarea>
        <textarea
          id="chat-input"
          class="form-control mb-3 m-3"
          style="width: 90%; field-sizing: content;"
          placeholder="{{ _("Enter your message here") }}"
        ></textarea>
      </div>
    </div>
  </div>
</div>
