<div class="modal fade" id="annotation-model">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="annotation-name"></h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="annotation-text">{{ _("Notes") }}:</label>
            <textarea
              class="form-control"
              id="annotation-text"
              rows="10"
            ></textarea>
            <input type="hidden" id="annotation-id" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          {{ _("Cancel") }}
        </button>
        <button type="button" class="btn btn-primary" id="annotation-submit">
          {{ _("Save") }}
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="card mediapage_card position-relative mb-1"
  draggable="false"
  data-asset_id="{{ mediapage.asset_id }}"
  data-media-id="{{ mediapage.id }}"
  data-media-name="{{ mediapage.name }}"
  data-media-type="{{ mediapage.media_type }}"
>
  <div
    class="flex-row d-flex"
    onclick="this.querySelector('.scene_picture').click()"
  >
    {% if mediapage %}
      <img
        class="card-img-left flex-auto d-md-block scene_picture mediapage_pic"
        src="{{ url_for('base.serve_uploaded_thumbnails', filename=mediapage.asset_id)  | replace('%7B', '{')| replace('%7D', '}') + '.jpg' }}"
        alt="Card image cap"
        id="img-media-{{ mediapage.id }}"
        data-media-source="{{ url_for('base.serve_uploaded_file', filename=mediapage.asset_id)  | replace('%7B', '{')| replace('%7D', '}') }}"
        data-id="{{ mediapage.id }}"
      />
    {% endif %}
    <div class="card-body d-flex card-content flex-column p-2">
      <div
        class="d-flex justify-content-start align-items-center flex-wrap"
        style="word-break: break-all"
      >
        {% if mediapage %}
          <span
            id="media-card-title-{{ mediapage.id }}"
            class="mediapage_name"
            style="min-width: 3em; text-align: left"
          >
            <b>{{ mediapage.name }}</b>
          </span>
        {% else %}
          <span style="min-width: 3em; text-align: left"
            >{{ _("Card title") }}</span
          >
        {% endif %}
        <div class="d-flex justify-content-end ms-auto flex-wrap">
          <button
            class="p-1 card-buttons annotation"
            id="annotation-{{ mediapage.id }}"
            onclick="annotationMediaPage('{{ mediapage.id }}', '{{ mediapage.name }}', $(this).attr('data-bs-original-title'))"
            data-bs-toggle="tooltip"
            data-bs-html="true"
            title="{{ mediapage.annotation | replace('\n', '<br>') if mediapage.annotation else _('Notes') }}"
            onmouseover="this.querySelector('i').classList.replace('bi-sticky', 'bi-sticky-fill')"
            onmouseout="this.querySelector('i').classList.replace('bi-sticky-fill', 'bi-sticky')"
          >
            <i class="bi bi-sticky"></i>
          </button>
          {% if mediapage.is_start_page %}
            <button
              class="p-1 card-buttons start-page"
              data-media-id="{{ mediapage.id }}"
              data-bs-toggle="tooltip"
              title="{{ _("This is setted as Start Scene") }}"
            >
              <i class="bi bi-house-fill"></i>
            </button>
          {% else %}
            <button
              class="p-1 card-buttons start-page"
              onclick="setHome('{{ mediapage.id }}', '{{ mediapage.asset_id }}')"
              data-media-id="{{ mediapage.id }}"
              data-bs-toggle="tooltip"
              title="{{ _("Set as Start Scene") }}"
              onmouseover="this.querySelector('i').classList.replace('bi-house', 'bi-house-fill')"
              onmouseout="this.querySelector('i').classList.replace('bi-house-fill', 'bi-house')"
            >
              <i class="bi bi-house"></i>
            </button>
          {% endif %}
          <button
            class="p-1 card-buttons"
            onclick="editMediaName('{{ mediapage.id }}', '{{ mediapage.name }}')"
            data-media-id="{{ mediapage.id }}"
            data-bs-toggle="tooltip"
            title="{{ _("Edit name") }}"
            onmouseover="this.querySelector('i').classList.replace('bi-pencil', 'bi-pencil-fill')"
            onmouseout="this.querySelector('i').classList.replace('bi-pencil-fill', 'bi-pencil')"
          >
            <i class="bi bi-pencil"></i>
          </button>
          <button
            class="p-1 card-buttons"
            onclick="deleteMedia('{{ mediapage.id }}', $(this).closest('.mediapage_card'))"
            data-bs-toggle="tooltip"
            title="{{ _("Delete") }}"
            onmouseover="this.querySelector('i').classList.replace('bi-trash', 'bi-trash-fill')"
            onmouseout="this.querySelector('i').classList.replace('bi-trash-fill', 'bi-trash')"
          >
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-row hotspot-container p-1"></div>
</div>
