<div
  class="card flex-row pic_card position-relative prevent-select {{ file.media_type }} mb-1"
  draggable="true"
  id="{{ file.filename_id }}"
  data-filename="{{ file.filename_id }}"
  data-format="{{ file.media_type }}"
  data-type="{{ file.media_type }}"
>
  {% if file %}{% if file.media_type == "Audio" %}
    <img
      class="card-img-left flex-auto d-none d-md-block assetcard_pic"
      src="{{ url_for('static', filename='img/hotspots/audio.png') }}"
      alt="Card image cap"
      style="max-width: 64px; max-height: 64px"
      draggable="false"
    />
  {% else %}
    <img
      class="card-img-left flex-auto d-md-block assetcard_pic"
      {%
        set
        fname="file.filename_id"
        |
        safe
      %}
      src="{{ url_for('base.serve_uploaded_thumbnails', filename=file.filename_id)  | replace('%7B', '{')| replace('%7D', '}') + '.jpg' }}"
      alt="Card image cap"
      style="max-width: 64px; max-height: 64px; cursor: move"
      draggable="false"
    />
  {% endif %}{% endif %}
  <img
    src="{{ url_for('static', filename='img/hotspots') }}/{{ file.media_type.lower() }}.png"
    style="width: 1em; height: 1em; position: absolute; left: 45px; top: 2px"
    draggable="false"
    class="hotspot-media-type"
  />
  <div class="card-body d-flex card-content flex-column p-2">
    <div
      class="d-flex justify-content-start align-items-center flex-wrap"
      style="word-break: break-all"
    >
      {% if file %}
        <span
          class="card-text pic-card-text"
          id="card-text-{{ file.filename_id }}"
          style="min-width: 3em; text-align: left"
        >
          {% if file.equirectangular %}
            <i class="bi bi-globe"></i>
          {% endif %}
          {{ file.name }}
        </span>
      {% else %}
        <span
          class="card-text pic-card-text"
          style="min-width: 3em; text-align: left"
        ></span>
      {% endif %}
      <div class="d-flex justify-content-end ms-auto flex-wrap">
        <button
          class="p-1 card-buttons annotation"
          id="annotation-{{ file.filename_id }}"
          onclick="annotationAsset('{{ file.filename_id }}', $.trim($(this).parent().prev().text()), $(this).attr('data-bs-original-title'))"
          data-bs-toggle="tooltip"
          data-bs-html="true"
          title="{{ file.annotation | replace('\n', '<br>') if file.annotation else _('Notes') }}"
          onmouseover="this.querySelector('i').classList.replace('bi-sticky', 'bi-sticky-fill')"
          onmouseout="this.querySelector('i').classList.replace('bi-sticky-fill', 'bi-sticky')"
        >
          <i class="bi bi-sticky"></i>
        </button>
        <button
          class="p-1 card-buttons"
          onclick="downloadAsset('{{ file.filename_id }}')"
          data-filename="{{ file.filename_id }}"
          data-bs-toggle="tooltip"
          title="{{ _("Download Asset") }}"
          onmouseover="this.querySelector('i').classList.replace('bi-floppy', 'bi-floppy-fill')"
          onmouseout="this.querySelector('i').classList.replace('bi-floppy-fill', 'bi-floppy')"
        >
          <i class="bi bi-floppy"></i>
        </button>
        <button
          class="p-1 card-buttons"
          onclick="editFileName('{{ file.filename_id }}', $.trim($(this).parent().prev().text()))"
          data-filename="{{ file.filename_id }}"
          data-bs-toggle="tooltip"
          title="{{ _("Edit name") }}"
          onmouseover="this.querySelector('i').classList.replace('bi-pencil', 'bi-pencil-fill')"
          onmouseout="this.querySelector('i').classList.replace('bi-pencil-fill', 'bi-pencil')"
        >
          <i class="bi bi-pencil"></i>
        </button>
        <button
          class="p-1 card-buttons"
          onclick="deleteFile('{{ file.filename_id }}', $(this).closest('.pic_card'))"
          data-bs-toggle="tooltip"
          title="{{ _("Delete") }}"
          onmouseover="this.querySelector('i').classList.replace('bi-trash', 'bi-trash-fill')"
          onmouseout="this.querySelector('i').classList.replace('bi-trash-fill', 'bi-trash')"
        >
          <i class="bi bi-trash"></i>
        </button>
      </div>
    </div>
  </div>
  {% if file.media_type != "Audio" %}
    <div class="overlay">
      <button
        class="overlay-button overlay-asset-button"
        id="add-button-{{ file.filename_id }}"
      >
        +
      </button>
    </div>
  {% endif %}
</div>
