{% if tour.creator_id == current_user.id %}
  <li>
    <div class="input-group flex-nowrap">
      <div class="input-group-btn">
        <button
          class="btn text-start border-0"
          title="{{ _("owner") }}"
          data-bs-toggle="tooltip"
        >
          <i class="bi bi-person-fill"></i>
        </button>
      </div>
      <div class="form-control border-0 username pe-0">
        {{ tour.owner.username }}
        <span class="float-end ps-1">
          <span
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="{{ _("viewing") }}"
            class="badge rounded-circle bg-primary online viewing d-none"
            data-username="{{ tour.owner.username }}"
            data-tour-id="{{ tour.id }}"
          >
            <i class="bi bi-eye"></i>
          </span>
          <span
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="{{ _("editing") }}"
            class="badge rounded-circle bg-danger online editing invisible"
            data-username="{{ tour.owner.username }}"
            data-tour-id="{{ tour.id }}"
          >
            <i class="bi bi-pencil"></i>
          </span>
        </span>
      </div>
      <div class="input-group-btn invisible">
        <button class="btn btn-default removeCollaborator">
          <i class="bi bi-person-dash"></i>
        </button>
      </div>
    </div>
  </li>
{% else %}
  <li>
    <div class="input-group flex-nowrap">
      <div class="input-group-btn">
        <button
          class="btn text-start"
          data-bs-toggle="tooltip"
          title="{{ _("owner") }}"
        >
          <i class="bi bi-person"></i>
        </button>
      </div>
      <div class="form-control border-0 username pe-0">
        {{ tour.owner.username }}
        <span class="float-end ps-1">
          <span
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="{{ _("viewing") }}"
            class="badge rounded-circle bg-primary online viewing d-none"
            data-username="{{ tour.owner.username }}"
            data-tour-id="{{ tour.id }}"
            ><i class="bi bi-eye"></i>
          </span>
          <span
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="{{ _("editing") }}"
            class="badge rounded-circle bg-danger online editing invisible"
            data-username="{{ tour.owner.username }}"
            data-tour-id="{{ tour.id }}"
            ><i class="bi bi-pencil"></i>
          </span>
        </span>
      </div>
    </div>
  </li>
{% endif %}
{% for editor in tour.editor %}
  <li>
    <div class="input-group flex-nowrap">
      <div class="input-group-btn">
        {% if tour.creator_id == current_user.id %}
          <button
            class="editCollaboratorRights btn btn-default"
            id="editCollaboratorRights-{{ editor }}"
            value="1"
            title="{{ _("change to<br />view permission") }}"
            data-bs-html="true"
            data-bs-toggle="tooltip"
          >
            <i class="editCollaboratorView bi bi-eye d-none"></i>
            <i class="editCollaboratorEdit bi bi-pencil"></i>
          </button>
        {% else %}
          <button
            class="btn btn-default"
            id="editCollaboratorRights-{{ editor }}"
            value="0"
            title="{{ _("edit permission") }}"
            data-bs-toggle="tooltip"
          >
            <i class="editCollaboratorView bi bi-eye d-none"></i>
            <i class="editCollaboratorEdit bi bi-pencil"></i>
          </button>
        {% endif %}
      </div>
      <div class="form-control border-0 username pe-0">
        {{ tour.editor[editor] }}
        <span class="float-end ps-1">
          <span
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="{{ _("viewing") }}"
            class="badge rounded-circle bg-primary online viewing d-none"
            data-username="{{ tour.editor[editor] }}"
            data-tour-id="{{ tour.id }}"
            ><i class="bi bi-eye"></i>
          </span>
          <span
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="{{ _("editing") }}"
            class="badge rounded-circle bg-danger online editing invisible"
            data-username="{{ tour.editor[editor] }}"
            data-tour-id="{{ tour.id }}"
            ><i class="bi bi-pencil"></i>
          </span>
        </span>
      </div>
      {% if tour.creator_id == current_user.id %}
        <div class="input-group-btn">
          <button
            class="btn btn-default removeCollaborator "
            title="{{ _("remove<br />collaborator") }}"
            data-bs-html="true"
            data-bs-toggle="tooltip"
            id="removeCollaborator-{{ editor }}"
          >
            <i class="bi bi-person-dash"></i>
          </button>
        </div>
      {% endif %}
    </div>
  </li>
{% endfor %}
{% for viewer in tour.viewer %}
  <li>
    <div class="input-group flex-nowrap">
      <div class="input-group-btn">
        {% if tour.creator_id == current_user.id %}
          <button
            class="editCollaboratorRights btn btn-default"
            id="editCollaboratorRights-{{ viewer }}"
            value="0"
            title="{{ _("change to<br />edit permission") }}"
            data-bs-html="true"
            data-bs-toggle="tooltip"
          >
            <i class="editCollaboratorView bi bi-eye"></i>
            <i class="editCollaboratorEdit bi bi-pencil d-none"></i>
          </button>
        {% else %}
          <button
            class="btn btn-default"
            id="editCollaboratorRights-{{ viewer }}"
            value="0"
            title="{{ _("view permission") }}"
            data-bs-toggle="tooltip"
          >
            <i class="editCollaboratorView bi bi-eye"></i>
            <i class="editCollaboratorEdit bi bi-pencil d-none"></i>
          </button>
        {% endif %}
      </div>
      <div class="form-control border-0 username pe-0">
        {{ tour.viewer[viewer] }}
        <span class="float-end ps-1">
          <span
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="{{ _("viewing") }}"
            class="badge rounded-circle bg-primary online viewing d-none"
            data-username="{{ tour.viewer[viewer] }}"
            data-tour-id="{{ tour.id }}"
            ><i class="bi bi-eye"></i
          ></span>
          <span
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="{{ _("editing") }}"
            class="badge rounded-circle bg-danger online editing invisible"
            data-username="{{ tour.viewer[viewer] }}"
            data-tour-id="{{ tour.id }}"
            ><i class="bi bi-pencil"></i
          ></span>
        </span>
      </div>
      {% if tour.creator_id == current_user.id %}
        <div class="input-group-btn">
          <button
            class="btn btn-default removeCollaborator"
            id="removeCollaborator-{{ viewer }}"
            title="{{ _("remove<br />collaborator") }}"
            data-bs-html="true"
            data-bs-toggle="tooltip"
          >
            <i class="bi bi-person-dash"></i>
          </button>
        </div>
      {% endif %}
    </div>
  </li>
{% endfor %}
{% for editorGroup in tour.editorGroup %}
  <li>
    <div class="input-group flex-nowrap">
      <div class="input-group-btn">
        {% if tour.creator_id == current_user.id %}
          <button
            class="editGroupRights btn btn-default"
            id="editGroupRights-{{ editorGroup }}"
            value="1"
            title="{{ _("change to<br />view permission") }}"
            data-bs-html="true"
            data-bs-toggle="tooltip"
          >
            <i class="editGroupView bi bi-eye d-none"></i>
            <i class="editGroupEdit bi bi-pencil"></i>
          </button>
        {% else %}
          <button
            class="btn btn-default"
            id="editGroupRights-{{ editorGroup }}"
            value="0"
            title="{{ _("edit permission") }}"
            data-bs-toggle="tooltip"
          >
            <i class="editGroupView bi bi-eye d-none"></i>
            <i class="editGroupEdit bi bi-pencil"></i>
          </button>
        {% endif %}
      </div>
      <div class="form-control border-0 username pe-0 text-nowrap">
        {{ tour.editorGroup[editorGroup] }}
        <button
          class="btn p-0 toggleGroupMembers"
          data-bs-toggle="tooltip"
          onclick="$('#groupMembers-{{ editorGroup }}').toggleClass('d-none'); $(this).find('i').toggleClass('bi-chevron-down bi-chevron-up');"
        >
          <i
            class="bi bi-people"
            data-bs-toggle="tooltip"
            title="{{ _("This is a group") }}"
          ></i>
          <i
            class="bi bi-chevron-up"
            title="{{ _("toggle members") }}"
            data-bs-toggle="tooltip"
          ></i>
        </button>
        <ul class="shareList" id="groupMembers-{{ editorGroup }}">
          {% for user in tour.editorGroupMembers[editorGroup] %}
            <div
              class="ps-1 username d-inline-flex justify-content-between w-100"
            >
              <span>
                <i class="bi bi-dot"></i>
                {{ user }}
              </span>
              <span class="ps-1">
                <span
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="{{ _("viewing") }}"
                  class="badge rounded-circle bg-primary online viewing d-none"
                  data-username="{{ user }}"
                  data-tour-id="{{ tour.id }}"
                  ><i class="bi bi-eye"></i
                ></span>
                <span
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="{{ _("editing") }}"
                  class="badge rounded-circle bg-danger online editing invisible"
                  data-username="{{ user }}"
                  data-tour-id="{{ tour.id }}"
                  ><i class="bi bi-pencil"></i
                ></span>
              </span>
            </div>
            <br />
          {% endfor %}
        </ul>
      </div>
      {% if tour.creator_id == current_user.id %}
        <div class="input-group-btn">
          <button
            class="btn btn-default removeGroup"
            id="removeGroup-{{ editorGroup }}"
            title="{{ _("remove<br />group") }}"
            data-bs-html="true"
            data-bs-toggle="tooltip"
            data-id="{{ editorGroup }}"
            data-username="{{ tour.editorGroup[editorGroup] }}"
          >
            <i class="bi bi-person-dash"></i>
          </button>
        </div>
      {% endif %}
    </div>
  </li>
{% endfor %}
{% for viewerGroup in tour.viewerGroup %}
  <li>
    <div class="input-group flex-nowrap">
      <div class="input-group-btn">
        {% if tour.creator_id == current_user.id %}
          <button
            class="editGroupRights btn btn-default"
            id="editGroupRights-{{ viewerGroup }}"
            value="0"
            title="{{ _("change to<br />edit permission") }}"
            data-bs-html="true"
            data-bs-toggle="tooltip"
          >
            <i class="editGroupView bi bi-eye"></i>
            <i class="editGroupEdit bi bi-pencil d-none"></i>
          </button>
        {% else %}
          <button
            class="btn btn-default"
            id="editGroupRights-{{ viewerGroup }}"
            value="0"
            title="{{ _("edit permission") }}"
            data-bs-toggle="tooltip"
          >
            <i class="editGroupView bi bi-eye"></i>
            <i class="editGroupEdit bi bi-pencil d-none"></i>
          </button>
        {% endif %}
      </div>
      <div class="form-control border-0 username pe-0 text-nowrap">
        {{ tour.viewerGroup[viewerGroup] }}
        <button
          class="btn p-0 toggleGroupMembers"
          data-bs-toggle="tooltip"
          onclick="$('#groupMembers-{{ viewerGroup }}').toggleClass('d-none'); $(this).find('i').toggleClass('bi-chevron-down bi-chevron-up');"
        >
          <i
            class="bi bi-people"
            data-bs-toggle="tooltip"
            title="{{ _("This is a group") }}"
          ></i>
          <i
            class="bi bi-chevron-up"
            title="{{ _("toggle members") }}"
            data-bs-toggle="tooltip"
          ></i>
        </button>
        <ul class="shareList" id="groupMembers-{{ viewerGroup }}">
          {% for user in tour.viewerGroupMembers[viewerGroup] %}
            <div
              class="ps-1 username  d-inline-flex justify-content-between w-100"
            >
              <span>
                <i class="bi bi-dot"></i>
                {{ user }}
              </span>
              <span class="ps-1">
                <span
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="{{ _("viewing") }}"
                  class="badge rounded-circle bg-primary online viewing d-none"
                  data-username="{{ user }}"
                  data-tour-id="{{ tour.id }}"
                  ><i class="bi bi-eye"></i
                ></span>
                <span
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="{{ _("editing") }}"
                  class="badge rounded-circle bg-danger online editing invisible"
                  data-username="{{ user }}"
                  data-tour-id="{{ tour.id }}"
                  ><i class="bi bi-pencil"></i
                ></span>
              </span>
            </div>
            <br />
          {% endfor %}
        </ul>
      </div>
      {% if tour.creator_id == current_user.id %}
        <div class="input-group-btn">
          <button
            class="btn btn-default removeGroup"
            id="removeGroup-{{ viewerGroup }}"
            title="{{ _("remove<br />group") }}"
            data-bs-html="true"
            data-bs-toggle="tooltip"
            data-id="{{ viewerGroup }}"
            data-username="{{ tour.viewerGroup[viewerGroup] }}"
          >
            <i class="bi bi-person-dash"></i>
          </button>
        </div>
      {% endif %}
    </div>
  </li>
{% endfor %}
<li id="guests-{{ tour.id }}" class="d-none">
  <div class="input-group flex-nowrap">
    <div class="input-group-btn">
      <button class="btn btn-default">
        <i class="editCollaboratorView bi bi-eye invisible"></i>
      </button>
    </div>
    <div class="form-control border-0 username pe-0">
      <span id="counterViewGuest-{{ tour.id }}"></span>
      <span class="float-end ps-1">
        <span
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="{{ _("viewing") }}"
          class="badge rounded-circle bg-primary online viewing"
          data-username="{{ tour.viewer[viewer] }}"
          data-tour-id="{{ tour.id }}"
          ><i class="bi bi-eye"></i
        ></span>
        <span
          class="badge rounded-circle bg-danger online viewing invisible"
          data-username="{{ tour.viewer[viewer] }}"
          ><i class="bi bi-pencil"></i
        ></span>
      </span>
    </div>
    {% if tour.creator_id == current_user.id %}
      <div class="input-group-btn">
        <button class="btn btn-default invisible">
          <i class="bi bi-person-dash"></i>
        </button>
      </div>
    {% endif %}
  </div>
</li>
{% if current_user.has_permission('share_tour') %}
  {% if tour.creator_id == current_user.id %}
    <li class="no-hover">
      <hr class="divider mt-2 mb-2" />
    </li>
    <li class="ps-2 pb-2 no-hover">
      <b>{{ _("Share with") }}</b>
    </li>
    <li class="no-hover">
      <div class="input-group flex-nowrap">
        <div
          class="input-group-btn p-0 btn btn-outline-dark"
          style="border-bottom-left-radius: 0 !important;"
        >
          <button
            class="addCollaboratorRights editCollaboratorRights btn btn-default border-0"
            id="addCollaboratorRights-{{ tour.id }}"
            value="1"
            title="{{ _("change to<br />view permission") }}"
            data-bs-html="true"
            data-bs-toggle="tooltip"
          >
            <i class="editCollaboratorView bi bi-eye d-none"></i>
            <i class="editCollaboratorEdit bi bi-pencil"></i>
          </button>
        </div>
        <input
          class="addCollaboratorInput form-control username fit-content shadow-none"
          style="field-sizing: content; border: 1px solid rgb(100, 101, 103);"
          list="allUser-{{ tour.id }}"
          id="addCollaboratorInput-{{ tour.id }}"
          autocomplete="off"
          placeholder="{{ _("user") }}"
        />
        <datalist id="allUser-{{ tour.id }}">
          {% for user in users %}{%
            if user != tour.creator_id and (not
            tour.viewer or users[user] not in tour.viewer.values()) and (not
            tour.editor or users[user] not in tour.editor.values())
          %}
            <option>{{ users[user] }}</option>
          {% endif %}{% endfor %}
        </datalist>
        <div
          class="input-group-btn p-0 btn btn-light btn-outline-dark"
          style="border-bottom-right-radius: 0 !important;"
        >
          <button
            class="btn btn-default addCollaborator border-0 disabled"
            style="pointer-events: auto;"
            id="addCollaborator-{{ tour.id }}"
            title="{{ _("enter a username first") }}"
            data-bs-html="true"
            data-bs-toggle="tooltip"
          >
            <i class="bi bi-person-add "></i>
          </button>
        </div>
      </div>
    </li>

    <li class="no-hover">
      <div class="input-group flex-nowrap" role="group">
        <div
          class="input-group-btn p-0 btn btn-outline-dark"
          style="border-top-left-radius: 0 !important"
        >
          <button
            class="addGroupRights editGroupRights btn border-0"
            id="addGroupRights-{{ tour.id }}"
            value="1"
            title="{{ _("change to<br />view permission") }}"
            data-bs-html="true"
            data-bs-toggle="tooltip"
          >
            <i class="editGroupView bi bi-eye d-none"></i>
            <i class="editGroupEdit bi bi-pencil"></i>
          </button>
        </div>
        <input
          class="addGroupInput form-control username fit-content shadow-none"
          style="field-sizing: content; border: 1px solid rgb(100, 101, 103);"
          list="allGroups-{{ tour.id }}"
          id="addGroupInput-{{ tour.id }}"
          autocomplete="off"
          placeholder="{{ _("group") }}"
        />
        <datalist id="allGroups-{{ tour.id }}">
          {% for group in groups %}{%
            if (not tour.viewerGroup or
            groups[group] not in tour.viewerGroup.values()) and (not
            tour.editorGroup or groups[group] not in
            tour.editorGroup.values())
          %}
            <option>{{ groups[group] }}</option>
          {% endif %}{% endfor %}
        </datalist>
        <div
          class="input-group-btn p-0 btn btn-light btn-outline-dark"
          style="border-top-right-radius: 0 !important;"
        >
          <button
            class="btn btn-default addGroup border-0 disabled"
            style="pointer-events: auto;"
            id="addGroup-{{ tour.id }}"
            title="{{ _("enter one of your groups first") }}"
            data-bs-html="true"
            data-bs-toggle="tooltip"
          >
            <i class="bi bi-people"></i>
          </button>
        </div>
      </div>
    </li>
  {% endif %}
  <li class="no-hover">
    <hr class="divider mt-2 mb-2" />
  </li>
  <li class="no-hover">
    <button
      value="{{ url_for('base.view_tour_by_sharestring', id=tour.share_string, _external=True) }}"
      class="btn btn-secondary text-nowrap shareBtn w-100"
    >
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <i class="bi bi-share text-white pe-2"></i>
        </div>
        <div class="d-flex justify-content-center w-100">
          {{ _("Share view") }}
        </div>
        <div class="d-flex align-items-center">
          <i class="bi bi-qr-code-scan text-white ps-2"></i>
        </div>
      </div>
    </button>
  </li>
{% endif %}
