<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- CSS -->
    <link
      href="{{ url_for('static', filename='css/base_style.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='../node_modules/vanilla-cookieconsent/dist/cookieconsent.css') }}"
      rel="stylesheet"
    />
    {% block add_to_head %}{% endblock %}
    <title>{{ _("19squared - Just more than 360") }}</title>
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='img/brand/favicon.png') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/brand/favicon.ico') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='manifest.json') }}"
    />
  </head>
  <body>
    <script src="{{ url_for('static', filename='../node_modules/aframe/dist/aframe-v1.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='../node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='../node_modules/socket.io/client-dist/socket.io.min.js') }}"></script>
    <script
      type="module"
      src="{{ url_for('static', filename='cookieconsent-config.js') }}"
    ></script>

    <div class="vh-100 d-flex flex-column justify-content-between">
      <div class="page-wrapper">
        <header
          class="noselect"
          style="box-shadow: 0px 5px 10px #2d3436; min-width: 100%;"
        >
          <nav class="navigation navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
              <a class="navbar-brand" href="{{ url_for('base.index') }}">
                <img
                  src="{{ url_for('static', filename='img/brand/banner1.png') }}"
                  alt="19squared"
                  height="55px"
                  style="margin-left: 4px"
                />
              </a>
              {% if request.host.startswith('stage') %}
                <span class="text-light">{{ _("Staging Environment") }}</span>
              {%
                  elif request.host.startswith('127.0.0.1') or
                  request.host.startswith('localhosts')
                %}
                <span class="text-light">{{ _("Local Development") }}</span>
              {% endif %}
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  {% if current_user.is_authenticated %}
                    <li class="nav-item">
                      {% if request.endpoint == "home.home_page" %}
                        <a
                          class="nav-link text-light"
                          href="{{ url_for('base.index') }}"
                        >
                          {{ _("Home") }}
                        </a>
                      {% else %}
                        <a class="nav-link" href="{{ url_for('base.index') }}">
                          {{ _("Home") }}
                        </a>
                      {% endif %}
                    </li>
                    {%
                      if
                      current_user.has_permission('edit_group')
                    %}
                      <li class="nav-item">
                        {% if request.endpoint == "home.groups" %}
                          <a
                            class="nav-link text-light"
                            href="{{ url_for('home.groups') }}"
                          >
                            {{ _("Groups") }}
                          </a>
                        {% else %}
                          <a
                            class="nav-link"
                            href="{{ url_for('home.groups') }}"
                          >
                            {{ _("Groups") }}
                          </a>
                        {% endif %}
                      </li>
                    {% endif %}
                    {%
                      if
                      current_user.has_permission('user_management')
                    %}
                      <li class="nav-item">
                        {% if request.endpoint == "home.user_management" %}
                          <a
                            class="nav-link text-light"
                            href="{{ url_for('home.user_management') }}"
                            >{{ _("User-Management") }}</a
                          >
                        {% else %}
                          <a
                            class="nav-link"
                            href="{{ url_for('home.user_management') }}"
                            >{{ _("User-Management") }}</a
                          >
                        {% endif %}
                      </li>
                    {% endif %}
                    <li class="nav-item">
                      {% if request.endpoint == "home.profil" %}
                        <a
                          class="nav-link text-light"
                          href="{{ url_for('home.profil') }}"
                          >{{ current_user.username }}</a
                        >
                      {% else %}
                        <a class="nav-link" href="{{ url_for('home.profil') }}"
                          >{{ current_user.username }}</a
                        >
                      {% endif %}
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('auth.logout') }}"
                        >{{ _("Logout") }}</a
                      >
                    </li>
                  {% else %}
                    <li class="nav-item">
                      {% if request.endpoint == "auth.login" %}
                        <a
                          class="nav-link text-light"
                          href="{{ url_for('auth.login') }}"
                          >{{ _("Login") }}</a
                        >
                      {% else %}
                        <a class="nav-link" href="{{ url_for('auth.login') }}"
                          >{{ _("Login") }}</a
                        >
                      {% endif %}
                    </li>
                    <li class="nav-item">
                      {% if request.endpoint == "auth.register" %}
                        <a
                          class="nav-link text-light"
                          href="{{ url_for('auth.register') }}"
                          >{{ _("Register") }}</a
                        >
                      {% else %}
                        <a
                          class="nav-link"
                          href="{{ url_for('auth.register') }}"
                          >{{ _("Register") }}</a
                        >
                      {% endif %}
                    </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </nav>
        </header>
        {% block content_fullPage %}
          <main class="container mt-5">{% block content %}{% endblock %}</main>
        {% endblock %}
      </div>
      <footer
        class="navigation text-white d-flex justify-content-between p-3 flex-wrap justify-content-between align-items-center noselect"
        style="box-shadow: 0px -5px 10px #2d3436; min-width: 100%"
      >
        <div clas="col-md-4 p-2">
          <a
            class="link-light text-decoration-none"
            href="/impressum"
            style="margin-right: 10px"
            >{{ _("Impressum") }}</a
          >
          <a class="link-light text-decoration-none" href="/datenschutz"
            >{{ _("Privacy") }}</a
          >
        </div>
        <div
          class="col-md d-flex align-items-center justify-content-center p-2 text-nowrap"
        >
          {{ currentYear }} &ndash; &VeryThinSpace;
          <a
            class="link-light text-decoration-none d-inline"
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.lbz.rwth-aachen.de/cms/LBZ/Das-Lehrerbildungszentrum/Geschaeftsstelle/~vcacl/MediaLab/"
            ><b>RWTH MediaLab</b></a
          >
        </div>
        <div class="nav col-md-2 justify-content-end p-2 ms-auto">
          {% if g.locales|length > 1 %}
            <a
              class="link-light text-decoration-none"
              role="button"
              onclick="change_langauge()"
              style="margin-right: 15px"
              >{{ 'de' if g.locale == 'en' else 'en' }}</a
            >
          {% endif %}
          <a
            class="link-light text-decoration-none"
            target="_blank"
            rel="noopener noreferrer"
            href="https://discord.gg/tXwkfcMyjK"
          >
            <img
              src="{{ url_for('static', filename='img/discord-mark-blue.svg') }}"
              alt="Discord"
              style="height: 25px; padding-right: 15px"
            />
          </a>
          <a
            class="link-light text-decoration-none"
            target="_blank"
            rel="noopener noreferrer"
            href="https://git.rwth-aachen.de/medialab/19squared"
          >
            <img
              src="{{ url_for('static', filename='img/gitlab-logo-500.svg') }}"
              alt="GitLab"
              style="height: 25px; padding-right: 15px"
            />
          </a>
          <a
            class="link-light text-decoration-none"
            target="_blank"
            rel="noopener noreferrer"
            href="https://git.rwth-aachen.de/medialab/19squared/-/tree/{{ VERSION }}"
          >
            v{{ VERSION }}
          </a>
        </div>
      </footer>
    </div>
    <script>
      function change_langauge() {
        var selectedLanguage =
          "{{ 'de' if request.cookies.get('language') == 'en' else 'en' }}";
        document.cookie = "language=" + selectedLanguage + "; path=/";
        if ("{{ current_user.is_authenticated }}" === "True") {
          $.ajax({
            url: '{{ url_for("home.set_language") }}',
            type: "PUT",
            headers: {
              "Content-Type": "application/json",
              Accept: "application/json",
            },
            data: JSON.stringify({
              language: selectedLanguage,
            }),
            success: function (result) {
              location.reload();
            },
            error: function (error) {
              console.log(error);
            },
          });
        } else {
          location.reload();
        }
      }
    </script>
  </body>
</html>
