{% extends "base.html" %}
{% block content %}
  <div class="text">
    <a id="top" class="hiddenmark"></a>
    <h1>Datenschutzerklärung</h1>
    <p>
      Diese Datenschutzerklärung gilt für den zentralen Web-Auftritt der RWTH
      Aachen University. Auf dezentralen Webseiten können unter Umständen andere
      Datenschutzerklärungen gelten die dort aufgeführt sind.
    </p>
    <p>Stand der Datenschutzerklärung: Februar 2019</p>
    <h2>I. Verantwortlicher für die Datenverarbeitung</h2>
    <p>
      Der Verantwortliche im Sinne der EU-Datenschutz-Grundverordnung und
      anderer nationaler Datenschutzgesetze der Mitgliedsstaaten sowie sonstiger
      datenschutzrechtlicher Bestimmungen ist:
    </p>
    <p>
      Rektor der RWTH Aachen University<br />
      Templergraben 55<br />
      52062 Aachen (Hausanschrift)<br />
      52056 Aachen (Postanschrift)<br />
      Telefon: +49 241 80 1<br />
      Telefax: +49 241 80 92312<br />
      E-Mail:
      <a class="email" href="mailto:rektorat@rwth-aachen.de"
        >rektorat@rwth-aachen.de</a
      ><br />
      Website:
      <a href="https://www.rwth-aachen.de/rektorat/" class="internal"
        >www.rwth-aachen.de/rektorat</a
      >
    </p>
    <h2>II. Kontaktdaten der behördlich bestellten Datenschutzbeauftragten</h2>
    <p>
      Erreichbarkeit der Stabsstelle Datenschutz der RWTH Aachen University:
    </p>
    <p>
      Stabsstelle Datenschutz der RWTH Aachen University<br />
      Templergraben 83<br />
      52062 Aachen (Hausanschrift)<br />
      52056 Aachen (Postanschrift)<br />
      Deutschland<br />
      Telefon: +49 241 80 94114<br />
      E-Mail:
      <a href="mailto:dsb@rwth-aachen.de" class="email">dsb@rwth-aachen.de</a
      ><br />
      Website:
      <a href="https://www.rwth-aachen.de/datenschutz/" class="internal"
        >www.rwth-aachen.de/datenschutz</a
      >
    </p>
    <h2>III. Allgemeines zur Datenverarbeitung</h2>
    <h3>1. Umfang der Verarbeitung personenbezogener Daten</h3>
    <p>
      Die RWTH Aachen University verarbeitet personenbezogene Daten der Nutzer
      der Seite grundsätzlich nur, soweit dies zur Bereitstellung einer
      funktionsfähigen Website sowie der Inhalte und Leistungen erforderlich
      ist. Die Verarbeitung personenbezogener Daten der Nutzer erfolgt
      regelmäßig nur nach Einwilligung des Nutzers. Eine Ausnahme gilt in
      solchen Fällen, in denen eine vorherige Einholung einer Einwilligung aus
      tatsächlichen Gründen nicht möglich ist und die Verarbeitung der Daten
      durch gesetzliche Vorschriften gestattet ist.
    </p>
    <h3>2. Rechtsgrundlage für die Verarbeitung personenbezogener Daten</h3>
    <p>
      Soweit die RWTH Aachen University für Verarbeitungsvorgänge
      personenbezogener Daten eine Einwilligung der betroffenen Person einholt,
      dient Art. 6 Abs. 1 lit. a EU-Datenschutzgrundverordnung (DSGVO) als
      Rechtsgrundlage.
    </p>
    <p>
      Bei der Verarbeitung von personenbezogenen Daten, die zur Erfüllung eines
      Vertrages, dessen Vertragspartei die betroffene Person ist, erforderlich
      ist, dient Art. 6 Abs. 1 lit. b DSGVO als Rechtsgrundlage. Dies gilt auch
      für Verarbeitungsvorgänge, die zur Durchführung vorvertraglicher Maßnahmen
      erforderlich sind.
    </p>
    <p>
      Soweit die Verarbeitung von personenbezogenen Daten für die Wahrnehmung
      unserer Aufgaben erforderlich ist, die im öffentlichen Interesse liegen
      oder in Ausübung öffentlicher Gewalt erfolgt, dient Art. 6 Abs. 1 lit. e
      DSGVO als Rechtsgrundlage.
    </p>
    <h3>3. Datenlöschung und Speicherdauer</h3>
    <p>
      Die personenbezogenen Daten der betroffenen Person werden gelöscht oder
      gesperrt, sobald der Zweck der Speicherung entfällt. Eine Speicherung kann
      darüber hinaus erfolgen, wenn dies durch den europäischen oder nationalen
      Gesetzgeber in unionsrechtlichen Verordnungen, Gesetzen oder sonstigen
      Vorschriften, denen der Verantwortliche unterliegt, vorgesehen wurde. Eine
      Sperrung oder Löschung der Daten erfolgt auch dann, wenn eine durch die
      genannten Normen vorgeschriebene Speicherfrist abläuft, es sei denn, dass
      eine Erforderlichkeit zur weiteren Speicherung der Daten für einen
      Vertragsabschluss oder eine Vertragserfüllung besteht.
    </p>
    <h2>IV. Bereitstellung der Website und Erstellung von Logfiles</h2>
    <h3>1. Beschreibung und Umfang der Datenverarbeitung</h3>
    <p>
      Bei jedem Aufruf unserer Webseite kann das System der RWTH Aachen
      University automatisiert Daten und Informationen vom Computersystem des
      aufrufenden Rechners erfassen.
    </p>
    <p>Folgende Daten können hierbei erhoben werden:</p>
    <ol>
      <li>Informationen über den Browsertyp und die verwendete Version</li>
      <li>Informationen über das Betriebssystem des Nutzers</li>
      <li>Den Internet-Service-Provider des Nutzers</li>
      <li>Die IP-Adresse des Nutzers</li>
      <li>Datum und Uhrzeit des Zugriffs</li>
      <li>
        Websites, von denen das System des Nutzers auf die Webseite der RWTH
        Aachen University gelangt
      </li>
      <li>Informationen über die aufgerufenen Webseiten und Dateien</li>
    </ol>
    <p>
      Die Daten werden in den Logfiles des Systems der Hochschule gespeichert.
      Eine Speicherung dieser Daten zusammen mit anderen personenbezogenen Daten
      des Nutzers findet nicht statt.
    </p>
    <h3>2. Rechtsgrundlage für die Datenverarbeitung</h3>
    <p>
      Rechtsgrundlage für die vorübergehende Speicherung der Daten und der
      Logfiles ist Art. 6 Abs. 1 lit. e DSGVO.
    </p>
    <h3>3. Zweck der Datenverarbeitung</h3>
    <p>
      Die vorübergehende Speicherung der IP-Adresse durch das System ist
      notwendig, um eine Auslieferung der Website an den Rechner des Nutzers zu
      ermöglichen. Hierfür muss die IP-Adresse des Nutzers für die Dauer der
      Sitzung gespeichert bleiben.
    </p>
    <p>
      Die Daten dienen zur Optimierung der Website und zur Sicherstellung der
      Sicherheit der informationstechnischen Systeme. Eine Auswertung der Daten
      zu Marketingzwecken findet in diesem Zusammenhang nicht statt.
    </p>
    <h3>4. Dauer der Speicherung</h3>
    <p>
      Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer
      Erhebung nicht mehr erforderlich sind. Normalerweise ist dies nach
      spätestens sieben Tagen der Fall. Eine darüberhinausgehende Speicherung
      ist möglich. In diesem Fall werden die IP-Adressen der Nutzer gelöscht
      oder verfremdet, sodass eine Zuordnung des aufrufenden Clients nicht mehr
      möglich ist.
    </p>
    <h3>5. Widerspruchs- und Beseitigungsmöglichkeit</h3>
    <p>
      Die Erfassung der Daten zur Bereitstellung der Website und die Speicherung
      der Daten in Logfiles ist für den Betrieb der Webseite zwingend
      erforderlich. Es besteht folglich seitens des Nutzers keine
      Widerspruchsmöglichkeit.
    </p>
    <h2 id="cookie-paragraph">V. Verwendung von Cookies</h2>
    <h3>1. Beschreibung und Umfang der Datenverarbeitung</h3>
    <p>
      Die Webseite der RWTH Aachen University verwendet Cookies. Bei Cookies
      handelt es sich um Textdateien, die im Internetbrowser bzw. vom
      Internetbrowser auf dem Computersystem des Nutzers gespeichert werden.
      Ruft ein Nutzer eine Website auf, so kann ein Cookie auf dem
      Betriebssystem des Nutzers gespeichert werden. Dieser Cookie enthält eine
      charakteristische Zeichenfolge, die eine eindeutige Identifizierung des
      Browsers beim erneuten Aufrufen der Website ermöglicht.
    </p>
    <p>
      In den Cookies werden dabei folgende Daten gespeichert und übermittelt:
    </p>
    <ul>
      <li>
        Anonyme IDs zur Identifizierung der eingeloggten Redakteure der Webseite
      </li>
      <li>Einverständniserklärung zur Nutzung externer Dienste</li>
    </ul>
    <h3>2. Rechtsgrundlage für die Datenverarbeitung</h3>
    <p>
      Die Rechtsgrundlage für die Verarbeitung personenbezogener Daten unter
      Verwendung von Cookies ist Art. 6 Abs. 1 lit. e DSGVO. Bei Verarbeitung
      der Einwilligung im Zusammenhang mit der Speicherung von Cookies erfolgt
      dies aufgrund Art. 6 Abs. 1 lit. a DSGVO.
    </p>
    <h3>3. Zweck der Datenverarbeitung</h3>
    <p>
      Die RWTH Aachen University nutzt die auf der Seite eingesetzten Cookies
      zur Identifizierung der eingeloggten Redakteure der Webseite, sowie zur
      temporären Speicherung der Zustimmung zum Aufruf externer Dienste wie
      Google Maps.
    </p>
    <h3>4. Dauer der Speicherung, Widerspruchs- und Beseitigungsmöglichkeit</h3>
    <p>
      Cookies werden auf dem Rechner des Nutzers gespeichert und von diesem an
      die Seite übermittelt. Daher haben Sie als Nutzer auch die volle Kontrolle
      über die Verwendung von Cookies. Durch eine Änderung der Einstellungen in
      Ihrem Internetbrowser können Sie die Übertragung von Cookies deaktivieren
      oder einschränken. Bereits gespeicherte Cookies können jederzeit gelöscht
      werden. Dies kann auch automatisiert erfolgen. Werden Cookies für die
      Website der RWTH Aachen University deaktiviert, können möglicherweise
      nicht mehr alle Funktionen der Website vollumfänglich genutzt werden.
    </p>
    <h2>VI. Mailinglisten</h2>
    <h3>1. Beschreibung und Umfang der Datenverarbeitung</h3>
    <p>
      Auf der Webseite der RWTH Aachen University besteht die Möglichkeit,
      verschiedene kostenfreier Mailinglisten zu abonnieren. Dabei werden bei
      der Anmeldung die Daten aus der Eingabemaske an die RWTH Aachen University
      übermittelt. Diese sind:
    </p>
    <ol>
      <li>Ihre E-Mail Adresse</li>
      <li>Ihr Name (optional)</li>
      <li>Passwort (frei wählbar)</li>
      <li>Sprachpräferenz</li>
    </ol>
    <p>
      Für die Verarbeitung der Daten wird im Rahmen des Anmeldevorgangs Ihre
      Einwilligung eingeholt.
    </p>
    <p>
      Es erfolgt im Zusammenhang mit der Datenverarbeitung für die Mailinglisten
      keine Weitergabe der Daten an Dritte. Die Daten werden ausschließlich für
      den Versand der E-Mails verwendet.
    </p>
    <h3>2. Rechtsgrundlage für die Datenverarbeitung</h3>
    <p>
      Rechtsgrundlage für die Verarbeitung der Daten nach Anmeldung zu den
      Mailinglisten durch den Nutzer ist bei Vorliegen einer Einwilligung des
      Nutzers Art. 6 Abs. 1 lit. a DSGVO.
    </p>
    <h3>3. Zweck der Datenverarbeitung</h3>
    <p>
      Die Erhebung der E-Mail-Adresse des Nutzers dient dazu, die E-Mails
      zuzustellen.
    </p>
    <h3>4. Dauer der Speicherung</h3>
    <p>
      Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer
      Erhebung nicht mehr erforderlich sind. Die Daten des Nutzers werden
      demnach solange gespeichert, wie das Abonnement der Mailingliste aktiv
      ist.
    </p>
    <h3>5. Widerspruchs- und Beseitigungsmöglichkeit</h3>
    <p>
      Das Abonnement der Mailingliste kann durch den betroffenen Nutzer
      jederzeit gekündigt werden. Zu diesem Zweck findet sich in jeder über den
      Verteiler verschickten E-Mail ein entsprechender Link. Ebenso erhält der
      Nutzer eine monatliche Mitgliedschafts-Erinnerung mit Links zu Löschung
      und Bearbeitung der Einstellungen seiner Mitgliedschaft.
    </p>
    <h2>VII. Kontaktformular und E-Mail-Kontakt</h2>
    <h3>1. Beschreibung und Umfang der Datenverarbeitung</h3>
    <p>
      Auf der Webseite der RWTH Aachen University ist ein Feedbackformular
      vorhanden, welches für die elektronische Kontaktaufnahme genutzt werden
      kann. Nimmt ein Nutzer diese Möglichkeit wahr, so werden die in der
      Eingabemaske eingegeben Daten übermittelt und gespeichert. Diese Daten
      sind:
    </p>
    <ol>
      <li>Anrede</li>
      <li>Name</li>
      <li>Adresse (optional)</li>
      <li>E-Mail Adresse</li>
      <li>Telefon (optional)</li>
    </ol>
    <p>
      Des Weiteren können Formulare zu verschiedenen Anmelde- und Kontaktzwecken
      eingesetzt werden, die jeweils auf den Anlass zugeschnittene Daten vom
      Nutzer erfragen.
    </p>
    <p>
      Für die Verarbeitung der Daten wird im Rahmen des Absendevorgangs die
      Einwilligung des Nutzers eingeholt und auf diese Datenschutzerklärung
      verwiesen.
    </p>
    <p>
      Alternativ ist eine Kontaktaufnahme über die bereitgestellte
      E-Mail-Adresse möglich. In diesem Fall werden die mit der E-Mail
      übermittelten personenbezogenen Daten des Nutzers gespeichert.
    </p>
    <p>
      Es erfolgt in diesem Zusammenhang keine Weitergabe der Daten an Dritte.
      Die Daten werden ausschließlich für die Verarbeitung der Konversation
      verwendet.
    </p>
    <h3>2. Rechtsgrundlage für die Datenverarbeitung</h3>
    <p>
      Rechtsgrundlage für die Verarbeitung der Daten ist bei Vorliegen einer
      Einwilligung des Nutzers Art. 6 Abs. 1 lit. a DSGVO.
    </p>
    <p>
      Rechtsgrundlage für die Verarbeitung der Daten, die im Zuge einer
      Übersendung einer E-Mail übermittelt werden, ist Art. 6 Abs. 1 lit. e
      DSGVO.
    </p>
    <h3>3. Zweck der Datenverarbeitung</h3>
    <p>
      Die Verarbeitung der personenbezogenen Daten aus der Eingabemaske dient
      der RWTH Aachen University allein zur Bearbeitung der Kontaktaufnahme. Im
      Falle einer Kontaktaufnahme per E-Mail liegt hieran auch das erforderliche
      berechtigte Interesse an der Verarbeitung der Daten.
    </p>
    <p>
      Die sonstigen während des Absendevorgangs verarbeiteten personenbezogenen
      Daten dienen dazu, einen Missbrauch des Kontaktformulars zu verhindern und
      die Sicherheit der informationstechnischen Systeme der Hochschule
      sicherzustellen.
    </p>
    <h3>4. Dauer der Speicherung</h3>
    <p>
      Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer
      Erhebung nicht mehr erforderlich sind. Für die personenbezogenen Daten aus
      der Eingabemaske des Kontaktformulars und diejenigen, die per E-Mail
      übersandt wurden, ist dies dann der Fall, wenn die jeweilige Konversation
      mit dem Nutzer beendet ist. Beendet ist die Konversation dann, wenn sich
      aus den Umständen entnehmen lässt, dass der betroffene Sachverhalt
      abschließend geklärt ist.
    </p>
    <h3>5. Widerspruchs- und Beseitigungsmöglichkeit</h3>
    <p>
      Der Nutzer hat jederzeit die Möglichkeit, seine Einwilligung zur
      Verarbeitung der personenbezogenen Daten zu widerrufen. Nimmt der Nutzer
      per E-Mail Kontakt mit der RWTH Aachen University auf, so kann er der
      Speicherung seiner personenbezogenen Daten jederzeit widersprechen. In
      einem solchen Fall kann die Konversation nicht fortgeführt werden.
    </p>
    <p>
      Der E-Mail Kontakt zum Widerruf der Einwilligung und zum Widerspruch der
      Speicherung kann über folgende Adresse erfolgen: impressum@rwth-aachen.de
    </p>
    <p>
      Alle personenbezogenen Daten, die im Zuge der Kontaktaufnahme gespeichert
      wurden, werden in diesem Fall gelöscht.
    </p>
    <h2>VIII. Rechte der betroffenen Person</h2>
    <p>
      Werden personenbezogene Daten von Ihnen verarbeitet, sind Sie Betroffener
      i.S.d. DSGVO und es stehen Ihnen folgende Rechte gegenüber dem
      Verantwortlichen zu:
    </p>
    <h3>1. Auskunftsrecht</h3>
    <p>
      Sie können von dem Verantwortlichen eine Bestätigung darüber verlangen, ob
      personenbezogene Daten, die Sie betreffen, von der RWTH Aachen University
      verarbeitet werden.
    </p>
    <p>
      Liegt eine solche Verarbeitung vor, können Sie von dem Verantwortlichen
      über folgende Informationen Auskunft verlangen:
    </p>
    <ol>
      <li>
        die Zwecke, zu denen die personenbezogenen Daten verarbeitet werden;
      </li>
      <li>
        die Kategorien von personenbezogenen Daten, welche verarbeitet werden;
      </li>
      <li>
        die Empfänger bzw. die Kategorien von Empfängern, gegenüber denen die
        Sie betreffenden personenbezogenen Daten offengelegt wurden oder noch
        offengelegt werden;
      </li>
      <li>
        die geplante Dauer der Speicherung der Sie betreffenden
        personenbezogenen Daten oder, falls konkrete Angaben hierzu nicht
        möglich sind, Kriterien für die Festlegung der Speicherdauer;
      </li>
      <li>
        das Bestehen eines Rechts auf Berichtigung oder Löschung der Sie
        betreffenden personenbezogenen Daten, eines Rechts auf Einschränkung der
        Verarbeitung durch den Verantwortlichen oder eines Widerspruchsrechts
        gegen diese Verarbeitung;
      </li>
      <li>das Bestehen eines Beschwerderechts bei einer Aufsichtsbehörde;</li>
      <li>
        alle verfügbaren Informationen über die Herkunft der Daten, wenn die
        personenbezogenen Daten nicht bei der betroffenen Person erhoben werden;
      </li>
      <li>
        das Bestehen einer automatisierten Entscheidungsfindung einschließlich
        Profiling gemäß Art. 22 Abs. 1 und 4 DSGVO und – zumindest in diesen
        Fällen – aussagekräftige Informationen über die involvierte Logik sowie
        die Tragweite und die angestrebten Auswirkungen einer derartigen
        Verarbeitung für die betroffene Person.
      </li>
    </ol>
    <p>
      Ihnen steht das Recht zu, Auskunft darüber zu verlangen, ob die Sie
      betreffenden personenbezogenen Daten in ein Drittland oder an eine
      internationale Organisation übermittelt werden. In diesem Zusammenhang
      können Sie verlangen, über die geeigneten Garantien gem. Art. 46 DSGVO im
      Zusammenhang mit der Übermittlung unterrichtet zu werden.
    </p>
    <p>
      Dieses Auskunftsrecht kann insoweit beschränkt werden, als es
      voraussichtlich die Verwirklichung der Forschungs- oder Statistikzwecke
      unmöglich macht oder ernsthaft beeinträchtigt und die Beschränkung für die
      Erfüllung der Forschungs- oder Statistikzwecke notwendig ist.
    </p>
    <h3>2. Recht auf Berichtigung</h3>
    <p>
      Sie haben ein Recht auf Berichtigung und/oder Vervollständigung gegenüber
      dem Verantwortlichen, sofern die verarbeiteten personenbezogenen Daten,
      die Sie betreffen, unrichtig oder unvollständig sind. Der Verantwortliche
      hat die Berichtigung unverzüglich vorzunehmen.
    </p>
    <p>
      Ihr Recht auf Berichtigung kann insoweit beschränkt werden, als es
      voraussichtlich die Verwirklichung der Forschungs- oder Statistikzwecke
      unmöglich macht oder ernsthaft beeinträchtigt und die Beschränkung für die
      Erfüllung der Forschungs- oder Statistikzwecke notwendig ist.
    </p>
    <h3>3. Recht auf Einschränkung der Verarbeitung</h3>
    <p>
      Unter den folgenden Voraussetzungen können Sie die Einschränkung der
      Verarbeitung der Sie betreffenden personenbezogenen Daten verlangen:
    </p>
    <ol>
      <li>
        wenn Sie die Richtigkeit der Sie betreffenden personenbezogenen für eine
        Dauer bestreiten, die es dem Verantwortlichen ermöglicht, die
        Richtigkeit der personenbezogenen Daten zu überprüfen;
      </li>
      <li>
        die Verarbeitung unrechtmäßig ist und Sie die Löschung der
        personenbezogenen Daten ablehnen und stattdessen die Einschränkung der
        Nutzung der personenbezogenen Daten verlangen;
      </li>
      <li>
        der Verantwortliche die personenbezogenen Daten für die Zwecke der
        Verarbeitung nicht länger benötigt, Sie diese jedoch zur Geltendmachung,
        Ausübung oder Verteidigung von Rechtsansprüchen benötigen, oder
      </li>
      <li>
        wenn Sie Widerspruch gegen die Verarbeitung gemäß Art. 21 Abs. 1 DSGVO
        eingelegt haben und noch nicht feststeht, ob die berechtigten Gründe des
        Verantwortlichen gegenüber Ihren Gründen überwiegen.
      </li>
    </ol>
    <p>
      Wurde die Verarbeitung der Sie betreffenden personenbezogenen Daten
      eingeschränkt, dürfen diese Daten – von ihrer Speicherung abgesehen – nur
      mit Ihrer Einwilligung oder zur Geltendmachung, Ausübung oder Verteidigung
      von Rechtsansprüchen oder zum Schutz der Rechte einer anderen natürlichen
      oder juristischen Person oder aus Gründen eines wichtigen öffentlichen
      Interesses der Union oder eines Mitgliedstaats verarbeitet werden.
    </p>
    <p>
      Wurde die Einschränkung der Verarbeitung nach den o.g. Voraussetzungen
      eingeschränkt, werden Sie von dem Verantwortlichen unterrichtet bevor die
      Einschränkung aufgehoben wird.
    </p>
    <p>
      Ihr Recht auf Einschränkung der Verarbeitung kann insoweit beschränkt
      werden, als es voraussichtlich die Verwirklichung der Forschungs- oder
      Statistikzwecke unmöglich macht oder ernsthaft beeinträchtigt und die
      Beschränkung für die Erfüllung der Forschungs- oder Statistikzwecke
      notwendig ist.
    </p>
    <h3>4. Recht auf Löschung</h3>
    <h4>Löschungspflicht</h4>
    <p>
      Sie können von dem Verantwortlichen verlangen, dass die Sie betreffenden
      personenbezogenen Daten unverzüglich gelöscht werden, und der
      Verantwortliche ist verpflichtet, diese Daten unverzüglich zu löschen,
      sofern einer der folgenden Gründe zutrifft:
    </p>
    <ol>
      <li>
        Die Sie betreffenden personenbezogenen Daten sind für die Zwecke, für
        die sie erhoben oder auf sonstige Weise verarbeitet wurden, nicht mehr
        notwendig.
      </li>
      <li>
        Sie widerrufen Ihre Einwilligung, auf die sich die Verarbeitung gem.
        Art. 6 Abs. 1 lit. a oder Art. 9 Abs. 2 lit. a DSGVO stützte, und es
        fehlt an einer anderweitigen Rechtsgrundlage für die Verarbeitung.
      </li>
      <li>
        Sie legen gem. Art. 21 Abs. 1 DSGVO Widerspruch gegen die Verarbeitung
        ein und es liegen keine vorrangigen berechtigten Gründe für die
        Verarbeitung vor, oder Sie legen gem. Art. 21 Abs. 2 DSGVO Widerspruch
        gegen die Verarbeitung ein.
      </li>
      <li>
        Die Sie betreffenden personenbezogenen Daten wurden unrechtmäßig
        verarbeitet.
      </li>
      <li>
        Die Löschung der Sie betreffenden personenbezogenen Daten ist zur
        Erfüllung einer rechtlichen Verpflichtung nach dem Unionsrecht oder dem
        Recht der Mitgliedstaaten erforderlich, dem der Verantwortliche
        unterliegt.
      </li>
      <li>
        Die Sie betreffenden personenbezogenen Daten wurden in Bezug auf
        angebotene Dienste der Informationsgesellschaft gemäß Art. 8 Abs. 1
        DSGVO erhoben.
      </li>
    </ol>
    <h4>Information an Dritte</h4>
    <p>
      Hat der Verantwortliche die Sie betreffenden personenbezogenen Daten
      öffentlich gemacht und ist er gem. Art. 17 Abs. 1 DSGVO zu deren Löschung
      verpflichtet, so trifft er unter Berücksichtigung der verfügbaren
      Technologie und der Implementierungskosten angemessene Maßnahmen, auch
      technischer Art, um für die Datenverarbeitung Verantwortliche, die die
      personenbezogenen Daten verarbeiten, darüber zu informieren, dass Sie als
      betroffene Person von ihnen die Löschung aller Links zu diesen
      personenbezogenen Daten oder von Kopien oder Replikationen dieser
      personenbezogenen Daten verlangt haben.
    </p>
    <h4>Ausnahmen</h4>
    <p>
      Das Recht auf Löschung besteht nicht, soweit die Verarbeitung erforderlich
      ist
    </p>
    <ol>
      <li>
        zur Ausübung des Rechts auf freie Meinungsäußerung und Information;
      </li>
      <li>
        zur Erfüllung einer rechtlichen Verpflichtung, die die Verarbeitung nach
        dem Recht der Union oder der Mitgliedstaaten, dem der Verantwortliche
        unterliegt, erfordert, oder zur Wahrnehmung einer Aufgabe, die im
        öffentlichen Interesse liegt oder in Ausübung öffentlicher Gewalt
        erfolgt, die dem Verantwortlichen übertragen wurde;
      </li>
      <li>
        aus Gründen des öffentlichen Interesses im Bereich der öffentlichen
        Gesundheit gemäß Art. 9 Abs. 2 lit. h und i sowie Art. 9 Abs. 3 DSGVO;
      </li>
      <li>
        für im öffentlichen Interesse liegende Archivzwecke, wissenschaftliche
        oder historische Forschungszwecke oder für statistische Zwecke gem. Art.
        89 Abs. 1 DSGVO, soweit das unter Abschnitt a) genannte Recht
        voraussichtlich die Verwirklichung der Ziele dieser Verarbeitung
        unmöglich macht oder ernsthaft beeinträchtigt, oder
      </li>
      <li>
        zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.
      </li>
    </ol>
    <h3>5. Recht auf Unterrichtung</h3>
    <p>
      Haben Sie das Recht auf Berichtigung, Löschung oder Einschränkung der
      Verarbeitung gegenüber dem Verantwortlichen geltend gemacht, ist dieser
      verpflichtet, allen Empfängern, denen die Sie betreffenden
      personenbezogenen Daten offengelegt wurden, diese Berichtigung oder
      Löschung der Daten oder Einschränkung der Verarbeitung mitzuteilen, es sei
      denn, dies erweist sich als unmöglich oder ist mit einem
      unverhältnismäßigen Aufwand verbunden.
    </p>
    <p>
      Ihnen steht gegenüber dem Verantwortlichen das Recht zu, über diese
      Empfänger unterrichtet zu werden.
    </p>
    <h3>6. Recht auf Datenübertragbarkeit</h3>
    <p>
      Sie haben das Recht, die Sie betreffenden personenbezogenen Daten, die Sie
      dem Verantwortlichen bereitgestellt haben, in einem strukturierten,
      gängigen und maschinenlesbaren Format zu erhalten. Außerdem haben Sie das
      Recht diese Daten einem anderen Verantwortlichen ohne Behinderung durch
      den Verantwortlichen, dem die personenbezogenen Daten bereitgestellt
      wurden, zu übermitteln, sofern
    </p>
    <ol>
      <li>
        die Verarbeitung auf einer Einwilligung gem. Art. 6 Abs. 1 lit. a DSGVO
        oder Art. 9 Abs. 2 lit. a DSGVO oder auf einem Vertrag gem. Art. 6 Abs.
        1 lit. b DSGVO beruht und
      </li>
      <li>die Verarbeitung mithilfe automatisierter Verfahren erfolgt.</li>
    </ol>
    <p>
      In Ausübung dieses Rechts haben Sie ferner das Recht, zu erwirken, dass
      die Sie betreffenden personenbezogenen Daten direkt von einem
      Verantwortlichen einem anderen Verantwortlichen übermittelt werden, soweit
      dies technisch machbar ist. Freiheiten und Rechte anderer Personen dürfen
      hierdurch nicht beeinträchtigt werden.
    </p>
    <p>
      Das Recht auf Datenübertragbarkeit gilt nicht für eine Verarbeitung
      personenbezogener Daten, die für die Wahrnehmung einer Aufgabe
      erforderlich ist, die im öffentlichen Interesse liegt oder in Ausübung
      öffentlicher Gewalt erfolgt, die dem Verantwortlichen übertragen wurde.
    </p>
    <h3>7. Widerspruchsrecht</h3>
    <p>
      Sie haben das Recht, aus Gründen, die sich aus ihrer besonderen Situation
      ergeben, jederzeit gegen die Verarbeitung der Sie betreffenden
      personenbezogenen Daten, die aufgrund von Art. 6 Abs. 1 lit. e oder f
      DSGVO erfolgt, Widerspruch einzulegen; dies gilt auch für ein auf diese
      Bestimmungen gestütztes Profiling.
    </p>
    <p>
      Der Verantwortliche verarbeitet die Sie betreffenden personenbezogenen
      Daten nicht mehr, es sei denn, er kann zwingende schutzwürdige Gründe für
      die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten
      überwiegen, oder die Verarbeitung dient der Geltendmachung, Ausübung oder
      Verteidigung von Rechtsansprüchen.
    </p>
    <p>
      Werden die Sie betreffenden personenbezogenen Daten verarbeitet, um
      Direktwerbung zu betreiben, haben Sie das Recht, jederzeit Widerspruch
      gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten zum
      Zwecke derartiger Werbung einzulegen; dies gilt auch für das Profiling,
      soweit es mit solcher Direktwerbung in Verbindung steht.
    </p>
    <p>
      Widersprechen Sie der Verarbeitung für Zwecke der Direktwerbung, so werden
      die Sie betreffenden personenbezogenen Daten nicht mehr für diese Zwecke
      verarbeitet.
    </p>
    <p>
      Sie haben die Möglichkeit, im Zusammenhang mit der Nutzung von Diensten
      der Informationsgesellschaft – ungeachtet der Richtlinie 2002/58/EG – Ihr
      Widerspruchsrecht mittels automatisierter Verfahren auszuüben, bei denen
      technische Spezifikationen verwendet werden.
    </p>
    <p>
      Sie haben auch das Recht, aus Gründen, die sich aus Ihrer besonderen
      Situation ergeben, bei der Verarbeitung Sie betreffender personenbezogener
      Daten, die zu wissenschaftlichen oder historischen Forschungszwecken oder
      zu statistischen Zwecken gem. Art. 89 Abs. 1 DSGVO erfolgt, dieser zu
      widersprechen.
    </p>
    <p>
      Ihr Widerspruchsrecht kann insoweit beschränkt werden, als es
      voraussichtlich die Verwirklichung der Forschungs- oder Statistikzwecke
      unmöglich macht oder ernsthaft beeinträchtigt und die Beschränkung für die
      Erfüllung der Forschungs- oder Statistikzwecke notwendig ist.
    </p>
    <h3>
      8. Recht auf Widerruf der datenschutzrechtlichen Einwilligungserklärung
    </h3>
    <p>
      Sie haben das Recht, Ihre datenschutzrechtliche Einwilligungserklärung
      jederzeit zu widerrufen. Durch den Widerruf der Einwilligung wird die
      Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten
      Verarbeitung nicht berührt.
    </p>
    <h3>9. Recht auf Beschwerde bei der Aufsichtsbehörde</h3>
    <p>
      Unbeschadet eines anderweitigen verwaltungsrechtlichen oder gerichtlichen
      Rechtsbehelfs steht Ihnen das Recht auf Beschwerde bei einer
      Aufsichtsbehörde, insbesondere in dem Mitgliedstaat ihres Aufenthaltsorts,
      ihres Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes, zu, wenn
      Sie der Ansicht sind, dass die Verarbeitung der Sie betreffenden
      personenbezogenen Daten gegen die DSGVO verstößt.
    </p>
    <p>
      Die Aufsichtsbehörde, bei der die Beschwerde eingereicht wurde,
      unterrichtet den Beschwerdeführer über den Stand und die Ergebnisse der
      Beschwerde einschließlich der Möglichkeit eines gerichtlichen
      Rechtsbehelfs nach Art. 78 DSGVO.
    </p>
    <p>
      Die für die RWTH Aachen University zuständige Aufsichtsbehörde ist die
      Landesbeauftragte für Datenschutz und Informationsfreiheit (NRW). [<a
        class="external"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.ldi.nrw.de/"
        >https://www.ldi.nrw.de/</a
      >]
    </p>
  </div>
{% endblock content %}
{% block javascripts %}
{% endblock javascripts %}
