{% extends "base.html" %} {% block title %}{{ status_code }}{% endblock %}
{% block content %}
  <main>
    <section class="d-flex align-items-center justify-content-center">
      <div class="container">
        <div class="row">
          <div
            class="col-12 text-center d-flex align-items-center justify-content-center"
          >
            <div>
              <h1 class="mt-5">{{ status_message }}</h1>
              <img src="https://http.cat/{{ status_code }}" />
              <script>
                console.error("{{ status_message }}");
              </script>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock content %}
{% block javascripts %}
{% endblock javascripts %}
