{% extends "base.html" %} {% block title %}Home{% endblock %}
{%
  block
  add_to_head
%}
  <script src="../../node_modules/qrcodejs/qrcode.min.js"></script>
  <style>
    .card {
      position: relative;
    }

    .card-img-top {
      width: 100%;
    }

    .dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0px;
    }

    .dropdown-menu > li:hover {
      background-color: lightgray;
    }

    .dropdown-menu > li:hover > div > .username {
      background-color: lightgray;
      border-color: darkgray;
      box-shadow: 0 0 0 0;
    }
  </style>
{% endblock %}
{% block content %}
  <div class="modal fade" id="createGroup_model">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h5 class="modal-title">{{ _("Create new Group") }}</h5>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="groupName">{{ _("Group Name") }}:</label>
              <input
                type="text"
                class="form-control"
                id="groupName"
                maxlength="50"
              />
            </div>
            <br />
            <div class="form-group">
              <label for="groupRoles">{{ _("Role") }}:</label>
              <span class="float-end small"
                >{{ _("(Users joining the group will receive the role)") }}</span
              >

              <select class="form-control form-select" id="groupRoles">
                <option value=""></option>
                {% for role in allowedRoles %}
                  <option value="{{ role }}">{{ role }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              {{ _("Cancel") }}
            </button>
            <button type="submit" class="btn btn-primary" id="createGroupBtn">
              {{ _("Create") }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="rename_model">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ _("Rename Group") }}</h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="groupName">{{ _("Group Name") }}:</label>
              <input
                type="text"
                class="form-control"
                id="groupRename"
                maxlength="50"
              />
              <input type="hidden" id="groupRenameId" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            {{ _("Cancel") }}
          </button>
          <button
            type="button"
            class="btn btn-primary"
            id="renameTourBtn"
            onclick="submitRename()"
          >
            {{ _("Rename") }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="delete_model">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ _("Delete Group") }}</h5>
        </div>
        <div class="modal-body">
          {{ _("Are you sure you want to delete this group?") }}
          <form>
            <input type="hidden" id="groupDeleteId" />
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            {{ _("Cancel") }}
          </button>
          <button
            type="button"
            class="btn btn-danger"
            id="deleteTourBtn"
            onclick="submitDelete()"
          >
            {{ _("Delete") }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="createUser_model">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <b id="create_user_groupname"></b><b>: </b>
            {{ _("Create User") }}
          </h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <div class="d-flex justify-content-between align-items-center">
                <span
                  >{{ _("<b>Choose</b> usernames yourself<br /> or <b>generate</b> them") }}</span
                >
                <div
                  class="input-group input-group-sm justify-content-end"
                  style="width: auto"
                >
                  <input
                    type="number"
                    class="form-control"
                    id="generateUsernamesNumber"
                    value="1"
                    min="1"
                    max="50"
                    width="4em"
                    maxlength="50"
                  />
                  <button
                    type="button"
                    class="btn btn-primary generateUsernames"
                  >
                    {{ _("Generate<br />Usernames") }}
                  </button>
                </div>
              </div>
              <br />
              <label for="groupCreateUsers">
                <b>{{ _("Usernames") }}:</b>
                ({{ pgettext("Usernames","one per line") }})
              </label>
              <div class="m-2">
                <textarea
                  class="form-control"
                  id="groupCreateUsers"
                  name="groupCreateUsers"
                  rows="7"
                ></textarea>
              </div>
              <div id="createErrorMessage" class="m-2 text-danger d-none">
                {{ _("Already existing users") }}:
                <div id="createError" class="mt-2"></div>
              </div>
              <!-- for future direct print of credentials
              <br />
              <ul class="list-unstyled ms-2">
                <li>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="printCredentials"
                      checked
                    />
                    <label class="form-check-label" for="printCredentials">
                      <b>{{ _("Print") }}</b> {{ _("all tokens") }}
                    </label>
                  </div>
                  <ul class="list-unstyled ms-4" id="printCredentialsQR">
                    <li>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="printCredentialsAsQRCodes"
                          checked
                        />
                        <label
                          class="form-check-label"
                          for="printCredentialsAsQRCodes"
                        >
                          {{ _("as ") }}<b>{{ _("QR") }}</b>{{ _("-Codes") }}
                        </label>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
              -->
            </div>
            <input type="hidden" id="groupCreateUserId" />
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            {{ _("Cancel") }}
          </button>
          <button
            type="button"
            class="btn btn-primary"
            id="createUsersToGroupBtn"
            onclick="submitCreateUsersToGroup()"
          >
            {{ _("Create") }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="inviteUser_model">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <b id="invite_user_groupname"></b><b>: </b>
            {{ _("Invite User") }}
          </h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="groupName"><b>{{ _("Invite Users via") }}:</b></label>
              <div class="ms-2">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="invite_via"
                    id="invite_via_email"
                    value="invite_via_email"
                    checked
                  />
                  <label class="form-check-label" for="invite_via_email">
                    {{ _("Email") }}
                    <i
                      class="bi bi-info-circle"
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"
                      title="{{ _("send invite emails to join the group") }}"
                    ></i>
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="invite_via"
                    id="invite_via_username"
                    value="invite_via_username"
                  />
                  <label class="form-check-label" for="invite_via_username">
                    {{ _("Username") }}
                    <i
                      class="bi bi-info-circle"
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"
                      title="{{ _("send invite to users to join the group") }}"
                    ></i>
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="invite_via"
                    id="invite_via_token"
                    value="invite_via_token"
                  />
                  <label class="form-check-label" for="invite_via_token">
                    {{ _("Invite Token") }}
                    <i
                      class="bi bi-info-circle"
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"
                      title="{{ _("generates token which can users redeem") }}"
                    ></i>
                  </label>
                </div>
                <br />
              </div>
              <div id="invite_via_email_section">
                <label for="groupEmails">
                  <b>{{ _("Email") }}:</b>
                  ({{ pgettext("Email","one per line") }})
                </label>
                <div class="m-2">
                  <textarea
                    class="form-control"
                    id="groupEmails"
                    rows="7"
                  ></textarea>
                </div>
                <div
                  id="inviteErrorMessageEmails"
                  class="m-2 text-danger d-none"
                >
                  {{ _("Invalid emails") }}:
                  <div id="inviteErrorEmails" class="m-2"></div>
                </div>
              </div>
              <div id="invite_via_username_section" class="d-none">
                <label for="groupUsers">
                  <b>{{ _("Usernames") }}:</b>
                  ({{ pgettext("Usernames","one per line") }})
                </label>
                <div class="m-2">
                  <textarea
                    class="form-control"
                    id="groupUsers"
                    rows="7"
                  ></textarea>
                </div>
                <div
                  id="inviteErrorMessageUsers"
                  class="m-2 text-danger d-none"
                >
                  {{ _("Users not found") }}:
                  <div id="inviteErrorUsers" class="m-2"></div>
                </div>
                <div
                  id="inviteErrorMessageUsersAlreadyInGroup"
                  class="m-2 text-danger d-none"
                >
                  {{ _("Users already in group") }}:
                  <div id="inviteErrorUsersAlreadyInGroup" class="m-2"></div>
                </div>
              </div>
              <div id="invite_via_token_section" class="d-none">
                <label for="inviteTokenCount"
                  ><b>{{ _("Number of Invite-Tokens") }}:</b></label
                >
                <div class="m-2">
                  <input
                    type="number"
                    class="form-control"
                    id="inviteTokenCount"
                    value="1"
                    min="1"
                    maxlength="50"
                  />
                </div>
                <!-- for future direct print
                <br />
                <ul class="list-unstyled ms-2">
                  <li>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="printToken"
                        checked
                      />
                      <label class="form-check-label" for="printToken">
                        <b>{{ _("Print") }}</b> {{ _("all tokens") }}
                      </label>
                    </div>
                    <ul class="list-unstyled ms-4" id="printTokenQR">
                      <li>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            id="printTokenAsQRCodes"
                            checked
                          />
                          <label
                            class="form-check-label"
                            for="printTokenAsQRCodes"
                          >
                            {{ _("as") }} <b>{{ _("QR") }}</b>{{ _("-Codes") }}
                          </label>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              -->
              </div>
            </div>
            <input type="hidden" id="groupInviteUserId" />
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            {{ _("Cancel") }}
          </button>
          <button
            type="button"
            class="btn btn-primary"
            id="inviteToGroupBtn"
            onclick="submitInviteToGroup()"
          >
            {{ _("Invite") }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="display-4">{{ _("Groups") }}</h1>
      <button
        type="button"
        class="btn btn-primary m-1"
        data-bs-toggle="modal"
        data-bs-target="#createGroup_model"
      >
        {{ _("Create Group") }}
      </button>
    </div>
    <p class="lead" style="margin-left: 4px">
      {{ _("This page displays an overview of the groups you are managing.") }}
    </p>
    <hr class="my-4" />
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
          <div
            class="alert alert-{{ category }} alert-dismissible"
            role="alert"
          >
            {{ message }}
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="row mt-5 mb-5 invisible" id="content">
      {% for group in groups %}
        <div
          class="p-2"
          id="group-{{ group.id }}"
          style="min-width: fit-content"
        >
          <div class="card">
            <div class="card-body">
              <table
                class="table"
                data-name="{{ group.name }}"
                data-id="{{ group.id }}"
                data-roles="{{ group.roles }}"
              >
                <thead>
                  <tr>
                    <th></th>
                    <th>{{ _("Username") }}</th>
                    <th>{{ _("QR") }}</th>
                    <th>{{ _("Email / Invite-Token / Key") }}</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for member in group.members %}
                    {% if member.accepted %}
                      {% if member.created_by == current_user.id %}
                        {% set status = "created" %}
                      {% else %}
                        {% set status = "joined" %}
                      {% endif %}
                    {% else %}
                      {% if member.accepted == 0 %}
                        {% set status = "declined" %}
                      {% else %}
                        {% if member.username %}
                          {% set status = "not joined yet" %}
                        {% else %}
                          {% set status = "not used yet" %}
                        {% endif %}
                      {% endif %}
                    {% endif %}
                    <tr class="member align-middle" data-id="{{ member.id }}">
                      <td class="text-center">
                        {% if status == "created" %}
                          <i
                            class="bi bi-person-heart"
                            data-bs-toggle="tooltip"
                            title="{{ _('created by yourself') }}"
                          ></i>
                        {% elif status == "joined" %}
                          <i
                            class="bi bi-person-check-fill"
                            data-bs-toggle="tooltip"
                            title="{{ _('joined') }}"
                          ></i>
                        {% elif status == "declined" %}
                          <i
                            class="bi bi-x-circle text-danger"
                            data-bs-toggle="tooltip"
                            title="{{ _('invite declined') }}"
                          ></i>
                        {% elif status == "not joined yet" %}
                          <i
                            class="bi bi-hourglass-split"
                            data-bs-toggle="tooltip"
                            title="{{ _('not joined yet') }}"
                          ></i>
                        {% endif %}
                      </td>
                      <td>
                        <span class="copy" data-copy="{{ member.username }}"
                          >{{ member.username }}</span
                        >
                      </td>

                      <td class="text-center">
                        {% if status == "created" %}
                          <i
                            class="bi bi-qr-code-scan"
                            data-username="{{ member.username }}"
                            data-token="{{ member.invite_token }}"
                            data-bs-toggle="tooltip-qr"
                          ></i>
                        {% elif status == "not used yet" %}
                          <i
                            class="bi bi-qr-code-scan"
                            data-username="{{ member.username }}"
                            data-token="{{ member.invite_token }}"
                            data-bs-toggle="tooltip-qr"
                          ></i>
                        {% endif %}
                      </td>

                      <td>
                        <span class="copy" data-copy="{{ member.email }}">
                          {{ member.email or '' }}
                        </span>
                        {% if not member.email and member.invite_email != None %}
                          <span class="copy" data-copy="{{ member.email }}">
                            {{ member.invite_email }}
                          </span>
                        {% endif %}
                        {% if not member.email and not member.invite_email and status != "joined" %}
                          <span
                            class="copy"
                            data-copy="{{ member.invite_token }}"
                          >
                            {{ member.invite_token }}
                          </span>
                          {% if member.created_by == current_user.id %}
                            <i
                              class="bi bi-key-fill"
                              data-bs-toggle="tooltip"
                              title="{{ _('initial password of the account') }}"
                            ></i>
                          {% endif %}
                        {% endif %}
                      </td>
                      <td class="text-end">
                        {% if member.username != current_user.username %}
                          <button
                            type="submit"
                            data-id="{{ member.id }}"
                            class="btn btn-danger btn-sm removeMemberBtn"
                          >
                            <i class="bi bi-trash"></i>
                          </button>
                        {% else %}
                          <button class="btn btn-danger btn-sm invisible">
                            <i class="bi bi-trash"></i>
                          </button>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <link
    href="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.1.8/b-3.2.0/b-colvis-3.2.0/b-html5-3.2.0/b-print-3.2.0/fh-4.0.1/kt-2.12.1/r-3.0.3/datatables.min.css"
    rel="stylesheet"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
  <script src="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.1.8/b-3.2.0/b-colvis-3.2.0/b-html5-3.2.0/b-print-3.2.0/fh-4.0.1/kt-2.12.1/r-3.0.3/datatables.min.js"></script>
  <script>
    $(document).ready(function () {
      $('[data-bs-toggle="tooltip"]').tooltip();
      $('[data-bs-toggle="tooltip-qr"]').each(function (index, element) {
        var $element = $(element);
        var tooltip = new bootstrap.Tooltip(element, {
          title: function () {
            var container = document.createElement("div");
            var title = document.createElement("div");
            var qrCodeContainer = document.createElement("div");
            qrCodeContainer.style.border = "2px solid white";
            qrCodeContainer.style.backgroundColor = "white";
            qrCodeContainer.style.display = "flex";
            qrCodeContainer.style.justifyContent = "center";
            qrCodeContainer.style.alignItems = "center";
            var text = document.createElement("div");

            if ($element.attr("data-username")) {
              title.innerText = "{{ _('Scan to login') }}";
              var url =
                "{{ request.host_url }}home?username=" +
                $element.attr("data-username") +
                "&password=" +
                $element.attr("data-token");

              var usernameElement = document.createElement("div");
              usernameElement.innerText =
                "{{_('Username')}}: " + $element.attr("data-username");
              container.appendChild(text);
              text.appendChild(usernameElement);
              var passwordElement = document.createElement("div");
              passwordElement.innerText =
                "{{_('Password')}}: " + $element.attr("data-token");
              text.appendChild(passwordElement);
            } else {
              title.innerText = "{{ _('Scan to join') }}";
              var url =
                "{{ request.host_url }}home?token=" +
                $element.attr("data-token");
              var tokenElement = document.createElement("div");
              tokenElement.innerText =
                "{{_('Token')}}: " + $element.attr("data-token");
              text.appendChild(tokenElement);
            }
            container.appendChild(title);
            new QRCode(qrCodeContainer, {
              text: url,
              width: 128,
              height: 128,
              colorDark: "#000000",
              colorLight: "#ffffff",
              correctLevel: QRCode.CorrectLevel.L,
            });
            container.appendChild(qrCodeContainer);
            container.appendChild(text);

            var btnGroup = document.createElement("div");
            btnGroup.className = "btn-group btn-group-sm p-2";
            btnGroup.setAttribute("role", "group");

            var shareLink = document.createElement("button");
            shareLink.type = "button";
            shareLink.className =
              "btn bg-white border border-secondary text-dark pe-none";
            shareLink.id = "shareLink";
            shareLink.innerText = url;
            shareLink.style.overflow = "hidden";
            shareLink.style.textOverflow = "ellipsis";
            shareLink.style.whiteSpace = "nowrap";
            shareLink.style.maxWidth = "8em";

            var shareLinkCopy = document.createElement("button");
            shareLinkCopy.type = "button";
            shareLinkCopy.className =
              "btn btn-primary border border-secondary d-inline-block text-truncate copy";
            shareLinkCopy.setAttribute("data-copy", url);

            shareLinkCopy.style.width = "2.5em";

            var clipboardIcon = document.createElement("i");
            clipboardIcon.className = "bi bi-clipboard";
            shareLinkCopy.onclick = function () {
              navigator.clipboard.writeText(url);
              shareLinkCopy.innerHTML = '<i class="bi bi-clipboard-check"></i>';
            };
            shareLinkCopy.appendChild(clipboardIcon);
            btnGroup.appendChild(shareLink);
            btnGroup.appendChild(shareLinkCopy);
            container.appendChild(btnGroup);
            return container;
          },
          html: true,
          trigger: "manual",
          placement: "top",
        });

        $element.on("mouseover", function () {
          tooltip.show();
          $element.css("cursor", "pointer");
        });

        $element.on("mouseout", function () {
          if (!$element.hasClass("tooltip-clicked")) {
            tooltip.hide();
          }
        });

        $element.click(function (e) {
          $('[data-bs-toggle="tooltip-qr"]')
            .not($element)
            .each(function () {
              var tooltip = bootstrap.Tooltip.getInstance(this);
              if (tooltip) {
                tooltip.hide();
                $(this).removeClass("tooltip-clicked");
              }
            });
          $element.addClass("tooltip-clicked");
        });
      });

      $(document).click(function (event) {
        if (!$(event.target).closest('[data-bs-toggle="tooltip-qr"]').length) {
          $('[data-bs-toggle="tooltip-qr"]').each(function () {
            var $element = $(this);
            var tooltip = bootstrap.Tooltip.getInstance(this);
            if (tooltip && !$(event.target).closest(".tooltip").length) {
              tooltip.hide();
              $element.removeClass("tooltip-clicked");
            }
          });
        }
      });

      function printQR(htmlString) {
        var username = $("<div>")
          .html(htmlString)
          .find("[data-username]")
          .data("username");
        var token = $("<div>")
          .html(htmlString)
          .find("[data-token]")
          .data("token");
        if (username && token) {
          var container = document.createElement("div");
          var url =
            "{{ request.host_url }}home?username=" +
            username +
            "&password=" +
            token;
          var qrCode = new QRCode(container, {
            text: url,
            width: 128,
            height: 128,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H,
          });
          var img = document.createElement("img");
          img.src = container.querySelector("canvas").toDataURL("image/png");
          return "{{ _('Scan to login') }}<br />" + img.outerHTML;
        } else if (token) {
          var container = document.createElement("div");
          var url = "{{ request.host_url }}home?token=" + token;
          var qrCode = new QRCode(container, {
            text: url,
            width: 128,
            height: 128,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H,
          });
          var img = document.createElement("img");
          img.src = container.querySelector("canvas").toDataURL("image/png");
          return "{{ _('Scan to join') }}<br />" + img.outerHTML;
        }

        return htmlString;
      }

      const url =
        "{{ g.locale }}" === "de"
          ? "{{ url_for('static', filename='datatables-de-DE.json') }}"
          : "";
      let table = new DataTable(".table", {
        title: "Test",
        language: {
          url: url,
        },
        oLanguage: {
          sSearch: "",
          searchPlaceholder: "{{ _('Search...') }}",
          emptyTable: "{{ _('No users added yet') }}",
        },
        initComplete: function () {
          card = $(this).closest(".card");
          card.find(".top").addClass("d-flex justify-content-between");

          roles = $(this).attr("data-roles")
            ? `&nbsp;({{ _("Role") }}: ${$(this).attr("data-roles")})`
            : "";

          card.find(".top").prepend(`
          <div class="d-flex">
            <strong id="name-${$(this).attr("data-id")}">${$(this).attr("data-name")}</strong>
            ${roles}
            <div class="settings dropdown text-nowrap">
            <button
              class="btn dropdown border-0 p-0"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu">
              <li>
                <button
                  type="button"
                  class="btn text-start renBtn"
                  id="ren-${$(this).attr("data-id")}"
                >
                  <i class="bi bi-pencil"></i>
                  {{ _("Rename") }}
                </button>
              </li>
              <li>
                <button
                  type="button"
                  class="btn text-start delBtn"
                  id="del${$(this).attr("data-id")}"
                >
                  <i class="bi bi-trash"></i>
                  {{ _("Delete") }}
                </button>
              </li>
            </ul>
          </div></div>`);
          card
            .find(".group-bottom")
            .addClass("d-flex justify-content-between mt-2");
          $(this).closest(".card").find(".group-bottom").prepend(`<div>
                <button
                type="button"
                class="btn btn-sm btn-primary m-1 createUserBtn"
                >
                {{ _("Create User") }}
                </button>
                <button
                type="button"
                class="btn btn-sm btn-secondary m-1 inviteUserBtn"
                >
                {{ _("Invite User") }}
                </button>
              </div>`);
          $(this)
            .closest(".card")
            .find(".dt-buttons")
            .before(
              '<div class="d-flex flex-fill align-items-center justify-content-end m-2 text-end d-md-none d-lg-block ">{{_("Print QR-Codes for easy sharing:")}}</div>',
            );
          $(this)
            .closest(".card")
            .find(".renBtn")
            .click(function () {
              console.log("click");
              $("#groupRenameId").val($(this).attr("id").split("-")[1]);
              $("#groupRename").val("");
              $("#groupRename").val(
                $("#name-" + $("#groupRenameId").val()).text(),
              );
              $("#rename_model")
                .on("shown.bs.modal", function () {
                  $("#groupRename").focus();
                })
                .modal("show");
            });

          $(this)
            .closest(".card")
            .find(".delBtn")
            .click(function () {
              $("#groupDeleteId").val($(this).attr("id").split("del")[1]);
              $("#delete_model").modal("show");
            });

          card.find(".createUserBtn").click(function () {
            $("#groupCreateUserId").val(
              $(this).closest(".card").find("table").attr("data-id"),
            );
            $("#create_user_groupname").html(
              $(this).closest(".card").find("table").attr("data-name"),
            );
            $("#createUser_model")
              .on("shown.bs.modal", function () {
                $("#groupCreateUsers").trigger("focus");
              })
              .modal("show");
          });

          card.find(".inviteUserBtn").click(function () {
            $("#groupInviteUserId").val(
              $(this).closest(".card").find("table").attr("data-id"),
            );
            $("#invite_user_groupname").html(
              $(this).closest(".card").find("table").attr("data-name"),
            );
            $("#inviteUser_model")
              .on("shown.bs.modal", function () {
                $("#groupEmails").trigger("focus");
              })
              .modal("show");
          });
        },
        autoWidth: false,
        fixedHeader: true,
        info: false,
        paging: false,
        columnDefs: [{ orderable: false, targets: -1 }],
        dom: '<"top"if>rt<"group-bottom"B>',
        buttons: [
          {
            extend: "print",
            text: '<i class="bi bi-printer"></i> <i class="bi bi-qr-code-scan"></i>',
            exportOptions: {
              format: {
                body: function (data, row, column, node, type) {
                  return printQR(data);
                },
              },
              stripHtml: false,
              columns: ":not(:last-child)",
            },
            customize: function (win) {
              $(win.document.body)
                .find("table")
                .addClass("table-bordered")
                .css("font-size", "inherit");
            },
          },
          {
            extend: "print",
            text: '<i class="bi bi-printer"></i>',
            exportOptions: {
              format: {
                body: function (data, row, column, node, type) {
                  return printQR(data);
                },
              },
              stripHtml: false,
              columns: ":not(:last-child):not(:nth-child(3))",
            },
            customize: function (win) {
              $(win.document.body)
                .find("table")
                .addClass("table-bordered")
                .css("font-size", "inherit");
            },
          },
        ],
      });
    });

    $('[name="invite_via"]').change(function () {
      if ($("#invite_via_email").is(":checked")) {
        $("#inviteToGroupBtn").text("{{_('Invite')}}");
        $("#invite_via_token_section").addClass("d-none");
        $("#invite_via_username_section").addClass("d-none");
        $("#invite_via_email_section").removeClass("d-none");
        $("#groupEmails").trigger("focus");
      } else if ($("#invite_via_username").is(":checked")) {
        $("#inviteToGroupBtn").text("{{_('Invite')}}");
        $("#invite_via_email_section").addClass("d-none");
        $("#invite_via_token_section").addClass("d-none");
        $("#invite_via_username_section").removeClass("d-none");
        $("#groupUsers").trigger("focus");
      } else {
        $("#inviteToGroupBtn").text("{{_('Generate')}}");
        $("#invite_via_email_section").addClass("d-none");
        $("#invite_via_username_section").addClass("d-none");
        $("#invite_via_token_section").removeClass("d-none");
        $("#inviteTokenCount").trigger("focus");
      }
    });

    $("#printToken").change(function () {
      if ($("#printToken").is(":checked")) {
        $("#printTokenQR").removeClass("d-none");
      } else {
        $("#printTokenQR").addClass("d-none");
      }
    });

    $("#printCredentials").change(function () {
      if ($("#printCredentials").is(":checked")) {
        $("#printCredentialsQR").removeClass("d-none");
      } else {
        $("#printCredentialsQR").addClass("d-none");
      }
    });

    $(window).on("load", function () {
      $("header, footer").css(
        "width",
        `calc(${$(".card")[0].scrollWidth + $(".card")[0].getBoundingClientRect().left * 2}px)`,
      );
      $(".container-header").css("width", $(".card")[0].scrollWidth);
      $("#content").removeClass("invisible");
    });

    $("#createGroup_model").submit(function (e) {
      var groupName = $("#groupName").val();
      var groupRoles = $("#groupRoles").val();
      if (groupName) {
        $.ajax({
          url: '{{ url_for("home.create_group") }}',
          type: "POST",
          data: {
            group_name: groupName,
            group_roles: groupRoles,
          },
          success: function (result) {
            location.reload();
          },
          error: function (error) {
            location.reload();
          },
        });
      }
    });

    $(".generateUsernames").click(function () {
      number = parseInt($("#generateUsernamesNumber").val(), 10);
      if (number < 1 || number > 50) {
        alert("{{_('Number of usernames must be between 1 and 50')}}");
        return;
      }
      $.ajax({
        url: '{{ url_for("home.generate_usernames") }}',
        type: "POST",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
        data: JSON.stringify({
          group_id: $("#groupCreateUserId").val(),
          group_name: $("#create_user_groupname").text(),
          number: number,
        }),
        success: function (result) {
          if (
            $("#groupCreateUsers").val() !== "" &&
            !$("#groupCreateUsers").val().endsWith("\n")
          ) {
            $("#groupCreateUsers").val($("#groupCreateUsers").val() + "\n");
          }
          $("#groupCreateUsers").val(
            $("#groupCreateUsers").val() + result.usernames.join("\n") + "\n",
          );
        },
        error: function (error) {
          console.log(error);
        },
      });
    });

    $("#createGroup_model").on("shown.bs.modal", function () {
      $("#groupName").trigger("focus");
    });

    function submitRename() {
      var newName = $("#groupRename").val();
      var group_id = $("#groupRenameId").val();
      if (groupRename) {
        $.ajax({
          url: '{{ url_for("home.rename_group") }}',
          type: "PUT",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
          data: JSON.stringify({
            group_id: group_id,
            newName: newName,
          }),
          success: function (result) {
            location.reload();
          },
          error: function (error) {
            console.log(error);
          },
        });
      }
    }

    function submitDelete() {
      var group_id = $("#groupDeleteId").val();
      $.ajax({
        url: '{{ url_for("home.delete_group") }}',
        type: "DELETE",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
        data: JSON.stringify({
          group_id: group_id,
        }),
        success: function (result) {
          location.reload();
        },
        error: function (error) {
          console.log(error);
        },
      });
    }

    $(".removeMemberBtn").click(function () {
      id = $(this).data("id");
      $.ajax({
        url: '{{ url_for("home.remove_member") }}',
        type: "DELETE",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
        data: JSON.stringify({
          id: id,
        }),
        type: "DELETE",
        success: function (result) {
          $(`tr[data-id=${id}]`)
            .closest("table")
            .DataTable()
            .row($(`tr[data-id=${id}]`))
            .remove()
            .draw();
        },
        error: function (error) {
          console.log(error);
        },
      });
    });

    $(".copy").click(function () {
      var token = $(this).data("copy");
      navigator.clipboard.writeText(token).then(
        function () {
          $(this)
            .tooltip({
              title: "{{ _('Copied!') }}",
              trigger: "manual",
              placement: "top",
            })
            .tooltip("show");

          setTimeout(
            function () {
              $(this).tooltip("hide");
            }.bind(this),
            1000,
          );
        }.bind(this),
      );
    });

    function submitCreateUsersToGroup() {
      var group_id = $("#groupCreateUserId").val();
      var usernames = [
        ...new Set(
          $("#groupCreateUsers").val().trim().split("\n").filter(Boolean),
        ),
      ];
      $.ajax({
        url: '{{ url_for("home.create_users") }}',
        type: "POST",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
        data: JSON.stringify({
          group_id: group_id,
          usernames: usernames,
        }),
        success: function (result) {
          location.reload();
        },
        error: function (error) {
          if (error.responseJSON && error.responseJSON.existing_users) {
            $("#createError").html(
              error.responseJSON.existing_users.join("<br>"),
            );
            $("#createErrorMessage").removeClass("d-none");
          }
        },
      });
    }

    function submitInviteToGroup() {
      var group_id = $("#groupInviteUserId").val();

      if ($("input[name='invite_via']:checked").val() === "invite_via_email") {
        var emails = $("#groupEmails").val().trim().split("\n").filter(Boolean);
        var invalidEmails = emails.filter(
          (email) => !/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email),
        );
        if (invalidEmails.length > 0) {
          $("#inviteErrorEmails").html(invalidEmails.join("<br>"));
          $("#inviteErrorMessageEmails").removeClass("d-none");
        } else {
          $("#inviteErrorMessageEmails").addClass("d-none");
          $.ajax({
            url: '{{ url_for("home.generate_email_invites") }}',
            type: "POST",
            headers: {
              "Content-Type": "application/json",
              Accept: "application/json",
            },
            data: JSON.stringify({
              group_id: group_id,
              emails: emails,
            }),
            success: function (result) {
              location.reload();
            },
            error: function (error) {
              console.log(error);
            },
          });
        }
      } else if (
        $("input[name='invite_via']:checked").val() === "invite_via_username"
      ) {
        var usernames = $("#groupUsers")
          .val()
          .split("\n")
          .map((username) => username.trim())
          .filter((username) => username !== "");
        $.ajax({
          url: '{{ url_for("home.generate_username_invites") }}',
          type: "POST",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
          data: JSON.stringify({
            group_id: group_id,
            usernames: usernames,
          }),
          success: function (result) {
            location.reload();
          },
          error: function (error) {
            if (error.responseJSON.missing_users) {
              $("#inviteErrorUsers").html(
                error.responseJSON.missing_users.join("<br>"),
              );
              $("#inviteErrorMessageUsers").removeClass("d-none");
            } else {
              $("#inviteErrorMessageUsers").addClass("d-none");
            }
            if (error.responseJSON.already_in_group) {
              $("#inviteErrorUsersAlreadyInGroup").html(
                error.responseJSON.already_in_group.join("<br>"),
              );
              $("#inviteErrorMessageUsersAlreadyInGroup").removeClass("d-none");
            } else {
              $("#inviteErrorMessageUsersAlreadyInGroup").addClass("d-none");
            }
          },
        });
      } else {
        $.ajax({
          url: '{{ url_for("home.generate_invites") }}',
          type: "POST",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
          data: JSON.stringify({
            group_id: group_id,
            group_invites: parseInt($("#inviteTokenCount").val()),
          }),
          success: function (result) {
            location.reload();
          },
          error: function (error) {
            console.log(error);
          },
        });
      }
    }
  </script>
{% endblock %}
