{% extends "base.html" %}
{% block content %}
  <div class="text">
    <a id="top" class="hiddenmark"></a>
    <h1>Impressum</h1>
    <h2>Herausgeberin</h2>
    <p>
      Rheinisch-Westfälische Technische Hochschule (RWTH) Aachen<br />Templergraben
      55<br />52062 Aachen (Hausanschrift)<br />52056 Aachen (Postanschrift)
    </p>
    <p>
      Telefon: +49 241 80 1<br />Telefax: +49 241 80 92312<br />E-Mail:
      impressum@rwth-aachen.de
    </p>
    <p>
      Die Rheinisch-Westfälische Technische Hochschule (RWTH) Aachen ist eine
      Körperschaft des öffentlichen Rechts. Sie wird durch den Rektor,
      Univ.-Prof. Dr. rer. nat. Dr. h.c. mult. Ulrich Rüdiger, vertreten.
    </p>
    <h2>Zuständige Aufsichtsbehörde</h2>
    <p>
      Ministerium für Kultur und Wissenschaft des Landes Nordrhein Westfalen,
      Völklinger Straße 49, 40221 Düsseldorf.
    </p>
    <h2>Umsatzsteuer-Identifikationsnummer</h2>
    <p>Gemäß § 27 a Umsatzsteuergesetz: DE 121689807</p>
    <h2>Inhaltliche Verantwortlichkeit</h2>
    <p>
      <span>Ansprechpartner:</span> Lars Bücken<br />
      <br />
      Telefon: +49 241 80 96425<br />
      E-Mail:
      <a class="email" href="mailto:webmaster@lbz.rwth-aachen.de"
        >webmaster@lbz.rwth-aachen.de</a
      >
      <br />
      <br />
      <span>Webmaster:</span> Lars Bücken<br />
      <br />
      Telefon: +49 241 80 96425<br />
      E-Mail:
      <a class="email" href="mailto:webmaster@lbz.rwth-aachen.de"
        >webmaster@lbz.rwth-aachen.de</a
      >
    </p>
    <p>
      Die Webseiten der Zentralen Hochschulverwaltung, der Zentralen
      Einrichtungen, der Gruppenvertretungen, der Institute, Lehrstühle sowie
      Lehr- und Forschungsgebiete werden von den von diesen beauftragten
      Webkoordinatorinnen und Webkoordinatoren beziehungsweise deren Webmastern
      eigenständig betreut. Details zu Fragen der Haftung sind in der
      <a class="internal" href="/datenschutz" target="_self"
        >Datenschutzerklärung</a
      >
      nachzulesen.
    </p>
  </div>
{% endblock content %}
{% block javascripts %}
{% endblock javascripts %}
