{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
  <div class="jumbotron">
    <a class="navbar-brand" href="/view/demo">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="{{ url_for('static', filename='img/brand/logo5.png') }}"
          class="img-fluid z-2"
          style="height: 45vh"
          alt="19squared"
        />
        <video
          autoplay
          loop
          muted
          class="img-fluid position-absolute z-1"
          style="height: 8vh; margin-bottom: 18vh; margin-left: 13vh"
        >
          <source
            src="{{ url_for('static', filename='video/demo.mp4') }}"
            type="video/mp4"
          />
        </video>
      </div>
    </a>

    <h1 class="display-3" style="text-align: center">
      <b>19squared</b> - {{ _("Just more than 360") }}
    </h1>
    <p class="lead" style="text-align: center">
      {{ _("A web application for creating and experiencing interactive 360° tours in extended reality environments.") }}
    </p>
    <div class="d-flex justify-content-center align-items-center">
      <a href="/view/demo" target="_blank" class="btn btn-primary"
        >{{ _("View Demo Tour") }}</a
      >
    </div>
    <hr class="my-4" />
    <div style="text-align: center">
      <p class="lead">
        {{ _("You are currently not logged in. Please") }}
        <a href="{{ url_for('auth.register') }}">{{ _("register") }}</a>
        {{ _("or") }}
        <a href="{{ url_for('auth.login') }}">{{ _("login") }}</a>
        {{ _("with your existing") }}
        {{ _("credentials.") }}
      </p>
    </div>
  </div>
{% endblock %}
