{% extends "base.html" %} {% block title %}Home{% endblock %}
{%
  block
  add_to_head
%}
  <script src="../../node_modules/qrcodejs/qrcode.min.js"></script>
{% endblock %}
{% block content %}
  <div class="modal fade" id="redeem_model">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h5 class="modal-title">{{ _("Join Group") }}</h5>
          </div>
          <div class="modal-body">
            <p>
              {{ _("You should receive the token from your teacher,") }}<br />
              {{ _("otherwise please contact") }}
              {% if contactEmail %}
                <a href="mailto:{{ contactEmail }}">{{ contactEmail }}</a>
              {% else %}
                {{ _("the admin") }}
              {% endif %}
            </p>
            <div class="form-group">
              <label for="tokenName">{{ _("Token") }}:</label>
              <input
                type="text"
                class="form-control"
                id="token"
                maxlength="50"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              {{ _("Cancel") }}
            </button>
            <button type="submit" class="btn btn-primary" id="redeemBtn">
              {{ _("Join") }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="create_model">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h5 class="modal-title">{{ _("Create New Tour") }}</h5>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="projectName">{{ _("Project Name") }}:</label>
              <input
                type="text"
                class="form-control"
                id="projectName"
                maxlength="50"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              {{ _("Cancel") }}
            </button>
            <button type="submit" class="btn btn-primary" id="createTourBtn">
              {{ _("Create") }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="rename_model">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h5 class="modal-title">{{ _("Rename Tour") }}</h5>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="projectName">{{ _("Project Name") }}:</label>
              <input
                type="text"
                class="form-control"
                id="projectRename"
                maxlength="50"
              />
              <input type="hidden" id="projectRenameId" />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              {{ _("Cancel") }}
            </button>
            <button type="submit" class="btn btn-primary" id="renameTourBtn">
              {{ _("Rename") }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="delete_model">
    <div class="modal-dialog">
      <form>
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ _("Delete Project") }}</h5>
          </div>
          <div class="modal-body">
            {{ _("Are you sure you want to delete this tour?") }}
            <input type="hidden" id="projectDeleteId" />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              {{ _("Cancel") }}
            </button>
            <button
              type="submit"
              class="btn btn-danger btn-primary"
              id="deleteTourBtn"
              value="submit"
            >
              {{ _("Delete") }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="modal fade" id="setDemo_model">
    <div class="modal-dialog">
      <form>
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ _("Set as Demo") }}</h5>
          </div>
          <div class="modal-body">
            {{ _("Are you sure you want to change the public demo tour of the home page to this tour?") }}
            <input type="hidden" id="setDemoId" />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              {{ _("Cancel") }}
            </button>
            <button type="submit" class="btn btn-primary" id="setDemoBtn">
              {{ _("Confirm") }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="modal fade" id="confirmCollaborator_modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h5 class="modal-title"></h5>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              {{ _("Cancel") }}
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              id="confirmCollaboratorBtn"
            >
              {{ _("Confirm") }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="qrcodeModal"
    tabindex="-1"
    aria-labelledby="qrcodeModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="qrcodeModalLabel">
            {{ _("Share Tour") }}
          </h5>

          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body text-center">
          <p>{{ _("Scan QR-Code or share link to view tour.") }}</p>
          <div
            style="display: flex; justify-content: center; align-items: center"
            id="qrcodeContainer"
          ></div>
          <br />
          <div class="btn-group" role="group">
            <button
              type="button"
              class="btn btn-white border border-secondary"
              id="shareLink"
            ></button>
            <button
              type="button"
              class="btn btn-primary border border-secondary"
              id="shareLinkCopy"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="{{ _("Copy to clipboard") }}"
            >
              <i class="bi bi-clipboard"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="download_model">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ _("Download Project") }}</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <ol>
            {{ _("<li>Click on <i>Open Full Tour</i></li>") }}
            <li>
              {{ _("Download Tour via Browser") }}
              <ul>
                <li>
                  {{ _("Right-click anywhere on the page or press") }}
                  <b>STRG&nbsp;+&nbsp;S</b>
                </li>
                {{ _("<li>Select <i>Save (Page) As...</i> from the context menu</li>") }}
                {{ _("<li>Choose a destination folder and filename</li>") }}
                {{ _("<li>Click <i>Save</i></li>") }}
              </ul>
            </li>
            <li>
              {{ _("Add") }}
              <span style="font-family: monospace">scale="-1 1 1"</span>
              {{ _("directly after") }}
              <span style="font-family: monospace">&lt;a-sky&gt;</span>
              {{ _("in the saved HTML file.") }}
            </li>
            <li>
              {{ _("Deploy Downloaded Tour") }}
              <ul>
                <li>
                  <b><a href="https://nodejs.org">Node.js</a>: </b>
                  {{ _("Install Node.js and run the following command in the same folder as the HTML is stored") }}:
                  <br /><br />
                  <p style="font-family: monospace">
                    npm&nbsp;i&nbsp;-g&nbsp;five-server@latest<br />&&
                    five-server&nbsp;--port=8000
                  </p>
                </li>
                <li>
                  <b><a href="https://www.python.org/">Python</a>: </b>
                  {{ _("Install Python and run the following command in the same folder as the HTML is stored") }}:
                  <br /><br />
                  <p style="font-family: monospace">
                    py&nbsp;-m&nbsp;http.server
                  </p>
                </li>
                <li>
                  <b>{{ _("Server: ") }}</b>
                  {{ _("Deploy the HTML file and the asset folder on your server and allow users to access the HTML file.") }}
                </li>
              </ul>
            </li>
          </ol>
          {{ _("Do not open the file directly in a browser using the") }}
          <b>file://</b>
          {{ _("protocol since it is not supported due to security issues.") }}
          <form>
            <input type="hidden" id="projectDownloadId" />
          </form>
        </div>
        <div class="modal-footer">
          <a id="projectDownloadHref">
            <button type="button" class="btn btn-primary" id="downloadTourBtn">
              {{ _("Open Full Tour") }}
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="remove_model">
    <div class="modal-dialog">
      <form>
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ _("Remove Tour") }}</h5>
          </div>
          <div class="modal-body">
            {{ _("Are you sure you want to remove this shared tour?") }}
            <input type="hidden" id="projectRemoveId" />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              {{ _("Cancel") }}
            </button>
            <button
              type="submit"
              class="btn btn-danger btn-primary"
              id="removeTourBtn"
            >
              {{ _("Remove") }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="jumbotron">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="display-4">{{ _("My Projects") }}</h1>
      <div class="text-end">
        {%
          if
          current_user.has_permission('edit_group')
        %}
          <a class="btn btn-primary m-1" href="{{ url_for('home.groups') }}">
            {{ _("Manage Groups") }}
          </a>
        {% endif %}
        <button
          type="button"
          class="btn btn-primary m-1"
          data-bs-toggle="modal"
          data-bs-target="#redeem_model"
        >
          {{ _("Join Group") }}
        </button>
      </div>
    </div>
    <p class="lead" style="margin-left: 4px">
      {{ _("This page displays an overview of your projects") }}
    </p>
    <hr class="my-4" />
    <span class="noselect">
      {% if current_user.has_permission('create_tour') %}
        <button
          type="button"
          class="btn btn-primary m-1"
          data-bs-toggle="modal"
          data-bs-target="#create_model"
        >
          {{ _("Create New Tour") }}
        </button>
      {% endif %}
      {% if current_user.has_permission('import_tour') %}
        <button type="button" class="btn btn-primary m-1 impBtn">
          {{ _("Import Tour") }}
        </button>
      {% endif %}
      {% if current_user.has_permission('add_demo_tour') %}
        <button type="button" class="btn btn-primary m-1 samBtn">
          {{ _("Add Demo Tour") }}
        </button>
      {% endif %}
    </span>
  </div>
  <div id="alerts" class="m-3">
    {% for group in pending_groups %}
      <div class="alert alert-dark alert-dismissible" role="alert">
        {{ _("You were invited to the group") }}:
        <b class="me-2">{{ pending_groups[group]['name'] }}</b>
        <div class="d-inline-block">
          <button
            type="button"
            class="btn btn-primary btn-sm me-1"
            data-bs-dismiss="alert"
            aria-label="Close"
            onclick="submitJoin('{{ pending_groups[group]['token'] }}')"
          >
            {{ _("Accept") }}
          </button>
          <button
            type="button"
            class="btn btn-danger btn-sm"
            data-bs-dismiss="alert"
            aria-label="Close"
            onclick="submitDeny('{{ pending_groups[group]['token'] }}')"
          >
            {{ _("Deny") }}
          </button>
        </div>
        <button
          type="button"
          class="btn-close align-middle"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
    {% endfor %}
  </div>
  <div class="row mt-5">
    {% for tour in tours %}
      <div class="col-md-3 p-2 mb-2" id="tour-{{ tour.id }}">
        <div class="card h-100">
          {% if current_user.id == tour.creator_id or tour.currentUser_isEditor %}
            <a href="{{ url_for('home.create_page') }}?id={{ tour.id }}">
              <div class="ratio ratio-1x1">
                {% if tour_dict[tour.id] %}
                  <img
                    src="{{ url_for('base.serve_uploaded_thumbnails', filename=tour_dict[tour.id].asset_id) }}.jpg"
                    class="card-img-top"
                    alt="Tour Preview"
                  />
                {% else %}
                  <img
                    src="{{ url_for('static', filename='img/brand/favicon-512x512.png') }}"
                    class="card-img-top"
                    alt="Tour Preview"
                  />
                {% endif %}
              </div>
            </a>
          {% else %}
            <a href="{{ '/view_tour/%s'%tour.id }}">
              <div class="ratio ratio-1x1">
                {% if tour_dict[tour.id] %}
                  <img
                    src="{{ url_for('base.serve_uploaded_thumbnails', filename=tour_dict[tour.id].asset_id) }}.jpg"
                    class="card-img-top"
                    alt="Tour Preview"
                  />
                {% else %}
                  <img
                    src="{{ url_for('static', filename='img/brand/favicon-512x512.png') }}"
                    class="card-img-top"
                    alt="Tour Preview"
                  />
                {% endif %}
              </div>
            </a>
          {% endif %}
          <div class="settings dropdown position-absolute top-0 start-0">
            <button
              class="btn dropdown border-0"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              id="dropdown-toggle-{{ tour.id }}"
              style="border-top-left-radius: 0 !important; border-top-right-radius: 0 !important; border-bottom-left-radius: 0 !important; background-color: rgba(0, 0, 0, 0.3);"
            >
              {% if tour.shared %}
                {% if tour.creator_id == current_user.id %}
                  <i class="bi bi-people-fill text-white icon-shadow"></i>
                {% else %}
                  <i class="bi bi-people text-white icon-shadow"></i>
                {% endif %}
              {% else %}
                <i class="bi bi-person-add text-white icon-shadow"></i>
              {% endif %}
            </button>
            <ul
              class="dropdown-menu shareList"
              id="dropdown-menu-{{ tour.id }}"
            >
              {% include "create/share.html" %}
            </ul>
          </div>
          <div class="settings dropdown position-absolute top-0 end-0">
            <button
              class="btn dropdown border-0"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="border-top-left-radius: 0 !important; border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important; background-color: rgba(0, 0, 0, 0.3);"
            >
              <i class="bi bi-three-dots-vertical text-white icon-shadow"></i>
            </button>
            <ul class="dropdown-menu text-nowrap">
              <!--
              {% if current_user.has_permission('share_tour') %}
                <li>
                  <button
                    value="{{ url_for('base.view_tour_by_sharestring', id=tour.share_string, _external=True) }}"
                    class="btn text-start shareBtn"
                  >
                    <i class="bi bi-share"></i>
                    {{ _("Share view") }}
                  </button>
                </li>
              {% endif %}
              -->
              {% if current_user.has_permission('export_tour') %}
                <li>
                  <button
                    type="button"
                    class="btn text-start expBtn"
                    id="exp-{{ tour.id }}"
                  >
                    <i class="bi bi-floppy"></i>
                    {{ _("Export") }}
                  </button>
                </li>
              {% endif %}
              <li>
                <button
                  type="button"
                  class="btn text-start dowBtn"
                  id="dow-{{ tour.id }}"
                >
                  <i class="bi bi-download"></i>
                  {{ _("Download") }}
                </button>
              </li>
              {%
                if current_user.has_permission('rename_tour') and tour.creator_id
                == current_user.id
              %}
                <li>
                  <button
                    type="button"
                    class="btn text-start renBtn"
                    id="ren-{{ tour.id }}"
                  >
                    <i class="bi bi-pencil"></i>
                    {{ _("Rename") }}
                  </button>
                </li>
              {% endif %}
              {% if current_user.has_permission('copy_tour') %}
                <li>
                  <button
                    type="button"
                    class="btn text-start copyBtn"
                    id="copy-{{ tour.id }}"
                  >
                    <i class="bi bi-copy"></i>

                    {{ _("Duplicate") }}
                  </button>
                </li>
              {% endif %}
              {%
                if tour.creator_id != current_user.id and not
                tour.sharedGroup
              %}
                <li>
                  <button
                    type="button"
                    class="btn text-start remBtn"
                    id="del-{{ tour.sharedTour_id }}"
                  >
                    <i class="bi bi-trash"></i>
                    {{ _("Remove") }}
                  </button>
                </li>
              {%
                  elif current_user.has_permission('delete_tour') and
                  tour.share_string != "demo" and tour.creator_id == current_user.id
                %}
                <li>
                  <button
                    type="button"
                    class="btn text-start delBtn"
                    id="del-{{ tour.id }}"
                  >
                    <i class="bi bi-trash"></i>
                    {{ _("Delete") }}
                  </button>
                </li>
              {% endif %}
              {% if current_user.has_permission('set_demotour') %}{%
                if
                tour.share_string == "demo"
              %}
                <li>
                  <button type="button" class="btn text-start">
                    <i class="bi bi-house-heart-fill"></i>
                    {{ _("Defined as<br>Public Demo") }}
                  </button>
                </li>
              {% else %}
                <li>
                  <button
                    type="button"
                    class="btn text-start setDemoBtn"
                    id="setDemo-{{ tour.id }}"
                  >
                    <i class="bi bi-house-gear"></i>
                    {{ _("Set as Demo") }}
                  </button>
                </li>
              {% endif %}{% endif %}
            </ul>
          </div>
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              {% if current_user.id == tour.creator_id or tour.currentUser_isEditor %}
                <a
                  class="text-dark text-decoration-none"
                  href="{{ url_for('home.create_page') }}?id={{ tour.id }}"
                >
                  <h5 class="card-title" id="name-{{ tour.id }}">
                    {{ tour.name }}
                  </h5>
                </a>
              {% else %}
                <a
                  class="text-dark text-decoration-none"
                  href="{{ '/view_tour/%s'%tour.id }}"
                >
                  <h5 class="card-title" id="name-{{ tour_id }}">
                    {{ tour.name }}
                  </h5>
                </a>
              {% endif %}
            </div>
          </div>
          {% if current_user.id == tour.creator_id or tour.currentUser_isEditor %}
            <div class="card-footer">
              <div class="d-flex justify-content-center">
                <div
                  class="viewedit btn-group"
                  style="white-space: nowrap;   display: flex;  flex-wrap: wrap;"
                >
                  <a
                    href="{{ '/view_tour/%s'%tour.id }}"
                    class="btn btn-outline-primary btn-sm viewBtn"
                    id="view-{{ tour.id }}"
                  >
                    <i class="bi bi-eye"></i> {{ _("View") }}
                  </a>
                  <a
                    href="{{ url_for('home.create_page') }}?id={{ tour.id }}"
                    class="btn btn-outline-primary btn-sm editBtn"
                    id="edit-{{ tour.id }}"
                  >
                    <i class="bi bi-pencil"></i> {{ _("Edit") }}
                  </a>
                </div>
              </div>
            </div>
          {% else %}
            <div class="card-footer">
              <div class="d-flex justify-content-center">
                <div class="btn-group">
                  <a
                    href="{{ '/view_tour/%s'%tour.id }}"
                    class="btn btn-outline-primary btn-sm viewBtn"
                    id="view-{{ tour.id }}"
                  >
                    <i class="bi bi-eye"></i> {{ _("View") }}
                  </a>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    {% if groups %}
      <div class="alert alert-dark m-3" role="alert">
        {{ _("Your groups") }}:
        {% for group in groups %}
          <span class="badge bg-secondary">{{ groups[group] }}</span>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  <script>
    $(document).ready(function () {
      const urlParams = new URLSearchParams(window.location.search);
      const token = urlParams.get("token");
      if (token) submitJoin(token);

      //fix button border
      $(window)
        .resize(function () {
          $(".viewedit").each(function () {
            if (
              $(this).children().first().offset().left >
              $(this).children().last().offset().left
            ) {
              $(this).addClass("btn-group-vertical").removeClass("btn-group");
            } else {
              $(this).addClass("btn-group").removeClass("btn-group-vertical");
            }
          });
        })
        .resize();
      $(window).on("load", function () {
        $('[data-bs-toggle="tooltip"]').tooltip();
      });
    });

    $(".impBtn").click(function () {
      const importElement = document.createElement("input");
      importElement.type = "file";
      importElement.accept = ".360xr";
      importElement.click();

      importElement.addEventListener("change", () => {
        const reader = new FileReader();
        reader.readAsText(importElement.files[0]);
        reader.onload = () => {
          const importTour = JSON.parse(reader.result);
          $.ajax({
            url: '{{ url_for("home.import_tour") }}',
            type: "POST",
            headers: {
              "Content-Type": "application/json",
              Accept: "application/json",
            },
            data: JSON.stringify({
              tour_name: importTour["tour_name"],
              hotspots: importTour["hotspots"],
              mediapages: importTour["mediapages"],
              assets: importTour["assets"],
            }),
            success: function (result) {
              socket.emit("createTour", {
                tour_id: result["tour_id"],
                user_id: "{{ current_user.id }}",
              });
              location.reload();
            },
            error: function (error) {
              console.log(error);
            },
          });
        };
      });
    });

    $(".samBtn").click(function () {
      const path = "../static/demo.360xr";
      fetch(path)
        .then((response) => response.text())
        .then((result) => {
          const sampleTour = JSON.parse(result);
          $.ajax({
            url: '{{ url_for("home.import_tour") }}',
            type: "POST",
            headers: {
              "Content-Type": "application/json",
              Accept: "application/json",
            },
            data: JSON.stringify({
              tour_name: sampleTour["tour_name"],
              hotspots: sampleTour["hotspots"],
              mediapages: sampleTour["mediapages"],
              assets: sampleTour["assets"],
            }),
            success: function (result) {
              socket.emit("createTour", {
                tour_id: result["tour_id"],
                user_id: "{{ current_user.id }}",
              });
              location.reload();
            },
            error: function (error) {
              console.log(error);
            },
          });
        });
    });

    $(".dropdown-menu").click(function (e) {
      try {
        e.stopPropagation();
        let tour_id = $(this).attr("id").split("-")[2];
        $("#dropdown-toggle-" + tour_id).dropdown("show");
        $('[data-bs-toggle="tooltip"]').tooltip();
      } catch (error) {}
    });

    $(".expBtn").click(function () {
      let tour_id = $(this).attr("id").split("-")[1];
      $.ajax({
        url: '{{ url_for("home.export_tour", tour_id="") }}' + tour_id,
        type: "GET",
        success: function (result) {
          const dataFile = document.createElement("a");
          const tour = JSON.stringify(result, null, 2);
          dataFile.setAttribute(
            "href",
            "data:text/plain;charset=utf-8," + encodeURIComponent(tour),
          );
          dataFile.setAttribute("download", `${result.tour_name}.360xr`);
          dataFile.click();
          const asset = document.createElement("a");
          result.assets.forEach((element) => {
            asset.setAttribute(
              "href",
              `../uploaded_files/${element.filename_id}`,
            );
            asset.setAttribute("download", `${element.filename_id}`);
            asset.click();
          });
          window.alert(
            "{{_('WARNING: Your assets are being exported but you have to make sure to upload them with the same file name after importing the tour.')}}",
          );
        },
        error: function (error) {
          console.log(error);
        },
      });
    });

    $(".dowBtn").click(function () {
      $("#projectDownloadId").val($(this).attr("id").split("-")[1]);
      $("#download_model").modal("show");
    });

    $(".renBtn").click(function () {
      $("#projectRenameId").val($(this).attr("id").split("-")[1]);
      $("#projectRename").val(
        $("#name-" + $("#projectRenameId").val())
          .text()
          .trim(),
      );
      $("#rename_model")
        .on("shown.bs.modal", function () {
          $("#projectRename").focus();
        })
        .modal("show");
    });

    $(".delBtn").click(function () {
      $("#projectDeleteId").val($(this).attr("id").split("-")[1]);
      $("#delete_model").modal("show");
    });

    $(".remBtn").click(function () {
      $("#projectRemoveId").val($(this).attr("id").split("-")[1]);
      $("#remove_model").modal("show");
    });

    $(".copyBtn").click(function () {
      let tour_id = $(this).attr("id").split("-")[1];
      $.ajax({
        url: '{{ url_for("home.copy_tour", tour_id="") }}' + tour_id,
        type: "POST",
        success: function (result) {
          location.reload();
        },
        error: function (error) {
          console.log(error);
        },
      });
    });

    $(".setDemoBtn").click(function () {
      $("#setDemoId").val($(this).attr("id").split("-")[1]);
      $("#setDemo_model").modal("show");
    });

    // Submit modal form on Enter key
    $(".modal").on("shown.bs.modal", function () {
      $(document).on("keydown", (e) => {
        if (e.key === "Enter" && !$(e.target).is("input")) $(this).submit();
      });
    });
    $(".modal").on("hidden.bs.modal", () => $(document).off("keydown"));

    $("#redeem_model").on("shown.bs.modal", function () {
      $("#token").trigger("focus");
    });
    $("#redeem_model").submit(function (e) {
      e.preventDefault();
      token = $("#token").val();
      submitJoin(token);
    });

    function submitJoin(token) {
      $("#redeem_model").modal("hide");
      if (token) {
        $.ajax({
          url: '{{ url_for("home.join_group") }}',
          type: "PUT",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
          data: JSON.stringify({
            token: token,
          }),
          success: function (result) {
            addAlert("success", result.message);
            location.reload();
            window.history.replaceState(
              {},
              document.title,
              window.location.pathname,
            );
          },
          error: function (error) {
            addAlert("danger", error.responseJSON.message);
          },
        });
      }
    }

    function submitDeny(token) {
      if (token) {
        $.ajax({
          url: '{{ url_for("home.deny_group") }}',
          type: "PUT",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
          data: JSON.stringify({
            token: token,
          }),
          success: function (result) {
            addAlert("success", result.responseJSON.message);
            window.history.replaceState(
              {},
              document.title,
              window.location.pathname,
            );
          },
          error: function (error) {
            $("#redeem_model").modal("hide");
            addAlert("danger", error.responseJSON.message);
          },
        });
      }
    }

    $("#create_model").on("shown.bs.modal", function () {
      $("#projectName").trigger("focus");
    });
    $("#create_model").submit(function (e) {
      e.preventDefault();
      var projectName = $("#projectName").val();
      if (projectName) {
        window.location.href =
          "{{ url_for('home.create_tour') }}?project_name=" + projectName;
        socket.emit("createTour", {
          tour_id: result["tour_id"],
          user_id: "{{ current_user.id }}",
        });
      }
    });

    $("#download_model").on("show.bs.modal", function (event) {
      var tourId = $("#projectDownloadId").val();
      $("#projectDownloadHref").attr("href", "/view_offline/" + tourId);
    });

    $("#rename_model").submit(function (e) {
      e.preventDefault();
      var newName = $("#projectRename").val();
      var tour_id = $("#projectRenameId").val();
      if (newName) {
        $.ajax({
          url: '{{ url_for("home.rename_tour") }}',
          type: "PUT",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
          data: JSON.stringify({
            tour_id: tour_id,
            newName: newName,
          }),
          success: function (result) {
            socket.emit("renameTour", {
              tour_id: tour_id,
              newName: newName,
            });
            location.reload();
          },
          error: function (error) {
            console.log(error);
          },
        });
      }
    });

    $("#delete_model").submit(function (e) {
      e.preventDefault();
      var tour_id = $("#projectDeleteId").val();
      $.ajax({
        url: '{{ url_for("home.delete_tour", tour_id="") }}' + tour_id,
        type: "DELETE",
        success: function (result) {
          socket.emit("deleteTour", {
            tour_id: tour_id,
          });
          $("#delete_model").modal("hide");
        },
        error: function (error) {
          console.log(error);
        },
      });
    });

    $("#remove_model").submit(function (e) {
      e.preventDefault();
      var sharedTour_id = $("#projectRemoveId").val();
      $.ajax({
        url:
          '{{ url_for("home.remove_collaborator", sharedTour_id="") }}' +
          sharedTour_id,
        type: "DELETE",
        success: function (result) {
          socket.emit("removeTour", {
            tour_id: result["tour_id"],
          });
          location.reload();
        },
        error: function (error) {
          console.log(error);
        },
      });
    });

    $("#setDemo_model").submit(function (e) {
      e.preventDefault();
      let tour_id = $("#setDemoId").val();
      $.ajax({
        url: '{{ url_for("home.set_demotour") }}',
        type: "PUT",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
        data: JSON.stringify({
          tour_id: tour_id,
        }),
        success: function (result) {
          location.reload();
        },
        error: function (error) {
          console.log(error);
        },
      });
    });

    function addAlert(type, message) {
      $("#alerts").prepend(`
        <div class="alert alert-${type} alert-dismissible" role="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          ${message}
        </div>
      `);
    }

    var socket = io();
    socket.on("connect", function () {
      // List of tour IDs

      socket.emit("joinLib", {
        tours: "{{ tours|map(attribute='id')|join('') }}",
        groups: "{{ groups|map(attribute='id')|join('') }}",
        user_id: "{{ current_user.id }}",
      });
    });

    socket.on("updateOnlineUsers", function (lists) {
      updateOnlineUsers(lists.tour_id, lists.users, lists.usersView);
    });

    socket.on("createTour", function (data) {
      location.reload();
    });

    socket.on("renameTour", function (data) {
      $("#name-" + data["tour_id"]).text(data["newName"]);
    });

    socket.on("deleteTour", function (data) {
      $("#tour-" + data["tour_id"]).remove();
    });

    socket.on("removeTour", function (data) {
      location.reload();
    });

    socket.on("addCollaborator", function (data) {
      location.reload();
    });

    socket.on("removeCollaborator", function (data) {
      location.reload();
    });

    socket.on("editCollaboratorRights", function (data) {
      location.reload();
    });

    socket.on("addGroup", function (data) {
      location.reload();
    });

    socket.on("removeGroup", function (data) {
      location.reload();
    });

    socket.on("editGroupRights", function (data) {
      location.reload();
    });
  </script>
  {# prettier-ignore-start #}
  <script>
    {% include "create/share.js" %}
  </script>
  {# prettier-ignore-end #}
{% endblock %}
