{% extends "base.html" %}
{% block content %}
  <div class="modal fade" id="delete_model">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ _("Delete Account") }}</h5>
        </div>
        <div class="modal-body">
          <p>{{ _("Are you sure you want to delete your account?") }}</p>
          <p class="text-danger">
            {{ _("All tours and all groups that you has created will also be deleted!") }}
          </p>
          <form>
            <input type="hidden" id="userDeleteId" />
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            {{ _("Cancel") }}
          </button>
          <button
            type="button"
            class="btn btn-danger"
            id="deleteUserBtn"
            onclick="submitDelete()"
          >
            {{ _("Delete") }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="leave_model">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ _("Leave Group") }}</h5>
        </div>
        <div class="modal-body">
          <p>{{ _("Are you sure you want to leave this group?") }}</p>
          <form>
            <input type="hidden" id="groupId" />
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            {{ _("Cancel") }}
          </button>
          <button
            type="button"
            class="btn btn-danger"
            id="removeGroupBtn"
            onclick="submitLeave()"
          >
            {{ _("Remove") }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="text">
    <a id="top" class="hiddenmark"></a>
    <div class="container mt-5 mb-5">
      <h1 class="display-4">{{ _("Profil") }}</h1>
      {% with messages = get_flashed_messages(with_categories=True) %}{%
        if
        messages
      %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}{% endwith %}
      <div class="card">
        <div class="card-body">
          <div class="form-group row mb-3">
            <label class="col-sm-2 col-form-label">{{ _("Username") }}</label>
            <div class="col-sm-10">
              <input
                id="username"
                type="text"
                class="form-control"
                aria-label="readonly input example"
                value="{{ current_user.username }}"
                readonly
                style="background-color: #e9ecef"
              />
            </div>
          </div>
          <div class="form-group row mb-3">
            <label class="col-sm-2 col-form-label">{{ _("E-Mail") }}</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                value="{{ current_user.email or '' }}"
                readonly
                style="background-color: #e9ecef"
              />
            </div>
          </div>
          <div class="form-group row mb-3">
            <label class="col-sm-2 col-form-label">{{ _("Password") }}</label>
            <div class="col-sm-10">
              <div class="input-group">
                <input
                  type="password"
                  class="form-control"
                  value="********"
                  readonly
                  style="background-color: #e9ecef"
                />
                <button
                  type="button"
                  class="btn btn-primary ResetBtn"
                  id="resetPW"
                >
                  {{ _("Reset") }}
                </button>
              </div>
            </div>
          </div>
          {% if g.locales|length > 1 %}
            <div class="form-group row mb-3">
              <label class="col-sm-2 col-form-label">{{ _("Language") }}</label>
              <div class="col-sm-10">
                <select id="languageSelect" class="form-select">
                  {% for lang_code in g.locales %}
                    <option
                      value="{{ lang_code }}"
                      {% if lang_code == current_user.language %}selected{% endif %}
                    >
                      {% if lang_code == 'en' %}{{ _("English") }}{% elif lang_code == 'de' %}{{ _("German") }}{% endif %}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div>
          {% endif %}
          <div class="form-group row mb-3">
            <label class="col-sm-2 col-form-label"
              >{{ _("Roles (Permissions)") }}</label
            >
            <div class="col-sm-10">
              <div class="accordion" id="rolesAccordion">
                {% for role in current_user.roles %}
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ loop.index }}">
                      <button
                        class="accordion-button collapsed pb-3 pt-3"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse{{ loop.index }}"
                        aria-expanded="false"
                        aria-controls="collapse{{ loop.index }}"
                      >
                        <strong>{{ role.name }}</strong>
                      </button>
                    </h2>
                    <div
                      id="collapse{{ loop.index }}"
                      class="accordion-collapse collapse"
                      aria-labelledby="heading{{ loop.index }}"
                    >
                      <div class="accordion-body p-2">
                        <ul>
                          {% for permission in role.permissions.split(',') %}
                            <li>
                              {{ _(permission) }}
                              <i
                                class="bi bi-info-circle"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                title="{{ _(allPermissions[permission]) }}"
                              ></i>
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label class="col-sm-2 col-form-label">{{ _("Groups") }}</label>
            <div class="col-sm-10">
              <div class="accordion" id="groupsAccordion">
                {% for group in groups %}
                  <div class="accordion-item">
                    <h2
                      class="accordion-header"
                      id="groupHeading{{ loop.index }}"
                    >
                      <button
                        class="accordion-button collapsed pb-3 pt-3"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#groupCollapse{{ loop.index }}"
                        aria-expanded="false"
                        aria-controls="groupCollapse{{ loop.index }}"
                      >
                        <strong>{{ group.name }}</strong>&nbsp;
                        {% if group.roles %}
                          ({{ _("Role") }}: {{ group.roles }})
                        {% endif %}
                        <a
                          class="btn btn-dark btn-sm ms-2 leaveBtn"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          data-id="{{ group.id }}"
                          title="{{ _("Leave Group") }}"
                        >
                          <i class="bi bi-box-arrow-left"></i>
                        </a>
                      </button>
                    </h2>
                    <div
                      id="groupCollapse{{ loop.index }}"
                      class="accordion-collapse collapse show"
                      aria-labelledby="groupHeading{{ loop.index }}"
                      data-bs-parent="#groupsAccordion"
                    >
                      <div class="accordion-body p-2">
                        <ul>
                          {% for member in group.members %}{% if member.username %}
                            <li>
                              {{ member.username }}
                              {%
                                if member.username ==
                                group.creator
                              %}
                                ({{ _("Creator") }})
                              {% endif %}
                            </li>
                          {% endif %}{% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label class="col-sm-2 col-form-label">{{ _("Quota") }}</label>
            <div class="col-sm-10" style="margin-top: 5px">
              {{ current_user.used_quota_gb | round(2) }} / {{ givenQuota }} GB
              {% if current_user.individual_quota_gb != None %}
                <br />
                <p style="color: green">
                  {{ _("Your quota has been customized to deviate from the standard quota assigned to your role.") }}
                </p>
              {% endif %}
            </div>
          </div>
          {% if current_user.has_permission('delete_user') %}
            <div class="form-group row mb-3">
              <label class="col-sm-2 col-form-label">{{ _("Account") }}</label>
              <div class="col-sm-10">
                <button
                  type="button"
                  class="btn text-start btn-danger delBtn"
                  id="del"
                >
                  <i class="bi bi-trash"></i> {{ _("Delete Account") }}
                </button>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $('[data-bs-toggle="tooltip"]').tooltip();
    });

    document
      .getElementById("resetPW")
      .addEventListener("click", function (event) {
        $.ajax({
          url: '{{ url_for("auth.forgotten_password") }}',
          type: "POST",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
          data: JSON.stringify({
            username_or_email: document.getElementById("username").value,
          }),
          success: function (result) {
            location.reload();
          },
          error: function (error) {
            location.reload();
          },
        });
      });

    document
      .getElementById("languageSelect")
      .addEventListener("change", function () {
        var selectedLanguage = this.value;
        document.cookie = "language=" + selectedLanguage + "; path=/";
        $.ajax({
          url: '{{ url_for("home.set_language") }}',
          type: "PUT",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
          data: JSON.stringify({
            language: selectedLanguage,
          }),
          success: function (result) {
            location.reload();
          },
          error: function (error) {
            console.log(error);
          },
        });
      });

    function submitDelete() {
      $.ajax({
        url: '{{ url_for("home.delete_user", user_id=current_user.id) }}',
        type: "DELETE",
        success: function (result) {
          location.reload();
        },
        error: function (error) {
          console.log(error);
        },
      });
    }

    function submitLeave() {
      var groupId = document.getElementById("groupId").value;
      console.log(groupId);
      $.ajax({
        url: '{{ url_for("home.remove_from_group") }}',
        type: "DELETE",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
        data: JSON.stringify({
          group_id: groupId,
        }),
        success: function (result) {
          location.reload();
        },
        error: function (error) {
          console.log(error);
        },
      });
    }

    $(".delBtn").click(function () {
      $("#delete_model").modal("show");
    });

    $(".leaveBtn").click(function () {
      $("#groupId").val($(this).data("id"));
      $("#leave_model").modal("show");
    });
  </script>
{% endblock content %}
