{% extends "base.html" %}
{% block content %}
  <div class="modal fade" id="delete_model">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ _("Delete Role") }}</h5>
        </div>
        <div class="modal-body">
          <p>{{ _("Are you sure you want to delete this role?") }}</p>
          <p class="text-danger">
            {{ _("Many users could lose their rights!") }}
          </p>
          <form>
            <input type="hidden" id="roleDeleteId" />
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            {{ _("Cancel") }}
          </button>
          <button
            type="button"
            class="btn btn-danger"
            id="deleteUserBtn"
            onclick="submitDelete()"
          >
            {{ _("Delete") }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="createRole_model">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h5 class="modal-title">{{ _("Create New Role") }}</h5>
          </div>
          <div class="modal-body">
            <div class="form-role">
              <label for="roleName">{{ _("Role Name") }}:</label>
              <input
                type="text"
                class="form-control"
                id="roleName"
                maxlength="50"
              />
            </div>
            <br />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              {{ _("Cancel") }}
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              id="createRoleBtn"
              onclick="submitCreateRole()"
            >
              {{ _("Create") }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="text">
    <a id="top" class="hiddenmark"></a>
    <div class="container mt-5 mb-5">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="display-4">{{ _("Role-Management") }}</h1>
        <button
          type="button"
          class="btn btn-primary m-1 createRoleBtn"
          data-bs-toggle="modal"
          data-bs-target="#createRole_model"
        >
          {{ _("Create Role") }}
        </button>
      </div>
      <div class="card" style="min-width: fit-content">
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>{{ _("Permission / Role") }}</th>
                {% for role in roles %}
                  <th class="text-center">{{ role.name }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for permission in allPermissions %}
                <tr>
                  <td>
                    {{ _(permission) }}
                    <i
                      class="bi bi-info-circle"
                      data-bs-toggle="tooltip"
                      data-bs-placement="top"
                      title="{{ _(allPermissions[permission]) }}"
                    ></i>
                  </td>
                  {% for role in roles %}
                    <td>
                      <div class="form-check d-flex justify-content-center">
                        {% if permission in role.permissions.split(',') %}{%
                          if
                          role.name=="admin"
                        %}
                          <input
                            onclick="updateRolePermission('{{ role.id }}','{{ permission }}', this.checked)"
                            class="form-check-input"
                            type="checkbox"
                            checked
                            disabled
                          />
                        {% else %}
                          <input
                            onclick="updateRolePermission('{{ role.id }}','{{ permission }}', this.checked)"
                            class="form-check-input"
                            type="checkbox"
                            checked
                          />
                        {% endif %}{% else %}{% if role.name=="admin" %}
                          <input
                            onclick="updateRolePermission('{{ role.id }}','{{ permission }}',this.checked)"
                            class="form-check-input"
                            type="checkbox"
                            disabled
                          />
                        {% else %}
                          <input
                            onclick="updateRolePermission('{{ role.id }}','{{ permission }}',this.checked)"
                            class="form-check-input"
                            type="checkbox"
                          />
                        {% endif %}{% endif %}
                      </div>
                    </td>
                  {% endfor %}
                </tr>
              {% endfor %}
              <tr>
                <th>
                  {{ _("Allow to add role to a group") }}
                  <i
                    class="bi bi-info-circle-fill"
                    data-bs-toggle="tooltip"
                    title="{{ _("Attention! Any user with the permission to create a group can assign these roles!") }}"
                  ></i>
                </th>
                {% for role in roles %}
                  <td>
                    <div class="form-check d-flex justify-content-center">
                      {% if role.name=="admin" %}
                        <input
                          class="form-check-input"
                          type="checkbox"
                          disabled
                        />
                      {% else %}
                        {% if role.allow_as_role_in_group %}
                          <input
                            onclick="updateAllowAsRoleInGroup('{{ role.id }}',this.checked)"
                            class="form-check-input"
                            type="checkbox"
                            checked
                          />
                        {% else %}
                          <input
                            onclick="updateAllowAsRoleInGroup('{{ role.id }}',this.checked)"
                            class="form-check-input"
                            type="checkbox"
                          />
                        {% endif %}
                      {% endif %}
                    </div>
                  </td>
                {% endfor %}
              </tr>
              <tr>
                <th>
                  {{ _("Assign to new user") }}
                  <i
                    class="bi bi-info-circle-fill"
                    data-bs-toggle="tooltip"
                    title="{{ _("Every newly registered user gets these roles!") }}"
                  ></i>
                </th>
                {% for role in roles %}
                  <td>
                    <div class="form-check d-flex justify-content-center">
                      {% if role.name=="admin" %}
                        <input
                          class="form-check-input"
                          type="checkbox"
                          disabled
                        />
                      {% else %}
                        {% if role.assign_to_new_user %}
                          <input
                            onclick="updateAssignToNewUser('{{ role.id }}',this.checked)"
                            class="form-check-input"
                            type="checkbox"
                            checked
                          />
                        {% else %}
                          <input
                            onclick="updateAssignToNewUser('{{ role.id }}',this.checked)"
                            class="form-check-input"
                            type="checkbox"
                          />
                        {% endif %}
                      {% endif %}
                    </div>
                  </td>
                {% endfor %}
              </tr>
              <tr class="align-middle">
                <th>
                  {{ _("Quota") }}
                  <i
                    class="bi bi-info-circle-fill"
                    data-bs-toggle="tooltip"
                    title="{{ _("Users receive the highest quota assigned to any of their roles") }}"
                  ></i>
                </th>
                {% for role in roles %}
                  <td>
                    <div class="input-group justify-content-center">
                      <input
                        class="form-control"
                        value="{{ role.default_quota_gb }}"
                        type="number"
                        style="max-width: 80px"
                        id="givenQuota-{{ role.id }}"
                        onchange="const newValue = Math.ceil(this.value); this.value = newValue; resizeRoleQuota(this.id, newValue)"
                        maxlength="50"
                      />
                      <span class="input-group-text"> GB </span>
                    </div>
                  </td>
                {% endfor %}
              </tr>
              <tr>
                <td></td>
                {% for role in roles %}
                  <td>
                    <div class="d-flex justify-content-center">
                      {% if role.name == "admin" %}
                        <button
                          type="button"
                          class="btn text-start btn-danger delBtn"
                          id="del-{{ role.id }}"
                          disabled
                        >
                          <i class="bi bi-trash"></i>
                        </button>
                      {% else %}
                        <button
                          type="button"
                          class="btn text-start btn-danger delBtn"
                          id="del-{{ role.id }}"
                        >
                          <i class="bi bi-trash"></i>
                        </button>
                      {% endif %}
                    </div>
                  </td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $('[data-bs-toggle="tooltip"]').tooltip();
      $("header, footer").css(
        "width",
        `calc(${$(".card")[0].scrollWidth + $(".card")[0].getBoundingClientRect().left * 2}px)`,
      );
    });

    $("#createRole_model").on("shown.bs.modal", function () {
      $("#roleName").trigger("focus");
    });

    function submitCreateRole() {
      var roleName = $("#roleName").val();
      if (roleName) {
        $.ajax({
          url: '{{ url_for("home.create_role") }}',
          type: "POST",
          data: {
            role_name: roleName,
          },
          success: function (result) {
            location.reload();
          },
          error: function (error) {
            console.log(error);
          },
        });
      }
    }

    function updateRolePermission(role, permission, value) {
      $.ajax({
        url: '{{ url_for("home.update_permission_of_role") }}',
        type: "PUT",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
        data: JSON.stringify({
          role: role,
          permission: permission,
          value: value,
        }),
        success: function (result) {},
        error: function (error) {
          console.log(error);
        },
      });
    }

    function updateAllowAsRoleInGroup(role, value) {
      $.ajax({
        url: '{{ url_for("home.update_allow_as_role_in_group") }}',
        type: "PUT",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
        data: JSON.stringify({
          role: role,
          value: value,
        }),
        success: function (result) {},
        error: function (error) {
          console.log(error);
        },
      });
    }

    function updateAssignToNewUser(role, value) {
      $.ajax({
        url: '{{ url_for("home.update_assign_to_new_user") }}',
        type: "PUT",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
        data: JSON.stringify({
          role: role,
          value: value,
        }),
        success: function (result) {},
        error: function (error) {
          console.log(error);
        },
      });
    }

    $(".delBtn").click(function () {
      $("#roleDeleteId").val($(this).attr("id").split("-")[1]);
      $("#delete_model").modal("show");
    });

    function submitDelete() {
      var role_id = $("#roleDeleteId").val();
      $.ajax({
        url: '{{ url_for("home.delete_role", role_id="") }}' + role_id,
        type: "DELETE",
        success: function (result) {
          location.reload();
        },
        error: function (error) {
          console.log(error);
        },
      });
    }

    function resizeRoleQuota(id, quota) {
      $.ajax({
        url: '{{ url_for("home.resize_role_quota") }}',
        type: "PUT",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
        data: JSON.stringify({
          role_id: id.substring(11),
          newQuota: quota,
        }),
        success: function (result) {
          console.log(result);
          //document.getElementById("quotaChangeMessage").style.display = "block";
        },
        error: function (error) {
          console.log(error);
        },
      });
    }
  </script>
{% endblock content %}
