{% extends "base.html" %}
{% block content %}
  <div class="modal fade" id="delete_model">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ _("Delete User") }}</h5>
        </div>
        <div class="modal-body">
          <p>{{ _("Are you sure you want to delete this user?") }}</p>
          <p class="text-danger">
            {{ _("All tours and all groups that this user has created will also be deleted!") }}
          </p>
          <form>
            <input type="hidden" id="userDeleteId" />
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            {{ _("Cancel") }}
          </button>
          <button
            type="button"
            class="btn btn-danger"
            id="deleteUserBtn"
            onclick="submitDelete()"
          >
            {{ _("Delete") }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="text">
    <a id="top" class="hiddenmark"></a>
    <div class="container mt-5 mb-5">
      <div
        class="container-header d-flex justify-content-between align-items-center"
      >
        <h1 class="display-4">{{ _("User-Management") }}</h1>
        <button
          type="button"
          class="btn btn-primary m-1"
          onclick="window.location.href='{{ url_for('home.role_management') }}'"
        >
          {{ _("Role-Management") }}
        </button>
      </div>
      <div class="card invisible fit-content" id="content">
        <div class="card-body">
          <table id="userTable" class="table table-striped">
            <thead>
              <tr>
                <th>{{ _("ID") }}</th>
                <th>{{ _("Name") }}</th>
                <th>{{ _("Email") }}</th>
                <th>{{ _("Roles") }}</th>
                <th>{{ _("Groups") }}</th>
                <th>{{ _("Tours") }}</th>
                <th>{{ _("Quota") }}</th>
                <th>{{ _("Last Login") }}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
                <tr>
                  <td>{{ user.id }}</td>
                  <td>{{ user.username }}</td>
                  <td>{{ user.email or '' }}</td>
                  <td>
                    <select
                      class="form-select roles-select"
                      id="roles-{{ user.id }}"
                      name="roles[]"
                      multiple
                    >
                      <option value=""></option>
                      {% for role in allRoles %}{% if role in user.roles %}
                        <option value="{{ role }}" selected="selected">
                          {{ role }}
                        </option>
                      {% else %}
                        <option value="{{ role }}">{{ role }}</option>
                      {% endif %}{% endfor %}
                    </select>
                  </td>
                  <td>
                    <select
                      class="form-select groups-select"
                      id="groups-{{ user.id }}"
                      name="groups[]"
                      multiple
                    >
                      <option></option>
                      <!-- need for correct listing -->
                      {% for group in allGroups %}{% if group in user.groups %}
                        <option value="{{ group }}" selected="selected">
                          {{ group }}
                        </option>
                      {% else %}
                        <option value="{{ group }}">{{ group }}</option>
                      {% endif %}{% endfor %}
                    </select>
                  </td>
                  <td>
                    <div class="dropdown">
                      <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        id="dropdownMenuButton-{{ user.id }}"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        {{ user.tours | length }}
                      </button>
                      <ul
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuButton-{{ user.id }}"
                      >
                        {% for tour in user.tours %}
                          <a
                            class="text-dark text-decoration-none"
                            href="{{ url_for('home.create_page') }}?id={{ tour.id }}"
                          >
                            <li class="dropdown-item">{{ tour.name }}</li>
                          </a>
                        {% endfor %}
                      </ul>
                    </div>
                  </td>
                  <td>
                    <div class="input-group mb-3 d-inline-flex flex-nowrap">
                      <span class="input-group-text border-0 bg-transparent">
                        {{ user.used_quota_gb | round(2) }} /
                      </span>
                      <input
                        class="form-control"
                        value="{{ user.givenQuota }}"
                        type="number"
                        style="width: 60px"
                        id="givenQuota-{{ user.id }}"
                        onchange="const newValue = Math.ceil(this.value); this.value = newValue; resizeQuota(this.id, newValue)"
                        maxlength="50"
                      />
                      <span class="input-group-text"> GB </span>
                    </div>
                  </td>
                  <td>
                    {{ user.last_login.strftime('%d.%m.%Y %H:%M:%S') if user.last_login else '' }}
                  </td>
                  <td>
                    <!-- prettier-ignore -->
                    <button
                      type="button"
                      class="btn text-start btn-danger delBtn"
                      id="del-{{ user.id }}"
                      {% if user.id == current_user.id %}
                      disabled
                    {% endif %}
                    >
                      <i class="bi bi-trash"></i>
                    </button>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <p
          id="quotaChangeMessage"
          style="color: green; margin-left: 20px; display: none"
        >
          {{ _("The user quota has been updated successfully. Please note that if the user's current asset usage exceeds their new quota, no existing assets will be deleted. However, the user will be restricted from uploading new assets until their usage falls below the quota. The user's quota can be reset to the default value for their role by clearing the input field.") }}
        </p>
      </div>
    </div>
  </div>
  <script>
    function submitDelete() {
      var user_id = $("#userDeleteId").val();
      $.ajax({
        url: '{{ url_for("home.delete_user", user_id="") }}' + user_id,
        type: "DELETE",
        success: function (result) {
          location.reload();
        },
        error: function (error) {
          console.log(error);
        },
      });
    }

    function resizeQuota(id, quota) {
      $.ajax({
        url: '{{ url_for("home.resize_quota") }}',
        type: "PUT",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
        data: JSON.stringify({
          user_id: id.substring(11),
          newQuota: quota,
        }),
        success: function (result) {
          document.getElementById("quotaChangeMessage").style.display = "block";
        },
        error: function (error) {
          console.log(error);
        },
      });
    }
  </script>
  <link
    href="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.1.8/b-3.2.0/b-colvis-3.2.0/b-html5-3.2.0/b-print-3.2.0/fh-4.0.1/kt-2.12.1/r-3.0.3/datatables.min.css"
    rel="stylesheet"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
  <script src="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.1.8/b-3.2.0/b-colvis-3.2.0/b-html5-3.2.0/b-print-3.2.0/fh-4.0.1/kt-2.12.1/r-3.0.3/datatables.min.js"></script>
  <script src="https://cdn.datatables.net/colreorder/2.0.4/js/dataTables.colReorder.js"></script>
  <script src="https://cdn.datatables.net/colreorder/2.0.4/js/colReorder.dataTables.js"></script>

  <!-- Warum geht das nicht so?!
<script type="module"> 
import jszip from '../node_modules/jszip';
import pdfmake from '../node_modules/pdfmake';
import DataTable from '../node_modules/datatables.net-bs5';
import '../node_modules/datatables.net-buttons-bs5';
import '../node_modules/datatables.net-buttons/js/buttons.html5.mjs';
import '../node_modules/datatables.net-buttons/js/buttons.print.mjs';
import '../node_modules/datatables.net-fixedheader-bs5';
</script>
-->
  <script>
    $(document).ready(function () {
      function getSelectedValuesFromString(htmlString) {
        var selectElements = $("<div>").html(htmlString).find("select");
        if (selectElements.length > 0) {
          return selectElements.eq(0).val();
        }
        var inputElements = $("<div>").html(htmlString).find(".input-group");
        if (inputElements.length > 0) {
          const spanValue = $(inputElements)
            .find("span.input-group-text")
            .eq(0)
            .text()
            .trim();
          const inputValue = $(inputElements).find("input").eq(0).val();
          const unit = $(inputElements)
            .find("span.input-group-text")
            .eq(1)
            .text()
            .trim();
          return `${spanValue} ${inputValue} ${unit}`;
        }
        return htmlString;
      }

      const url =
        "{{ g.locale }}" === "de"
          ? "{{ url_for('static', filename='datatables-de-DE.json') }}"
          : "";
      let table = new DataTable("#userTable", {
        //responsive: true, //not woking perfectly, need toggle enabled downwards
        colReorder: true,
        language: {
          url: url,
        },
        oLanguage: {
          sSearch: "",
          searchPlaceholder: "{{ _('Search...') }}",
        },
        paging: true,
        fixedHeader: true,
        pageLength: 50,
        lengthMenu: [
          [10, 25, 50, -1],
          [10, 25, 50, "All"],
        ],
        info: false,
        columnDefs: [{ orderable: false, targets: -1 }],
        dom: '<"top"if>rt<"table-bottom"B<"table-bottom2"lp>>',
        buttons: [
          {
            extend: "print",
            text: '<i class="bi bi-printer"></i>',
            exportOptions: {
              format: {
                body: function (data, row, column, node, type) {
                  return $.fn.DataTable.Buttons.stripData(
                    getSelectedValuesFromString(data),
                    null,
                  );
                },
              },
              columns: ":not(:last-child)",
            },
            customize: function (win) {
              $(win.document.body)
                .find("table")
                .addClass("table-bordered")
                .css("font-size", "inherit");
            },
          },
          {
            extend: "pdfHtml5",
            exportOptions: {
              format: {
                body: function (data, row, column, node, type) {
                  return $.fn.DataTable.Buttons.stripData(
                    getSelectedValuesFromString(data),
                    null,
                  );
                },
              },
              columns: ":not(:last-child)",
            },
            text: '<i class="bi bi-file-earmark-pdf"></i>',
          },
          {
            extend: "excel",
            text: '<i class="bi bi-filetype-xlsx"></i>',
            exportOptions: {
              format: {
                body: function (data, row, column, node, type) {
                  return $.fn.DataTable.Buttons.stripData(
                    getSelectedValuesFromString(data),
                    null,
                  );
                },
              },
              columns: ":not(:last-child)",
            },
          },
        ],
        /* for toggle to responsive table count
        initComplete: function () {
            const searchInput = $('.dt-search input');
            const responsive = $('<button>')
            .addClass('btn btn-secondary me-2')
            .html('<i class="bi bi-window-fullscreen"></i>')
            .attr('title', '{{ _("Adjust column count to screen width") }}')
            .tooltip()
            .on('click', function () {
              $('#content').toggleClass('fit-content');
              table.columns.adjust().responsive.recalc();
            });
            searchInput.before(responsive);
        },
        */
      });
    });
  </script>
  <script type="module">
    import Tags from "../node_modules/bootstrap5-tags/tags.js";
    Tags.init("select", {
      allowClear: true,
      clearEnd: true,
    });

    $(window).on("load", function () {
      // Show the content
      $("header, footer").css(
        "width",
        `calc(${$(".card")[0].scrollWidth + $(".card")[0].getBoundingClientRect().left * 2}px)`,
      );
      $(".container-header").css("width", $(".card")[0].scrollWidth);
      $("#content").removeClass("invisible");
    });

    $(".roles-select").on("change", function () {
      const user_id = $(this).attr("id").split("-")[1];
      const roles = $(this).val();
      const current_user = "{{ current_user.id }}";
      if (user_id == current_user && !roles.includes("admin")) {
        alert("Not a clever idea to remove the admin role from yourself!");
      } else {
        $.ajax({
          url: '{{ url_for("home.update_roles") }}',
          type: "PUT",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
          data: JSON.stringify({
            user_id: user_id,
            roles: roles,
          }),
          success: function (result) {
            //location.reload();
          },
          error: function (error) {
            console.log(error);
          },
        });
      }
    });
    $(".groups-select").on("change", function () {
      const user_id = $(this).attr("id").split("-")[1];
      const groups = $(this).val();
      $.ajax({
        url: '{{ url_for("home.update_groups") }}',
        type: "PUT",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
        data: JSON.stringify({
          user_id: user_id,
          groups: groups,
        }),
        success: function (result) {
          //location.reload();
        },
        error: function (error) {
          console.log(error);
        },
      });
    });

    $(".delBtn").click(function () {
      $("#userDeleteId").val($(this).attr("id").split("-")[1]);
      $("#delete_model").modal("show");
    });
  </script>
{% endblock content %}
