<!doctype html>
<html>
  <head>
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='img/brand/favicon.png') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/brand/favicon.ico') }}"
    />

    <meta charset="utf-8" />
    <title>19squared | View Tour</title>
    <link
      href="{{ url_for('static', filename='css/base_style.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='banner_widget/notification.css') }}"
      rel="stylesheet"
    />
    <script src="{{ url_for('static', filename='../node_modules/aframe/dist/aframe-v1.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='../node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='../node_modules/socket.io/client-dist/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='banner_widget/notification.js') }}"></script>
    {# prettier-ignore-start #}
    <script>
      // Pass the mediapages data to JavaScript
      let _mediapages = {{ mediapages| tojson }};
      let _currentMediapage = null;
      const _mediatypes = {{ mediatypes| tojson }};
      let _AudioPlaying = false;
      let _tour_id = _mediapages[0].tour_id;
    </script>
    {# prettier-ignore-end #}
  </head>

  <body>
    <div id="loading-text">
      <h4>Loading Tour...</h4>
      <div class="loading-spinner"></div>
    </div>
    <a-scene
      mouse-to-world
      id="aframe-scene"
      clickable
      cursor="rayOrigin: mouse"
      style="display: block"
      device-orientation-permission-ui="enabled: true; deviceMotionMessage: 19squared requires access to the motion sensors of your device to enable the immersive magic window mode.; mobileDesktopMessage: Please switch to the mobile browsing mode for an immersive 19squared experience.; httpsMessage: Please switch to HTTPs/SSL for an immersive 19squared experience.;"
    >
      <a-assets>
        <img
          id="asset-hotspot-Move"
          src="{{ url_for('static', filename='img/hotspots/move.png') }}"
        />
        <img
          id="asset-hotspot-Image"
          src="{{ url_for('static', filename='img/hotspots/image.png') }}"
        />
        <img
          id="asset-hotspot-Text"
          src="{{ url_for('static', filename='img/hotspots/text.png') }}"
        />
        <img
          id="asset-hotspot-Audio"
          src="{{ url_for('static', filename='img/hotspots/audio.png') }}"
        />
        <img
          id="asset-hotspot-Video"
          src="{{ url_for('static', filename='img/hotspots/video.png') }}"
        />
        <img
          id="asset-hotspot-Quiz"
          src="{{ url_for('static', filename='img/hotspots/quiz.png') }}"
        />
        <img
          id="asset-hotspot-Combination"
          src="{{ url_for('static', filename='img/hotspots/combination.png') }}"
        />
        <img
          id="asset-TextBox"
          src="{{ url_for('static', filename='img/hotspots/textBox.png') }}"
        />
        <img
          id="asset-ImageBox"
          src="{{ url_for('static', filename='img/hotspots/pictureBox.png') }}"
        />
        <img
          id="asset-back10"
          src="{{ url_for('static', filename='img/player/back10.png') }}"
        />
        <img
          id="asset-forward10"
          src="{{ url_for('static', filename='img/player/forward10.png') }}"
        />
        <img
          id="asset-pause"
          src="{{ url_for('static', filename='img/player/pause.png') }}"
        />
        <img
          id="asset-play"
          src="{{ url_for('static', filename='img/player/play.png') }}"
        />
        <img
          id="asset-seek-back"
          src="{{ url_for('static', filename='img/player/seek-back.png') }}"
        />
        <img
          id="asset-volume-mute"
          src="{{ url_for('static', filename='img/player/volume-mute.png') }}"
        />
        <img
          id="asset-volume-normal"
          src="{{ url_for('static', filename='img/player/volume-normal.png') }}"
        />
        <img
          id="asset-LockImage"
          src="{{ url_for('static', filename='img/hotspots/lock.png') }}"
        />
        <video
          id="my-video"
          src=""
          preload="auto"
          autoplay
          loop
          muted
          crossorigin="anonymous"
        ></video>
      </a-assets>
      <a-entity
        id="my-video-control"
        video-controls="src:#my-video"
        class="clickable"
        scale="0 0 0"
      ></a-entity>
      <a-sky id="sky"></a-sky>
      <a-camera
        look-controls="reverseMouseDrag: true"
        camera-rotation-listener
        wasd-controls-enabled="false"
        ,
        id="cam"
        position="0 0 0"
      ></a-camera>
      <a-light type="ambient" color="#ffffff"></a-light>
      <a-entity
        laser-controls="hand: right"
        raycaster="objects: .clickable"
      ></a-entity>
      <a-entity
        laser-controls="hand: left"
        raycaster="objects: .clickable"
      ></a-entity>
    </a-scene>

    <script>
      let rotationX, rotationY;
      $(document).ready(function () {
        const videoEl = document.querySelector("#my-video");
        const cam = document.querySelector("#cam");
        const hotspot_widget = Notification({
          position: "bottom-left",
          duration: 4000,
          maxOpened: 4,
        });

        //xAPI tracking of camera rotation
        AFRAME.registerComponent("camera-rotation-listener", {
          tick: (function () {
            let lastTickTime = 0;
            const ticksPerSecond = 3;
            const tickInterval = 1000 / ticksPerSecond;
            let lastRotationX = null;
            let lastRotationY = null;

            return function () {
              let now = Date.now();
              if (now - lastTickTime >= tickInterval) {
                rotationX = cam.getAttribute("rotation").x % 360;
                rotationY = cam.getAttribute("rotation").y;

                if (
                  rotationX !== lastRotationX ||
                  rotationY !== lastRotationY
                ) {
                  lrs_event_vr("rotation");
                  lastRotationX = rotationX;
                  lastRotationY = rotationY;
                }
                lastTickTime = now;
              }
            };
          })(),
        });

        function preloadMediapageAsset(mediapage) {
          if (mediapage.media_type === "Video") {
            $("#my-video").attr("src", `/uploaded_files/${mediapage.asset_id}`);
            return;
          }

          const assets = document
            .querySelector("a-scene")
            .querySelector("a-assets");
          const existingAsset = assets.querySelector(`#asset-${mediapage.id}`);
          if (!existingAsset) {
            const img = document.createElement("img");
            img.setAttribute("id", `asset-${mediapage.id}`);
            img.setAttribute("src", `/uploaded_files/${mediapage.asset_id}`);
            assets.appendChild(img);
          }
        }

        function preloadLinkedMediapageAssets(mediapage) {
          const linkedMediapages = mediapage.hotspots
            .filter((hotspot) => hotspot.media_type_id === "Move")
            .map((hotspot) =>
              _mediapages.find(
                (mediapage) => mediapage.id === hotspot.linked_media_page_id,
              ),
            )
            .filter((mediapage) => mediapage !== undefined);

          linkedMediapages.forEach((linkedMediapage) => {
            preloadMediapageAsset(linkedMediapage);
          });
        }

        function preloadHotspotAssets(mediapage) {
          mediapage.hotspots.forEach((hotspot) => {
            const assets = document
              .querySelector("a-scene")
              .querySelector("a-assets");
            const existingAsset = assets.querySelector(
              `#asset-hotspot-${hotspot.id}`,
            );

            if (!existingAsset) {
              if (hotspot.media_type_id === "Video") {
                const video = document.createElement("video");
                video.setAttribute("id", `asset-hotspot-${hotspot.id}`);
                video.setAttribute(
                  "src",
                  `/uploaded_files/${hotspot.presented_media_id}`,
                );
                video.setAttribute("preload", "auto");
                assets.appendChild(video);
              } else if (hotspot.media_type_id === "Image") {
                const img = document.createElement("img");
                img.setAttribute("id", `asset-hotspot-${hotspot.id}`);
                img.setAttribute(
                  "src",
                  `/uploaded_files/${hotspot.presented_media_id}`,
                );
                assets.appendChild(img);
              } else if (hotspot.media_type_id === "Audio") {
                const audio = document.createElement("audio");
                audio.setAttribute("id", `asset-hotspot-${hotspot.id}`);
                audio.setAttribute(
                  "src",
                  `/uploaded_files/${hotspot.presented_media_id}`,
                );
                assets.appendChild(audio);
              }
            }
          });
        }

        // Find the start page
        let startPage = _mediapages.find(function (mediapage) {
          return mediapage.is_start_page;
        });

        // Set the sky to the start page's asset
        if (startPage) {
          //Preload everything for offline view
          if ("{{ full_preload | tojson }}") {
            _mediapages.forEach(function (mp) {
              preloadMediapageAsset(mp);
              preloadHotspotAssets(mp);
            });
          }

          preloadMediapageAsset(startPage);
          changeSkyAndPlanes(startPage.id);
          preloadHotspotAssets(startPage);
          preloadLinkedMediapageAssets(startPage);
        }

        // Function to change the sky to the specified asset
        function changeSky(assetId) {
          changeSkyAndPlanes(assetId);
        }

        //Event for checking if Hotspots should be displayed or not
        videoEl.addEventListener("timeupdate", function () {
          if (videoEl.paused) {
            return;
          }
          let mediapage = _mediapages.find(function (page) {
            return page.id === _currentMediapage;
          });
          mediapage.hotspots.forEach(function (hot) {
            const selector = `#plane-${hot.id}`;
            var plane = document.querySelector(selector);
            let start = hot.starttime;
            let end = hot.endtime;

            if (videoEl.currentTime > start) {
              plane.setAttribute("visible", true);
            } else if (videoEl.currentTime < end) {
              plane.setAttribute("visible", false);
            }
          });
        });

        // Function to change the sky and update planes
        function changeSkyAndPlanes(assetId) {
          return (
            new Promise((resolve) => {
              var videoElControl = document.querySelector("#my-video-control");
              var mediaPage = _mediapages.find((obj) => obj.id == assetId);
              var mediaType = mediaPage.media_type;
              _currentMediapage = assetId;

              if (mediaType == "Video") {
                //Change video source correctnes. Needed when multiple video mediapages are referenced from one mediapage.
                if (
                  !(
                    $("#my-video").attr("src") ===
                    `/uploaded_files/${mediaPage.asset_id}`
                  )
                ) {
                  $("#my-video").attr(
                    "src",
                    `/uploaded_files/${mediaPage.asset_id}`,
                  );
                }

                //$("#sky").attr("src", "#my-video");
                const existingSky = document.querySelector("#sky");
                existingSky.parentNode.removeChild(existingSky);
                const newSky = document.createElement("a-sky");
                newSky.id = "sky";
                newSky.setAttribute("src", "#my-video");
                document.querySelector("a-scene").appendChild(newSky);

                videoElControl.setAttribute("scale", "1 1 1");
                videoElControl.setAttribute("visible", true);
                videoEl.play();
              } else {
                const existingSky = document.querySelector("#sky");
                const newSkyTexture = document.querySelector(
                  "#asset-" + assetId,
                );
                const existingSkySrc = existingSky.getAttribute("src");
                const existingSkyRes = document.querySelector(existingSkySrc);
                const newSkyResolution =
                  newSkyTexture.naturalWidth +
                  "x" +
                  newSkyTexture.naturalHeight;

                if (
                  existingSkyRes &&
                  existingSkyRes.naturalWidth +
                    "x" +
                    existingSkyRes.naturalHeight !==
                    "1080x1080" &&
                  existingSkyRes.naturalWidth +
                    "x" +
                    existingSkyRes.naturalHeight ===
                    newSkyResolution
                ) {
                  // Resolutions are the same, update src directly
                  existingSky.setAttribute("src", "#asset-" + assetId);
                } else {
                  // Resolutions are different, remove and add new sky
                  existingSky.parentNode.removeChild(existingSky);
                  const newSky = document.createElement("a-sky");
                  newSky.id = "sky";
                  newSky.setAttribute("src", "#asset-" + assetId);
                  document.querySelector("a-scene").appendChild(newSky);
                }

                videoElControl.setAttribute("visible", false);
                videoEl.pause();
              }

              // Pause all hotspot videos
              $(".hotspotVideo").each(function () {
                this.pause();
              });

              // Remove all existing planes
              $(".hotspotPlane").remove();

              // Remove all existing hotspots
              $(".hotspot").remove();

              // Find the mediapage with the specified asset ID to change to the mediapage
              let mediapage = _mediapages.find(function (page) {
                return page.id === assetId;
              });

              // Add planes for each hotspot with the same asset ID as the sky
              if (mediapage) {
                mediapage.hotspots.forEach(function (hotspot) {
                  addHotspot(hotspot);
                });
              }
              resolve(mediapage);
            })
              // Preload assets
              .then((mediapage) => {
                preloadHotspotAssets(mediapage);
                preloadLinkedMediapageAssets(mediapage);
              })
          );
        }
        async function hotspotVisited(id) {
          currentPlane = document.getElementById(`plane-${id}`);
          currentPlane.setAttribute("opacity", "0.5");
          _mediapages
            .find((h) => h.id === _currentMediapage)
            .hotspots.find((h) => h.id === id).visited = true;

          //fetch hotspots which should be visible
          const response = await fetch("{{ url_for('base.visitedHotspot') }}", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              Accept: "application/json",
            },
            body: JSON.stringify({ id, _tour_id }),
          });
          if (response.ok) {
            const ret = await response.json();
            console.log(ret);
            if (ret.id == 0) {
              console.log("nix zu machen da bereits besucht");
              return;
            }
            if (ret.length !== 0) {
              ret.forEach(function (hotspot) {
                //check if hotspot is on same mediapage
                const samePage = _mediapages.find(
                  (page) =>
                    page.id === _currentMediapage &&
                    page.hotspots.some((h) => h.id === hotspot),
                );
                let hotspotElement = _mediapages
                  .flatMap((page) => page.hotspots)
                  .find((h) => h.id === hotspot);
                console.log(hotspotElement);

                if (samePage && !hotspotElement.visibleIfLocked) {
                  //make hotspot visible if on same page and not visible with lock
                  let element = document.getElementById(`plane-${hotspot}`);
                  element.setAttribute("visible", "true");
                } else if (samePage && hotspotElement.visibleIfLocked) {
                  //make hotspot visible if on same page and visible with lock
                  let element = document.getElementById(`plane-${hotspot}`);
                  element.setAttribute("opacity", "1");
                  let lock = document.getElementById(`lockplane-${hotspot}`);
                  console.log(lock);
                  lock.remove();
                }
              });
              //show Banner
              console.log(ret);
              hotspot_widget.info({
                title: "Look out!",
                message: "New hotspots available. Go check em out!",
              });
            }
          } else {
            console.error("Failed to fetch hotspot");
          }
        }
        //checks wether a hotspot should be visible due to multiple conditions
        function checkHotspotVisibility(hotspot) {
          const res = hotspot.dependencies.reduce(
            (acc, curr) =>
              acc &&
              _mediapages
                .flatMap((page) => page.hotspots)
                .find((h) => h.id === curr.dependsOn)?.visited,
            true,
          );
          return res;
        }

        function addHotspot(hotspot) {
          let plane = $("<a-plane></a-plane>");
          plane.attr("id", `plane-${hotspot.id}`);
          plane.attr("position", hotspot.position);
          plane.attr("rotation", hotspot.rotation);
          if (
            hotspot.custom_display_icon_id &&
            hotspot.custom_display_icon_id != -1
          ) {
            plane.attr(
              "src",
              `/uploaded_files/${hotspot.custom_display_icon_id}`,
            );
          } else {
            plane.attr("src", `#asset-hotspot-${hotspot.media_type_id}`);
            if (hotspot.visited) {
              plane.attr("opacity", "0.5");
            }
          }
          if (hotspot.visibleIfLocked) {
            plane.attr("material", "alphaTest: 0.1");
          } else {
            plane.attr("material", "transparent: true");
          }
          //plane.attr("src", "#asset-" + hotspot.linked_media_page_id);
          plane.attr("width", "1.7");
          plane.attr("height", "1.7");
          plane.addClass("clickable");
          plane.addClass("hotspotPlane");
          plane.attr(
            "visible",
            checkHotspotVisibility(hotspot) || hotspot.visibleIfLocked
              ? "true"
              : "false",
          );
          addEffects(plane);
          //plane.click(function () {
          //    changeSkyAndPlanes(hotspot.linked_media_page_id);
          //});

          //function to check wether a hotspot is clickable or not due to dependencies
          const isClickable = (h, f) => checkHotspotVisibility(h) && f();

          // Set the media type's image as a texture on the plane
          let mediaTypeImg = _mediatypes[hotspot.media_type_id];
          if (mediaTypeImg) {
            plane.attr("src", "/static/" + mediaTypeImg);
            plane.attr("material", "transparent: true");
          }

          //add Lockplane if the hotspot is locked
          if (
            hotspot.visibleIfLocked &&
            !hotspot.visited &&
            !checkHotspotVisibility(hotspot)
          ) {
            let lockPlane = $("<a-plane></a-plane>");
            lockPlane.attr("id", `lockplane-${hotspot.id}`);
            lockPlane.attr("position", hotspot.position);
            lockPlane.attr("rotation", hotspot.rotation);
            lockPlane.attr("src", "#asset-LockImage");
            lockPlane.attr("material", "transparent: true");
            //lockPlane.attr('material', "alphaTest: 0.5");
            lockPlane.attr("width", "1.7");
            lockPlane.attr("height", "1.7");
            lockPlane.attr("opacity", "0.9");
            addEffects(lockPlane);
            $("a-scene").append(lockPlane);
          }
          // Place the Hotspots in the Scene
          // Check if the media_type_id is "Move"
          if (hotspot.media_type_id === "Move") {
            plane.click(() =>
              isClickable(hotspot, function () {
                hotspotVisited(hotspot.id);
                changeSkyAndPlanes(hotspot.linked_media_page_id);
                lrs_event_vr("movement");
              }),
            );
          } else if (hotspot.media_type_id === "Image") {
            plane.click(() =>
              isClickable(hotspot, function () {
                hotspotVisited(hotspot.id);
                // Prepare and clone position and rotation
                let pos = { ...plane[0].getAttribute("position") };
                let rot = { ...plane[0].getAttribute("rotation") };
                let newPos = calculateNewPosition(
                  `${pos.x} ${pos.y} ${pos.z}`,
                  "0 0 0",
                  2,
                );
                let newPlane = $("<a-plane></a-plane>");
                newPlane.attr("src", "#asset-ImageBox");
                newPlane.attr("position", newPos);
                newPlane.attr("width", "15");
                newPlane.attr("height", "15");
                newPlane.attr("rotation", `${rot.x} ${rot.y} ${rot.z}`);
                newPlane.attr("material", "transparent:true");

                addEffects(newPlane, 1.1);
                let hotspotext = hotspot.desc ? hotspot.desc : "";
                let Imageplane = $("<a-plane></a-plane>");
                //Respect the aspect Ratio
                function extractFilePath(fullUrl) {
                  const match = fullUrl.match(/\/uploaded_files\/.*$/);
                  return match ? match[0] : null;
                }
                getImageSize(
                  extractFilePath(
                    document.getElementById(`asset-hotspot-${hotspot.id}`).src,
                  ),
                  function (width, height) {
                    Imageplane.attr("width", width);
                    Imageplane.attr("height", height);
                  },
                );
                if (hotspot.presented_media_id) {
                  Imageplane.attr(
                    "material",
                    `src: #asset-hotspot-${hotspot.id}`,
                  );
                }
                Imageplane.attr("position", "0 0 0.05");
                newPlane.append(Imageplane);
                //newPlane.attr("text__exampletext", `color: #d6d6d6; value: ${hotspotext};  wrapCount: 41.47; xOffset: 0.38; zOffset: 0.1`);

                newPlane.addClass("clickable");
                newPlane.addClass("hotspot");
                newPlane.click(function () {
                  plane[0].setAttribute("visible", "true");
                  newPlane.remove();
                  lrs_event_vr("close_hotspot");
                });

                $("a-scene").append(newPlane);
                plane[0].setAttribute("visible", "false");
                lrs_event_vr("open_hotspot");
              }),
            );
          } else if (hotspot.media_type_id === "Text") {
            plane.click(() =>
              isClickable(hotspot, function () {
                hotspotVisited(hotspot.id);
                // Prepare and clone position and rotation
                let pos = { ...plane[0].getAttribute("position") };
                let rot = { ...plane[0].getAttribute("rotation") };
                let newPos = calculateNewPosition(
                  `${pos.x} ${pos.y} ${pos.z}`,
                  "0 0 0",
                  2,
                );
                let newPlane = $('<a-plane negate="false"></a-plane>');
                newPlane.attr("src", "#asset-TextBox");
                newPlane.attr("position", newPos);
                newPlane.attr("width", "20");
                newPlane.attr("height", "10");
                newPlane.attr("rotation", `${rot.x} ${rot.y} ${rot.z}`);
                newPlane.attr("material", "transparent:true; opacity: 0.85;");
                addEffects(newPlane, 1.1);
                let hotspotext = hotspot.desc ? hotspot.desc : "";

                newPlane.attr(
                  "text__exampletext",
                  `color: #d6d6d6;
                value: ${hotspotext};
                white-space: nowrap;
                xOffset: 0.12;
                zOffset: 0.1;
                text-align: justify;
                font: {{ url_for('static', filename='fonts/Roboto-Regular-msdf.json') }};
                fontImage: {{ url_for('static', filename='fonts/Roboto-Regular.png') }};
                width: 18.5;
                negate: false;
                side: double`,
                );

                newPlane.addClass("clickable");
                newPlane.addClass("hotspot");
                newPlane.click(function () {
                  plane[0].setAttribute("visible", "true");
                  newPlane.remove();
                  lrs_event_vr("close_hotspot");
                });

                function calculateDistance(pos1, pos2) {
                  let dx = pos1.x - pos2.x;
                  let dy = pos1.y - pos2.y;
                  let dz = pos1.z - pos2.z;
                  return Math.sqrt(dx * dx + dy * dy + dz * dz);
                }

                // Close other hotspots within a certain radius
                let overlapThreshold = 10;
                let newPlanePosition = newPlane.attr("position");
                $(".hotspot")
                  .not(newPlane)
                  .each(function () {
                    let existingPlane = $(this);
                    let existingPlanePosition = existingPlane.attr("position");
                    let distance = calculateDistance(
                      pos,
                      existingPlanePosition,
                    );
                    if (distance < overlapThreshold) {
                      let originalPlane = existingPlane.data("originalPlane");
                      existingPlane.remove();

                      if (originalPlane) {
                        originalPlane[0].setAttribute("visible", "true");
                      }
                    }
                  });
                newPlane.data("originalPlane", plane);

                $("a-scene").append(newPlane);
                plane[0].setAttribute("visible", "false");
                lrs_event_vr("open_hotspot");
              }),
            );
          } else if (hotspot.media_type_id === "Audio") {
            let audio = new Audio(
              `{{ url_for('base.serve_uploaded_file', filename="") }}${hotspot.presented_media_id}`,
            );
            plane.addClass("clickable");
            plane.addClass("hotspot");
            plane.click(() =>
              isClickable(hotspot, function () {
                hotspotVisited(hotspot.id);
                if (!audio.paused) {
                  audio.pause();
                } else {
                  audio.play().catch((error) => {
                    console.log("Audio Error " + error);
                  });
                }
                lrs_event_vr("open_hotspot");
              }),
            );
          } else if (hotspot.media_type_id === "Video") {
            plane.addClass("clickable");
            plane.addClass("hotspot");
            plane.click(() =>
              isClickable(hotspot, function () {
                hotspotVisited(hotspot.id);
                // Prepare and clone position and rotation
                let pos = { ...plane[0].getAttribute("position") };
                let rot = { ...plane[0].getAttribute("rotation") };
                let newPos = calculateNewPosition(
                  `${pos.x} ${pos.y} ${pos.z}`,
                  "0 0 0",
                  2,
                );
                let newPlane = $("<a-plane></a-plane>");
                newPlane.attr("src", "#asset-ImageBox");
                newPlane.attr("id", "#asset-ImageBox");
                newPlane.attr("position", newPos);
                newPlane.attr("width", "15");
                newPlane.attr("height", "15");
                newPlane.attr("rotation", `${rot.x} ${rot.y} ${rot.z}`);
                newPlane.attr("material", "transparent:true");
                newPlane.addClass("clickable");
                newPlane.addClass("hotspot");
                newPlane.click(function () {
                  plane[0].setAttribute("visible", "true");
                  newPlane.remove();
                  lrs_event_vr("close_hotspot");
                });
                //addEffects(newPlane, 1.1);
                let Imageplane = $("<a-plane></a-plane>");

                let video = $(`#asset-hotspot-${hotspot.id}`);
                video.addClass("hotspotVideo");
                let newControl = $("<a-plane></a-plane>");

                // CONTROLS
                let controlBack = $("<a-image></a-image>");
                controlBack.attr("id", "control-back");
                controlBack.attr("material", `src: #asset-seek-back`);
                controlBack.attr("alpha-test", "0.5");
                controlBack.addClass("clickable");
                controlBack.click(function () {
                  event.stopPropagation();
                  video[0].currentTime = 0;
                });

                let controlBack10 = $("<a-image></a-image>");
                controlBack10.attr("id", "control-back");
                controlBack10.attr("material", `src: #asset-back10`);
                controlBack10.attr("alpha-test", "0.5");
                controlBack10.addClass("clickable");
                controlBack10.click(function () {
                  event.stopPropagation();
                  video[0].currentTime = video[0].currentTime - 10;
                });

                let controlPlay = $("<a-image></a-image>");
                controlPlay.attr("id", "control-play");
                controlPlay.attr("material", `src: #asset-pause`);
                controlPlay.attr("alpha-test", "0.5");
                controlPlay.addClass("clickable");
                controlPlay.click(function () {
                  event.stopPropagation();
                  if (video[0].paused) {
                    controlPlay.attr("material", `src: #asset-pause`);
                    video[0].play();
                  } else {
                    controlPlay.attr("material", `src: #asset-play`);
                    video[0].pause();
                  }
                });

                let controlForward10 = $("<a-image></a-image>");
                controlForward10.attr("id", "control-forward10");
                controlForward10.attr("material", `src: #asset-forward10`);
                controlForward10.attr("alpha-test", "0.5");
                controlForward10.addClass("clickable");
                controlForward10.click(function () {
                  event.stopPropagation();
                  video[0].currentTime = video[0].currentTime + 10;
                });

                let controlVolume = $("<a-image></a-image>");
                controlVolume.attr("id", "control-volume");
                controlVolume.attr("material", `src: #asset-volume-normal`);
                controlVolume.attr("alpha-test", "0.5");
                controlVolume.addClass("clickable");
                var mute = false;
                controlVolume.click(function () {
                  event.stopPropagation();
                  mute = !mute;
                  if (mute) {
                    controlVolume.attr("material", `src: #asset-volume-mute`);
                    video[0].muted = true;
                  } else {
                    controlVolume.attr("material", `src: #asset-volume-normal`);
                    video[0].muted = false;
                  }
                });

                newPlane.append(controlBack);
                newPlane.append(controlBack10);
                newPlane.append(controlPlay);
                newPlane.append(controlForward10);
                newPlane.append(controlVolume);

                // PROGRESSBAR
                let progressBar = $("<a-entity></a-entity>");
                progressBar.attr("id", "progress-bar");
                progressBar.attr("height", "0.6");
                /* calculation of the click position on the progress bar is wrong
              progressBar.click(function (e) {
              event.stopPropagation();
              var globalPosition = new THREE.Vector3();
              this.object3D.getWorldPosition(globalPosition);
              console.log(e.detail.intersection.point.x, globalPosition.x, progressBarTrack.attr("width") / 2, e.detail.intersection.point.x - globalPosition.x + (progressBarTrack.attr("width") / 2), video[0].duration);
              var position = e.detail.intersection.point.x - globalPosition.x + progressBarTrack.attr("width") / 2;
              var time = position / progressBarTrack.attr("width") * video[0].duration;
              video[0].currentTime = time;
              });
              */

                let progressBarTrack = $("<a-plane></a-plane>");
                progressBarTrack.attr("id", "progress-bar-track");
                progressBarTrack.attr("height", "0.6");
                progressBarTrack.attr("color", "white");

                let progressBarFill = $("<a-plane></a-plane>");
                progressBarFill.attr("id", "progress-bar-fill");
                progressBarFill.attr("width", "0");
                progressBarFill.attr("height", "0.4");
                progressBarFill.attr("color", "black");
                progressBar.append(progressBarTrack);
                progressBar.append(progressBarFill);
                newPlane.append(progressBar);

                //Respect the aspect Ratio
                getVideoSize(
                  `{{ url_for('base.serve_uploaded_file', filename="") }}${hotspot.presented_media_id}`,
                  function (width, height) {
                    Imageplane.attr("width", width);
                    Imageplane.attr("height", height);

                    controlBack.attr(
                      "position",
                      "-5 " + (-height * 0.5 - 2) + " 0.51",
                    );
                    controlBack10.attr(
                      "position",
                      "-2.5 " + (-height * 0.5 - 2) + " 0.51",
                    );
                    controlPlay.attr(
                      "position",
                      "0 " + (-height * 0.5 - 2) + " 0.51",
                    );
                    controlForward10.attr(
                      "position",
                      "2.5 " + (-height * 0.5 - 2) + " 0.51",
                    );
                    controlVolume.attr(
                      "position",
                      "5 " + (-height * 0.5 - 2) + " 0.51",
                    );
                    progressBarWidth = width * 0.93;
                    progressBar.attr(
                      "position",
                      "0 " + (-height * 0.5 - 0.2) + " 0.6",
                    );
                    progressBar.attr("width", progressBarWidth);
                    progressBarTrack.attr("width", progressBarWidth);
                    progressBarTrack.attr("position", "0 0 0.7");

                    progressBarFill.attr(
                      "position",
                      -progressBarWidth / 2 + " 0 0.8",
                    );
                    video.on("timeupdate", function () {
                      progressBarFill.attr(
                        "position",
                        -progressBarWidth / 2 +
                          ((video[0].currentTime / video[0].duration) *
                            progressBarWidth) /
                            2 +
                          " 0 0.8",
                      );
                      progressBarFill.attr(
                        "width",
                        (video[0].currentTime / video[0].duration) *
                          progressBarWidth,
                      );
                      if (video[0].currentTime >= video[0].duration) {
                        controlPlay.attr("material", `src: #asset-play`);
                        video[0].pause();
                      }
                      //console.log("Aktuelle Wiedergabezeit: " + video[0].currentTime + " von " + video[0].duration);
                    });
                    video[0].play();
                  },
                );

                if (hotspot.presented_media_id) {
                  Imageplane.attr(
                    "material",
                    `src: #asset-hotspot-${hotspot.id}`,
                  );
                }
                //Text should be in Front of the Plane
                Imageplane.attr("position", "0 0 0.05");
                newPlane.append(Imageplane);
                //newPlane.attr("text__exampletext", `color: #d6d6d6; value: ${hotspotext};  wrapCount: 41.47; xOffset: 0.38; zOffset: 0.1`);

                newPlane.addClass("hotspot");

                newPlane.click(function () {
                  video[0].pause();
                  video[0].currentTime = 0;
                  plane[0].setAttribute("visible", "true");
                  newPlane.remove();
                  lrs_event_vr("close_hotspot");
                });

                $("a-scene").append(newPlane);
                plane[0].setAttribute("visible", "false");
                lrs_event_vr("open_hotspot");
              }),
            );
          } else if (hotspot.media_type_id === "Quiz") {
            plane.click(() =>
              isClickable(hotspot, function () {
                quizElements = [];
                // Prepare and clone position and rotation
                let pos = { ...plane[0].getAttribute("position") };
                let rot = { ...plane[0].getAttribute("rotation") };
                let newPos = calculateNewPosition(
                  `${pos.x} ${pos.y} ${pos.z}`,
                  "0 0 0",
                  2,
                );
                let quizEntity = $("<a-entity></a-entity>");
                quizEntity.attr("position", newPos);
                quizEntity.attr("rotation", `${rot.x} ${rot.y} ${rot.z}`);
                let questionPlane = $('<a-plane negate="false"></a-plane>');
                questionPlane.attr("src", "#asset-TextBox");
                questionPlane.attr("position", "0 0 0");
                questionPlane.attr("width", "20");
                questionPlane.attr("height", "6");
                questionPlane.attr(
                  "material",
                  "transparent:true; opacity: 0.85;",
                );
                addEffects(questionPlane, 1.1);
                let hotspotQuestion = hotspot.question ? hotspot.question : "";

                questionPlane.attr(
                  "text__exampletext",
                  `color: #d6d6d6;
                  value: ${hotspotQuestion};
                  white-space: nowrap;
                  xOffset: 0.12;
                  zOffset: 0.1;
                  text-align: justify;
                  font: {{ url_for('static', filename='fonts/Roboto-Regular-msdf.json') }};
                  fontImage: {{ url_for('static', filename='fonts/Roboto-Regular.png') }};
                  width: 18.5;
                  negate: false;
                  side: double`,
                );

                questionPlane.addClass("clickable");
                questionPlane.addClass("hotspot");
                quizElements.push(questionPlane);
                quizEntity.append(questionPlane);
                questionPlane.click(function () {
                  plane[0].setAttribute("visible", "true");
                  console.log(plane);
                  quizElements.forEach((element) => {
                    element.remove();
                  });
                  lrs_event_vr("close_hotspot");
                });
                answers = _mediapages
                  .find((h) => h.id === _currentMediapage)
                  .hotspots.find((h) => h.id === hotspot.id).EscapeRoomAnswers;
                console.log(answers);
                let correctAnswerLength = answers.filter(
                  (answer) => answer.correct,
                ).length;
                answers.forEach((answer, index) => {
                  answer.userInput = false;
                  let answerPlane = $("<a-plane></a-plane>");
                  answerPlane.attr("src", "#asset-TextBox");
                  answerPlane.attr("id", "answerPlane-" + answer.id);
                  let x = 0;
                  let y = parseFloat(newPos.split(" ")[1]);
                  y = -4.5 - index * 3;
                  let z = 0;
                  answerPlane.attr("position", `${x} ${y} ${z}`);
                  answerPlane.attr("width", "20");
                  answerPlane.attr("height", "3");
                  answerPlane.attr(
                    "material",
                    "transparent:true; opacity: 0.85;",
                  );
                  if (hotspot.visited && answer.correct) {
                    answerPlane.attr("color", "green");
                  }
                  addEffects(answerPlane, 1.1);

                  answerPlane.attr(
                    "text__exampletext",
                    `color: #d6d6d6;
                    value: ${answer.answer};
                    white-space: nowrap;
                    xOffset: 0.12;
                    zOffset: 0.1;
                    text-align: justify;
                    font: {{ url_for('static', filename='fonts/Roboto-Regular-msdf.json') }};
                    fontImage: {{ url_for('static', filename='fonts/Roboto-Regular.png') }};
                    width: 18.5;
                    negate: false;
                    side: double`,
                  );

                  answerPlane.addClass("clickable");
                  answerPlane.addClass("hotspot");
                  quizElements.push(answerPlane);
                  answerPlane.click(function () {
                    console.log(hotspot.visited);
                    if (!hotspot.visited) {
                      //Logic for single or multiple choice
                      if (correctAnswerLength > 1) {
                        if (answer.userInput) {
                          answerPlane.attr("color", "#d6d6d6");
                          answer.userInput = false;
                        } else {
                          answer.userInput = true;
                          answerPlane.attr("color", "yellow");
                        }
                      } else {
                        answers.forEach((answer) => {
                          answer.userInput = false;
                          let answerPlane = document.getElementById(
                            "answerPlane-" + answer.id,
                          );
                          answerPlane.setAttribute("color", "#d6d6d6");
                        });
                        answer.userInput = true;
                        answerPlane.attr("color", "yellow");
                      }
                    }
                  });
                  quizEntity.append(answerPlane);
                });
                if (!hotspot.visited) {
                  let validatePlane = $("<a-plane></a-plane>");
                  validatePlane.attr("src", "#asset-TextBox");
                  let x = 0;
                  y = -4.5 - answers.length * 3;
                  let z = 0;
                  validatePlane.attr("position", `${x} ${y} ${z}`);
                  validatePlane.attr("width", "7.5");
                  validatePlane.attr("height", "3");
                  validatePlane.attr(
                    "material",
                    "transparent:true; opacity: 0.85;",
                  );
                  addEffects(validatePlane, 1.1);
                  validatePlane.attr(
                    "text__exampletext",
                    `color: #d6d6d6;
                      value: "VALIDATE";
                      white-space: nowrap;
                      xOffset: 0.12;
                      zOffset: 0.1;
                      align: center;
                      text-align: justify;
                      font: {{ url_for('static', filename='fonts/Roboto-Regular-msdf.json') }};
                      fontImage: {{ url_for('static', filename='fonts/Roboto-Regular.png') }};
                      width: 18.5;
                      negate: false;
                      side: double`,
                  );
                  validatePlane.addClass("clickable");
                  validatePlane.addClass("hotspot");
                  quizElements.push(validatePlane);
                  validatePlane.click(function () {
                    //LOGIC FOR VALIDATING THE QUIZ
                    console.log("validate got clicked");
                    let valid = answers.reduce(
                      (acc, curr) => acc && curr.userInput == curr.correct,
                      true,
                    );
                    if (valid) {
                      hotspotVisited(hotspot.id);
                      quizElements[quizElements.length - 1].remove();
                      colorAnswers("green");
                    } else {
                      colorAnswers("red");
                      hotspot_widget.warning({
                        title: "Close!",
                        message:
                          "The answers are not correct. Try again or visit old hotspots to get new hints!",
                      });
                    }
                  });
                  quizEntity.append(validatePlane);

                  const colorAnswers = (color) =>
                    answers.forEach((answer) => {
                      if (color == "green" && answer.correct) {
                        let answerPlane = document.getElementById(
                          "answerPlane-" + answer.id,
                        );
                        answerPlane.setAttribute("color", color);
                      }
                      if (color == "red") {
                        let answerPlane = document.getElementById(
                          "answerPlane-" + answer.id,
                        );
                        answerPlane.setAttribute("color", color);
                      }
                    });
                }
                function calculateDistance(pos1, pos2) {
                  let dx = pos1.x - pos2.x;
                  let dy = pos1.y - pos2.y;
                  let dz = pos1.z - pos2.z;
                  return Math.sqrt(dx * dx + dy * dy + dz * dz);
                }
                // Close other hotspots within a certain radius
                let overlapThreshold = 10;
                let newPlanePosition = questionPlane.attr("position");
                $(".hotspot")
                  .not(questionPlane)
                  .each(function () {
                    let existingPlane = $(this);
                    let existingPlanePosition = existingPlane.attr("position");
                    let distance = calculateDistance(
                      pos,
                      existingPlanePosition,
                    );
                    if (distance < overlapThreshold) {
                      let originalPlane = existingPlane.data("originalPlane");
                      existingPlane.remove();

                      if (originalPlane) {
                        originalPlane[0].setAttribute("visible", "true");
                      }
                    }
                  });
                questionPlane.data("originalPlane", plane);

                $("a-scene").append(quizEntity);
                plane[0].setAttribute("visible", "false");
                console.log();
                lrs_event_vr("open_hotspot");
              }),
            );
          } else if (hotspot.media_type_id === "Combination") {
            plane.click(() =>
              isClickable(hotspot, function () {
                quizElements = [];
                combination = [];
                let pos = { ...plane[0].getAttribute("position") };
                let rot = { ...plane[0].getAttribute("rotation") };
                let newPos = calculateNewPosition(
                  `${pos.x} ${pos.y} ${pos.z}`,
                  "0 0 0",
                  2,
                );
                let optionEntity = $("<a-entity></a-entity>");
                optionEntity.attr("position", newPos);
                optionEntity.attr("rotation", `${rot.x} ${rot.y} ${rot.z}`);

                let questionPlane = $('<a-plane negate="false"></a-plane>');
                questionPlane.attr("src", "#asset-TextBox");
                questionPlane.attr("position", "0 0 0");
                questionPlane.attr("width", "20");
                questionPlane.attr("height", "6");
                questionPlane.attr(
                  "material",
                  "transparent:true; opacity: 0.85;",
                );
                let hotspotQuestion = hotspot.question ? hotspot.question : "";

                questionPlane.attr(
                  "text__exampletext",
                  `color: #d6d6d6;
                  value: ${hotspotQuestion};
                  white-space: nowrap;
                  xOffset: 0.12;
                  zOffset: 0.1;
                  text-align: justify;
                  font: {{ url_for('static', filename='fonts/Roboto-Regular-msdf.json') }};
                  fontImage: {{ url_for('static', filename='fonts/Roboto-Regular.png') }};
                  width: 18.5;
                  negate: false;
                  side: double`,
                );

                questionPlane.addClass("clickable");
                questionPlane.addClass("hotspot");
                quizElements.push(questionPlane);
                optionEntity.append(questionPlane);
                questionPlane.click(function () {
                  plane[0].setAttribute("visible", "true");
                  console.log(plane);
                  quizElements.forEach((element) => {
                    element.remove();
                  });
                  lrs_event_vr("close_hotspot");
                });
                const correctAnswers = _mediapages
                  .find((h) => h.id === _currentMediapage)
                  .hotspots.find((h) => h.id === hotspot.id).EscapeRoomAnswers;
                let mixedAnswers = mixArray(correctAnswers);
                console.log(mixedAnswers);
                mixedAnswers.forEach((answer, index) => {
                  let answerPlane = $("<a-plane></a-plane>");
                  answerPlane.attr("src", "#asset-TextBox");
                  answerPlane.attr("id", "optionPlane-" + answer.id);
                  let x = -5 + (index % 2) * 10;
                  let y = -4.5 - Math.floor(index / 2) * 3;
                  let z = 0;
                  answerPlane.attr("position", `${x} ${y} ${z}`);
                  answerPlane.attr("width", "10");
                  answerPlane.attr("height", "3");
                  answerPlane.attr(
                    "material",
                    "transparent:true; opacity: 0.85;",
                  );
                  if (hotspot.visited) {
                    answerPlane.attr("color", "green");
                  }
                  addEffects(answerPlane, 1.1);
                  answerPlane.attr(
                    "text__exampletext",
                    `color: #d6d6d6;
                    value: ${answer.answer};
                    white-space: nowrap;
                    xOffset: 0.12;
                    zOffset: 0.1;
                    text-align: justify;
                    align: center;
                    font: {{ url_for('static', filename='fonts/Roboto-Regular-msdf.json') }};
                    fontImage: {{ url_for('static', filename='fonts/Roboto-Regular.png') }};
                    width: 18.5;
                    negate: false;
                    side: double`,
                  );

                  answerPlane.addClass("clickable");
                  answerPlane.addClass("hotspot");
                  quizElements.push(answerPlane);
                  console.log(answerPlane);
                  answerPlane.click(function () {
                    if (!hotspot.visited) {
                      if (answerPlane.attr("color") != "yellow") {
                        answerPlane.attr("color", "yellow");
                        combination.push(answer.answer);
                        console.log(answer.answer);
                        if (correctAnswers.length == combination.length) {
                          valid = correctAnswers.reduce(
                            (isEqual, currentElement, index) =>
                              isEqual &&
                              currentElement.answer == combination[index],
                            true,
                          );
                          function sleep(ms) {
                            return new Promise((resolve) =>
                              setTimeout(resolve, ms),
                            );
                          }

                          const colorAnswers = (color) =>
                            mixedAnswers.forEach((answer) => {
                              let optionPlane = document.getElementById(
                                "optionPlane-" + answer.id,
                              );
                              optionPlane.setAttribute("color", color);
                            });
                          if (valid) hotspotVisited(hotspot.id);
                          else {
                            sleep(2000).then(() => colorAnswers("white"));
                            combination = [];
                          }
                          colorAnswers(valid ? "green" : "red");
                        }
                      }
                    }
                  });

                  optionEntity.append(answerPlane);
                });
                $("a-scene").append(optionEntity);
                function showCorrect() {
                  correctAnswers.forEach((answer) => {
                    console.log(answer);
                    let validationPlane = document.getElementById(
                      "optionPlane-" + answer.id,
                    );
                    console.log(validationPlane);
                    validationPlane.setAttribute("color", "green");
                  });
                }
              }),
            );
          }
          $("a-scene").append(plane);
        }

        //mixes an Array for Combination Hotspot
        function mixArray(array) {
          let oriArray = [...array];
          let returnarray = [];
          let length = oriArray.length;
          for (let i = 0; i < length; i++) {
            let j = Math.floor(Math.random() * (length - i));
            returnarray.push(oriArray[j]);
            oriArray.splice(j, 1);
          }
          return returnarray;
        }
        function calculateNewPosition(startPosition, targetPosition, distance) {
          // Parse the start and target positions
          let start = startPosition.split(" ").map(parseFloat);
          let target = targetPosition.split(" ").map(parseFloat);

          // Calculate the vector from the start to the target
          let directionVector = {
            x: target[0] - start[0],
            y: target[1] - start[1],
            z: target[2] - start[2],
          };

          // Calculate the magnitude of the vector
          let magnitude = Math.sqrt(
            Math.pow(directionVector.x, 2) +
              Math.pow(directionVector.y, 2) +
              Math.pow(directionVector.z, 2),
          );

          // Normalize the vector
          let normalizedVector = {
            x: directionVector.x / magnitude,
            y: directionVector.y / magnitude,
            z: directionVector.z / magnitude,
          };

          // Calculate the new position
          let newPosition = {
            x: start[0] + normalizedVector.x * distance,
            y: start[1] + normalizedVector.y * distance,
            z: start[2] + normalizedVector.z * distance,
          };

          // Return the new position
          return `${newPosition.x} ${newPosition.y} ${newPosition.z}`;
        }

        function addEffects(plane, scale = 1.2) {
          plane.attr(
            "event-set__mouseenter",
            `_event: mouseenter; scale: ${scale} ${scale} ${scale}`,
          );
          plane.attr(
            "event-set__mouseleave",
            "_event: mouseleave; scale: 1 1 1",
          );
          plane.attr("event-set__mousedown", "_event: mousedown; opacity: 0.8");
          plane.attr("event-set__mouseup", "_event: mouseup; opacity: 1.0");
        }

        /**
         * The Image size is important to respect the aspect ratio of an image
         */
        function getImageSize(url, callback) {
          var img = new Image();
          img.src = url;

          $(img).on("load", function () {
            var aspectRatio = img.width / img.height;

            var width, height;
            if (aspectRatio > 1) {
              width = Math.min(img.width, 13);
              height = width / aspectRatio;
            } else {
              height = Math.min(img.height, 13);
              width = height * aspectRatio;
            }
            callback(width, height);
          });
        }

        /**
         * Get the Dimensions of a video. same principle as a picture
         */
        function getVideoSize(url, callback) {
          var video = document.createElement("video");

          video.onloadedmetadata = function () {
            var aspectRatio = video.videoWidth / video.videoHeight;

            var width, height;
            if (aspectRatio > 1) {
              width = Math.min(video.videoWidth, 13);
              height = width / aspectRatio;
            } else {
              height = Math.min(video.videoHeight, 13);
              width = height * aspectRatio;
            }
            callback(width, height);

            URL.revokeObjectURL(video.src); // Clean up
          };

          // Fetch the resource and create an object URL from the Blob
          fetch(url)
            .then((response) => response.blob())
            .then((blob) => {
              video.src = URL.createObjectURL(blob);
            });
        }

        function movePlane(plane) {
          //:)
          let entity = plane; // Get the entity
          let position = entity.object3D.position; // Get the position of the entity
          let origin = new THREE.Vector3(0, 0, 0); // Create a vector for the origin
          let direction = new THREE.Vector3().subVectors(position, origin); // Create a vector from origin to the position

          direction.normalize(); // Normalize the vector (this makes its length 1 unit)
          direction.multiplyScalar(2); // Move 2 unit along the vector

          let newPosition = new THREE.Vector3().addVectors(position, direction); // Calculate the new position
          entity.object3D.position.set(
            newPosition.x,
            newPosition.y,
            newPosition.z,
          ); // Set the entity's position to the new position
        }

        $("#create_model").on("click", "button.close", function (eventObject) {
          $("#create_model").modal("hide");
        });
        $("#textModal").on("click", "button.close", function (eventObject) {
          $("#textModal").modal("hide");
        });

        function showImagePopup(ImageUrl) {
          // Create the modal entity
          let modal = $("<a-modal></a-modal>");
          modal.attr("position", "0 1.6 -3");
          modal.attr("scale", "2 2 2");

          // Create the image entity inside the modal
          let image = $("<a-image></a-image>");
          image.attr("src", ImageUrl);
          image.attr("width", "4");
          image.attr("height", "2");

          // Append the image to the modal
          modal.append(image);

          // Append the modal to the scene
          $("a-scene").append(modal);
        }

        function addScrollWheelZoom() {
          const scene = document.querySelector("a-scene");
          scene.addEventListener("mousewheel", (event) => {
            const delta = Math.sign(event.wheelDelta);
            const camera = document
              .getElementById("cam")
              .getAttribute("camera");
            const finalZoom = camera.zoom + delta;
            const minZoom = 1;
            const maxZoom = 5;

            camera.zoom = Math.min(Math.max(finalZoom, minZoom), maxZoom);
            document.getElementById("cam").setAttribute("camera", camera);
          });
        }
        addScrollWheelZoom();

        function lrs_event_vr(route) {
          $.ajax({
            url: '{{ url_for("base.lrs_event_vr") }}',
            type: "POST",
            headers: {
              "Content-Type": "application/json",
              Accept: "application/json",
            },
            data: JSON.stringify({
              event: route,
              rotation: rotationX.toString() + " " + rotationY.toString(),
              tourid:
                (window.location.href.match(/view_tour\/(\d+)/) || [])[1] ||
                "N/A",
              mediapageid: _currentMediapage,
            }),
          });
        }

        async function fetchHotspot(id, markedHotspot = null) {
          const response = await fetch("{{ url_for('base.get_hotspot') }}", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              Accept: "application/json",
            },
            body: JSON.stringify(id),
          });

          if (response.ok) {
            const hotspot = await response.json();
            _hotspots = _mediapages.find(
              (obj) => obj.id == hotspot["media_page_id"],
            ).hotspots;
            if (!_hotspots.some((h) => h.id === hotspot.id)) {
              _hotspots.push(hotspot);
              // udpate existing hotspot
            } else {
              _hotspots[_hotspots.findIndex((h) => h.id === hotspot.id)] =
                hotspot;
              $('a-plane[data-hotspot-id="' + hotspot.id + '"]').remove();

              $("#hotspot-" + hotspot.id).html(hotspot.name);
            }
            if (_currentMediapage == hotspot.media_page_id) {
              addHotspot(hotspot);
            }
            markedHotspot ? $("#hotspot-" + markedHotspot).click() : "";
          } else {
            console.error("Failed to fetch hotspot");
          }
        }

        function updateMediaPages() {
          $.ajax({
            url: '{{ url_for("base.get_mediapages") }}',
            type: "POST",
            headers: {
              "Content-Type": "application/json",
              Accept: "application/json",
            },
            data: JSON.stringify({
              tour_id: "{{ tour_id }}",
            }),
            success: function (data) {
              _mediapages = data;
            },
          });
        }

        var socket = io();
        socket.on("connect", function () {
          socket.emit("joinViewTour", {
            tour_id: "{{ tour_id }}",
            user_id: "{{ current_user.id }}",
            username: "{{ current_user.username }}",
          });
        });

        socket.on("hotspot", function (id) {
          fetchHotspot(id);
        });

        socket.on("removeHotspot", function (id) {
          $('a-plane[id="plane-' + id + '"]').remove();
          _hotspots.pop(id);
        });

        socket.on("updateMediaPage", function () {
          updateMediaPages();
        });

        /* Issue #7
        function setCamOrientation(orientation) {
                    var orientationValues = orientation.split(" ");

        // Extract the X, Y, and Z values
                    var x = parseFloat(orientationValues[0]);
                    var y = parseFloat(orientationValues[1]);
                    var z = parseFloat(orientationValues[2]);

        // Get the A-Frame camera element
                    let entityCam = $('#cam');
                    var camera = cam[0].object3D;

        // Set the rotation component of the camera's attribute to the specified orientation
                    cam.entityCam('look-controls', {enabled: false});
                    camera.rotation.set(y, x, z);
                    cam.entityCam('look-controls', {enabled: true});
        }
        });
        */
      });
    </script>
    <script src="{{ url_for('static', filename='js/a-frame-touch-look-controls.js') }}"></script>
  </body>
</html>
