@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

$bootstrap-icons-font-dir: "../../../node_modules/bootstrap-icons/font/fonts";
@import "../../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@charset "UTF-8";
/*!
 * Bootstrap  v5.3.3 (https://getbootstrap.com/)
 * Copyright 2011-2024 The Bootstrap Authors
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */
:root,
[data-bs-theme="light"] {
  --bs-blue: rgb(0, 84, 159);
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: rgb(204, 7, 30);
  --bs-orange: #fd7e14;
  --bs-yellow: rgb(255, 237, 0);
  --bs-green: rgb(87, 171, 39);
  --bs-teal: #20c997;
  --bs-cyan: rgb(0, 152, 161);
  --bs-black: rgb(0, 0, 0);
  --bs-white: rgb(255, 255, 255);
  --bs-gray: rgb(0, 97, 101);
  --bs-gray-dark: #343a40;
  --bs-gray-100: rgb(232, 241, 250);
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: rgb(0, 97, 101);
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: rgb(100, 101, 103);
  --bs-primary: rgb(0, 84, 159);
  --bs-secondary: rgb(0, 97, 101);
  --bs-success: rgb(87, 171, 39);
  --bs-info: rgb(0, 152, 161);
  --bs-warning: rgb(255, 237, 0);
  --bs-danger: rgb(204, 7, 30);
  --bs-light: rgb(232, 241, 250);
  --bs-dark: rgb(100, 101, 103);
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 204, 7, 30;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text-emphasis: #052c65;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: rgb(255, 255, 255) 3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: rgb(0, 0, 0);
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg: rgb(255, 255, 255);
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: rgb(0, 0, 0);
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33, 37, 41;
  --bs-tertiary-bg: rgb(232, 241, 250);
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: rgb(0, 0, 0);
  --bs-link-color: rgb(0, 84, 159);
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: rgb(64, 127, 183);
  --bs-link-hover-color-rgb: 10, 88, 202;
  --bs-code-color: #d63384;
  --bs-highlight-color: rgb(100, 101, 103);
  --bs-highlight-bg: rgb(255, 255, 255) 3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
  --bs-form-valid-color: rgb(87, 171, 39);
  --bs-form-valid-border-color: rgb(87, 171, 39);
  --bs-form-invalid-color: rgb(204, 7, 30);
  --bs-form-invalid-border-color: rgb(204, 7, 30);
}

[data-bs-theme="dark"] {
  color-scheme: dark;
  --bs-body-color: #dee2e6;
  --bs-body-color-rgb: 222, 226, 230;
  --bs-body-bg: rgb(100, 101, 103);
  --bs-body-bg-rgb: 33, 37, 41;
  --bs-emphasis-color: rgb(255, 255, 255);
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: rgba(222, 226, 230, 0.75);
  --bs-secondary-color-rgb: 222, 226, 230;
  --bs-secondary-bg: #343a40;
  --bs-secondary-bg-rgb: 52, 58, 64;
  --bs-tertiary-color: rgba(222, 226, 230, 0.5);
  --bs-tertiary-color-rgb: 222, 226, 230;
  --bs-tertiary-bg: #2b3035;
  --bs-tertiary-bg-rgb: 43, 48, 53;
  --bs-primary-text-emphasis: #6ea8fe;
  --bs-secondary-text-emphasis: #a7acb1;
  --bs-success-text-emphasis: #75b798;
  --bs-info-text-emphasis: #6edff6;
  --bs-warning-text-emphasis: #ffda6a;
  --bs-danger-text-emphasis: #ea868f;
  --bs-light-text-emphasis: rgb(232, 241, 250);
  --bs-dark-text-emphasis: #dee2e6;
  --bs-primary-bg-subtle: #031633;
  --bs-secondary-bg-subtle: #161719;
  --bs-success-bg-subtle: #051b11;
  --bs-info-bg-subtle: #032830;
  --bs-warning-bg-subtle: #332701;
  --bs-danger-bg-subtle: #2c0b0e;
  --bs-light-bg-subtle: #343a40;
  --bs-dark-bg-subtle: #1a1d20;
  --bs-primary-border-subtle: #084298;
  --bs-secondary-border-subtle: #41464b;
  --bs-success-border-subtle: #0f5132;
  --bs-info-border-subtle: #087990;
  --bs-warning-border-subtle: #997404;
  --bs-danger-border-subtle: #842029;
  --bs-light-border-subtle: #495057;
  --bs-dark-border-subtle: #343a40;
  --bs-heading-color: rgb(0, 0, 0);
  --bs-link-color: #6ea8fe;
  --bs-link-hover-color: #8bb9fe;
  --bs-link-color-rgb: 110, 168, 254;
  --bs-link-hover-color-rgb: 139, 185, 254;
  --bs-code-color: #e685b5;
  --bs-highlight-color: #dee2e6;
  --bs-highlight-bg: #664d03;
  --bs-border-color: #495057;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
  --bs-form-valid-color: #75b798;
  --bs-form-valid-border-color: #75b798;
  --bs-form-invalid-color: #ea868f;
  --bs-form-invalid-border-color: #ea868f;
}

.blockquote-footer {
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: 0.875em;
  color: rgb(0, 97, 101);
}

.form-check-input[type="checkbox"]:indeterminate {
  background-color: rgb(0, 84, 159);
  border-color: rgb(0, 84, 159);
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}
.form-range:focus::-webkit-slider-thumb {
  box-shadow:
    0 0 0 1px rgb(255, 255, 255),
    0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-range:focus::-moz-range-thumb {
  box-shadow:
    0 0 0 1px rgb(255, 255, 255),
    0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-range::-moz-focus-outer {
  border: 0;
}
.form-range::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
  margin-top: -0.25rem;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(0, 84, 159);
  border: 0;
  border-radius: 1rem;
  -webkit-transition:
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition:
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
.form-range::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  -moz-appearance: none;
  appearance: none;
  background-color: rgb(0, 84, 159);
  border: 0;
  border-radius: 1rem;
  -moz-transition:
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition:
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
.form-floating > :disabled ~ label,
.form-floating > .form-control:disabled ~ label {
  color: rgb(0, 97, 101);
}

.btn-primary {
  --bs-btn-color: rgb(255, 255, 255);
  --bs-btn-bg: rgb(0, 84, 159);
  --bs-btn-border-color: rgb(0, 84, 159);
  --bs-btn-hover-color: rgb(255, 255, 255);
  --bs-btn-hover-bg: rgb(64, 127, 183);
  --bs-btn-hover-border-color: rgb(64, 127, 183);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: rgb(255, 255, 255);
  --bs-btn-active-bg: rgb(64, 127, 183);
  --bs-btn-active-border-color: rgb(64, 127, 183);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(255, 255, 255);
  --bs-btn-disabled-bg: rgb(0, 84, 159);
  --bs-btn-disabled-border-color: rgb(0, 84, 159);
}

.btn-secondary {
  --bs-btn-color: rgb(255, 255, 255);
  --bs-btn-bg: rgb(0, 97, 101);
  --bs-btn-border-color: rgb(0, 97, 101);
  --bs-btn-hover-color: rgb(255, 255, 255);
  --bs-btn-hover-bg: rgb(45, 127, 131);
  --bs-btn-hover-border-color: rgb(45, 127, 131);
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: rgb(255, 255, 255);
  --bs-btn-active-bg: rgb(45, 127, 131);
  --bs-btn-active-border-color: rgb(45, 127, 131);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(255, 255, 255);
  --bs-btn-disabled-bg: rgb(0, 97, 101);
  --bs-btn-disabled-border-color: rgb(0, 97, 101);
}

.btn-success {
  --bs-btn-color: rgb(255, 255, 255);
  --bs-btn-bg: rgb(87, 171, 39);
  --bs-btn-border-color: rgb(87, 171, 39);
  --bs-btn-hover-color: rgb(255, 255, 255);
  --bs-btn-hover-bg: rgb(141, 171, 39);
  --bs-btn-hover-border-color: rgb(141, 171, 39);
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: rgb(255, 255, 255);
  --bs-btn-active-bg: rgb(141, 171, 39);
  --bs-btn-active-border-color: rgb(141, 171, 39);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(255, 255, 255);
  --bs-btn-disabled-bg: rgb(87, 171, 39);
  --bs-btn-disabled-border-color: rgb(87, 171, 39);
}

.btn-info {
  --bs-btn-color: rgb(0, 0, 0);
  --bs-btn-bg: rgb(0, 152, 161);
  --bs-btn-border-color: rgb(0, 152, 161);
  --bs-btn-hover-color: rgb(0, 0, 0);
  --bs-btn-hover-bg: rgb(0, 177, 183);
  --bs-btn-hover-border-color: rgb(0, 177, 183);
  --bs-btn-focus-shadow-rgb: 11, 172, 204;
  --bs-btn-active-color: rgb(0, 0, 0);
  --bs-btn-active-bg: rgb(0, 177, 183);
  --bs-btn-active-border-color: rgb(0, 177, 183);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(0, 0, 0);
  --bs-btn-disabled-bg: rgb(0, 152, 161);
  --bs-btn-disabled-border-color: rgb(0, 152, 161);
}

.btn-warning {
  --bs-btn-color: rgb(0, 0, 0);
  --bs-btn-bg: rgb(255, 237, 0);
  --bs-btn-border-color: rgb(255, 237, 0);
  --bs-btn-hover-color: rgb(0, 0, 0);
  --bs-btn-hover-bg: rgb(255, 240, 85);
  --bs-btn-hover-border-color: rgb(255, 240, 85);
  --bs-btn-focus-shadow-rgb: 217, 164, 6;
  --bs-btn-active-color: rgb(0, 0, 0);
  --bs-btn-active-bg: rgb(255, 240, 85);
  --bs-btn-active-border-color: rgb(255, 240, 85);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(0, 0, 0);
  --bs-btn-disabled-bg: rgb(255, 237, 0);
  --bs-btn-disabled-border-color: rgb(255, 237, 0);
}

.btn-danger {
  --bs-btn-color: rgb(255, 255, 255);
  --bs-btn-bg: rgb(204, 7, 30);
  --bs-btn-border-color: rgb(204, 7, 30);
  --bs-btn-hover-color: rgb(255, 255, 255);
  --bs-btn-hover-bg: rgb(216, 92, 65);
  --bs-btn-hover-border-color: rgb(216, 92, 65);
  --bs-btn-focus-shadow-rgb: 225, 83, 97;
  --bs-btn-active-color: rgb(255, 255, 255);
  --bs-btn-active-bg: rgb(216, 92, 65);
  --bs-btn-active-border-color: rgb(216, 92, 65);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(255, 255, 255);
  --bs-btn-disabled-bg: rgb(204, 7, 30);
  --bs-btn-disabled-border-color: rgb(204, 7, 30);
}

.btn-light {
  --bs-btn-color: rgb(0, 0, 0);
  --bs-btn-bg: rgb(232, 241, 250);
  --bs-btn-border-color: rgb(232, 241, 250);
  --bs-btn-hover-color: rgb(0, 0, 0);
  --bs-btn-hover-bg: rgb(232, 241, 250);
  --bs-btn-hover-border-color: rgb(232, 241, 250);
  --bs-btn-focus-shadow-rgb: 211, 212, 213;
  --bs-btn-active-color: rgb(0, 0, 0);
  --bs-btn-active-bg: rgb(232, 241, 250);
  --bs-btn-active-border-color: #babbbc;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(0, 0, 0);
  --bs-btn-disabled-bg: rgb(232, 241, 250);
  --bs-btn-disabled-border-color: rgb(232, 241, 250);
}

.btn-dark {
  --bs-btn-color: rgb(255, 255, 255);
  --bs-btn-bg: rgb(100, 101, 103);
  --bs-btn-border-color: rgb(100, 101, 103);
  --bs-btn-hover-color: rgb(255, 255, 255);
  --bs-btn-hover-bg: rgb(100, 101, 103);
  --bs-btn-hover-border-color: rgb(100, 101, 103);
  --bs-btn-focus-shadow-rgb: 66, 70, 73;
  --bs-btn-active-color: rgb(255, 255, 255);
  --bs-btn-active-bg: rgb(100, 101, 103);
  --bs-btn-active-border-color: rgb(100, 101, 103);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(255, 255, 255);
  --bs-btn-disabled-bg: rgb(100, 101, 103);
  --bs-btn-disabled-border-color: rgb(100, 101, 103);
}

.btn-outline-primary {
  --bs-btn-color: rgb(0, 84, 159);
  --bs-btn-border-color: rgb(0, 84, 159);
  --bs-btn-hover-color: rgb(255, 255, 255);
  --bs-btn-hover-bg: rgb(0, 84, 159);
  --bs-btn-hover-border-color: rgb(0, 84, 159);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: rgb(255, 255, 255);
  --bs-btn-active-bg: rgb(0, 84, 159);
  --bs-btn-active-border-color: rgb(0, 84, 159);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(0, 84, 159);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(0, 84, 159);
  --bs-gradient: none;
}

.btn-outline-secondary {
  --bs-btn-color: rgb(0, 97, 101);
  --bs-btn-border-color: rgb(0, 97, 101);
  --bs-btn-hover-color: rgb(255, 255, 255);
  --bs-btn-hover-bg: rgb(0, 97, 101);
  --bs-btn-hover-border-color: rgb(0, 97, 101);
  --bs-btn-focus-shadow-rgb: 108, 117, 125;
  --bs-btn-active-color: rgb(255, 255, 255);
  --bs-btn-active-bg: rgb(0, 97, 101);
  --bs-btn-active-border-color: rgb(0, 97, 101);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(0, 97, 101);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(0, 97, 101);
  --bs-gradient: none;
}

.btn-outline-success {
  --bs-btn-color: rgb(87, 171, 39);
  --bs-btn-border-color: rgb(87, 171, 39);
  --bs-btn-hover-color: rgb(255, 255, 255);
  --bs-btn-hover-bg: rgb(87, 171, 39);
  --bs-btn-hover-border-color: rgb(87, 171, 39);
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: rgb(255, 255, 255);
  --bs-btn-active-bg: rgb(87, 171, 39);
  --bs-btn-active-border-color: rgb(87, 171, 39);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(87, 171, 39);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(87, 171, 39);
  --bs-gradient: none;
}

.btn-outline-info {
  --bs-btn-color: rgb(0, 152, 161);
  --bs-btn-border-color: rgb(0, 152, 161);
  --bs-btn-hover-color: rgb(0, 0, 0);
  --bs-btn-hover-bg: rgb(0, 152, 161);
  --bs-btn-hover-border-color: rgb(0, 152, 161);
  --bs-btn-focus-shadow-rgb: 13, 202, 240;
  --bs-btn-active-color: rgb(0, 0, 0);
  --bs-btn-active-bg: rgb(0, 152, 161);
  --bs-btn-active-border-color: rgb(0, 152, 161);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(0, 152, 161);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(0, 152, 161);
  --bs-gradient: none;
}

.btn-outline-warning {
  --bs-btn-color: rgb(255, 237, 0);
  --bs-btn-border-color: rgb(255, 237, 0);
  --bs-btn-hover-color: rgb(0, 0, 0);
  --bs-btn-hover-bg: rgb(255, 237, 0);
  --bs-btn-hover-border-color: rgb(255, 237, 0);
  --bs-btn-focus-shadow-rgb: 255, 193, 7;
  --bs-btn-active-color: rgb(0, 0, 0);
  --bs-btn-active-bg: rgb(255, 237, 0);
  --bs-btn-active-border-color: rgb(255, 237, 0);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(255, 237, 0);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(255, 237, 0);
  --bs-gradient: none;
}

.btn-outline-danger {
  --bs-btn-color: rgb(204, 7, 30);
  --bs-btn-border-color: rgb(204, 7, 30);
  --bs-btn-hover-color: rgb(255, 255, 255);
  --bs-btn-hover-bg: rgb(204, 7, 30);
  --bs-btn-hover-border-color: rgb(204, 7, 30);
  --bs-btn-focus-shadow-rgb: 220, 53, 69;
  --bs-btn-active-color: rgb(255, 255, 255);
  --bs-btn-active-bg: rgb(204, 7, 30);
  --bs-btn-active-border-color: rgb(204, 7, 30);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(204, 7, 30);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(204, 7, 30);
  --bs-gradient: none;
}

.btn-outline-light {
  --bs-btn-color: rgb(232, 241, 250);
  --bs-btn-border-color: rgb(232, 241, 250);
  --bs-btn-hover-color: rgb(0, 0, 0);
  --bs-btn-hover-bg: rgb(232, 241, 250);
  --bs-btn-hover-border-color: rgb(232, 241, 250);
  --bs-btn-focus-shadow-rgb: 248, 249, 250;
  --bs-btn-active-color: rgb(0, 0, 0);
  --bs-btn-active-bg: rgb(232, 241, 250);
  --bs-btn-active-border-color: rgb(232, 241, 250);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(232, 241, 250);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(232, 241, 250);
  --bs-gradient: none;
}

.btn-outline-dark {
  --bs-btn-color: rgb(100, 101, 103);
  --bs-btn-border-color: rgb(100, 101, 103);
  --bs-btn-hover-color: rgb(255, 255, 255);
  --bs-btn-hover-bg: rgb(100, 101, 103);
  --bs-btn-hover-border-color: rgb(100, 101, 103);
  --bs-btn-focus-shadow-rgb: 33, 37, 41;
  --bs-btn-active-color: rgb(255, 255, 255);
  --bs-btn-active-bg: rgb(100, 101, 103);
  --bs-btn-active-border-color: rgb(100, 101, 103);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(100, 101, 103);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(100, 101, 103);
  --bs-gradient: none;
}

.btn-link {
  --bs-btn-font-weight: 400;
  --bs-btn-color: var(--bs-link-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: var(--bs-link-hover-color);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-color: var(--bs-link-hover-color);
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-color: rgb(0, 97, 101);
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-box-shadow: 0 0 0 rgb(0, 0, 0);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  text-decoration: underline;
}

.dropdown-menu {
  --bs-dropdown-zindex: 1000;
  --bs-dropdown-min-width: 10rem;
  --bs-dropdown-padding-x: 0;
  --bs-dropdown-padding-y: 0.5rem;
  --bs-dropdown-spacer: 0.125rem;
  --bs-dropdown-font-size: 1rem;
  --bs-dropdown-color: var(--bs-body-color);
  --bs-dropdown-bg: var(--bs-body-bg);
  --bs-dropdown-border-color: var(--bs-border-color-translucent);
  --bs-dropdown-border-radius: var(--bs-border-radius);
  --bs-dropdown-border-width: var(--bs-border-width);
  --bs-dropdown-inner-border-radius: calc(
    var(--bs-border-radius) - var(--bs-border-width)
  );
  --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
  --bs-dropdown-divider-margin-y: 0.5rem;
  --bs-dropdown-box-shadow: var(--bs-box-shadow);
  --bs-dropdown-link-color: var(--bs-body-color);
  --bs-dropdown-link-hover-color: var(--bs-body-color);
  --bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
  --bs-dropdown-link-active-color: rgb(255, 255, 255);
  --bs-dropdown-link-active-bg: rgb(0, 84, 159);
  --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
  --bs-dropdown-item-padding-x: 1rem;
  --bs-dropdown-item-padding-y: 0.25rem;
  --bs-dropdown-header-color: rgb(0, 97, 101);
  --bs-dropdown-header-padding-x: 1rem;
  --bs-dropdown-header-padding-y: 0.5rem;
  position: absolute;
  z-index: var(--bs-dropdown-zindex);
  display: none;
  min-width: var(--bs-dropdown-min-width);
  padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
  margin: 0;
  font-size: var(--bs-dropdown-font-size);
  color: var(--bs-dropdown-color);
  text-align: left;
  list-style: none;
  background-color: var(--bs-dropdown-bg);
  background-clip: padding-box;
  border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
  border-radius: var(--bs-dropdown-border-radius);
}

.dropdown-menu-dark {
  --bs-dropdown-color: #dee2e6;
  --bs-dropdown-bg: #343a40;
  --bs-dropdown-border-color: var(--bs-border-color-translucent);
  --bs-dropdown-box-shadow: ;
  --bs-dropdown-link-color: #dee2e6;
  --bs-dropdown-link-hover-color: rgb(255, 255, 255);
  --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
  --bs-dropdown-link-hover-bg: rgba(255, 255, 255, 0.15);
  --bs-dropdown-link-active-color: rgb(255, 255, 255);
  --bs-dropdown-link-active-bg: rgb(0, 84, 159);
  --bs-dropdown-link-disabled-color: #adb5bd;
  --bs-dropdown-header-color: #adb5bd;
}

body {
  font-family: "Montserrat", sans-serif !important;
  background-color: rgb(232, 241, 250) !important;
}

#loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
}

.loading-spinner {
  width: 40px;
  height: 40px;
  border: 4px solid white;
  border-top: 4px solid rgb(0, 74, 159);
  border-radius: 50%;
  animation: spin 2s linear infinite;
  position: relative;
  left: 35%;
  top: 65%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.navigation {
  background-color: #2d3436 !important;
}

.prevent-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.overlay-img {
  height: 100%;
  width: 100%;
  display: inline-block;
  color: rgba(0, 0, 0, 0);
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1000;
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: relative;
}

.darken-image {
  transition: filter 0.3s ease-in-out;
}

.image-container:hover .darken-image,
.btn-container:hover + .darken-image {
  filter: brightness(60%);
}

.btn-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-container:hover .btn-container,
.btn-container:hover {
  opacity: 1;
}

.icon-shadow {
  text-shadow: 0 0 3px rgb(0, 0, 0);
}

.fit-content {
  width: fit-content;
}

.table-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.dt-length {
  display: flex;
  align-items: center;
}

.dt-buttons {
  max-width: fit-content;
}

.table-bottom2 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  float: right;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: black;
}

.card {
  position: relative;
}

.card-img-top {
  width: 100%;
}

.dropdown:hover.settings .dropdown-menu {
  display: block;
  margin-top: 0px;
}

.shareList > li {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.dropdown-menu > li:hover:not(.no-hover) {
  background-color: lightgray;
}

.dropdown-menu > li:hover > div > .username {
  background-color: lightgray;
  border-color: darkgray;
  box-shadow: 0 0 0 0;
}

.disabled:hover {
  color: white;
}

.shareList {
  list-style-type: none;
  padding-left: 0;
}

.online {
  font-size: 0.7rem;
}

.copy {
  cursor: pointer;
}
