html,
body,
main {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  height: calc(100% - 155px);
}

main {
  flex-grow: 1;
  position: relative;
}

.align-end-of-parent {
  display: inline-block;
  align-self: flex-end;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

#alerts {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.pic_card {
  overflow-y: hidden;
  width: 100%;
}

.pic-card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  max-width: 100%;
  width: 100%;
}

.uploaded-images {
  overflow-y: auto;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 5px;
}

.card-button-parent {
  --tw-text-opacity: 1;
  color: rgba(197, 197, 210, var(--tw-text-opacity));
  right: 0rem;
  margin-right: 0;
}

.card-buttons {
  display: inline-block;
  vertical-align: top;
  background-color: transparent;
  border-style: none;
  color: black;
}

.glow-black {
  color: gray;
  background-color: white;
  stroke: black;
  transition: stroke-width 0.1s linear;

  &:hover {
    stroke-width: 4px;
  }
}

.card-content {
  padding-left: 2px;
}

.menu-container {
  max-height: 50%;
  overflow-y: auto;
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menu-item {
  margin-bottom: 1rem;
}

.menu-item-header {
  cursor: pointer;
}

.submenu {
  list-style-type: none;
  padding: 0;
  padding-left: 1rem;
}

.submenu-item {
  cursor: pointer;
  margin-bottom: 0.5rem;

  &:hover {
    text-decoration: underline;
  }
}

.maxsize {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-button {
  font-size: 20px;
  padding-bottom: 8px;
  background-color: rgba(0, 128, 0, 0.5);
  color: white;
  border: none;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  bottom: 20px;

  &:hover {
    background-color: rgba(0, 128, 0, 1);
  }
}

.mediapage_card {
  overflow: auto;
  width: 100%;
  text-align: center;

  &:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: scale(0.98);
  }
}

.pic_card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: scale(0.98);
}

.bottom_row_wrapper {
  display: flex;
  flex-grow: 1;
  min-height: 5rem;
}

.bottom_row {
  flex-grow: 1;
  max-height: 2rem;
}

.main-wrapper {
  max-height: calc(100vh - 112px);
}

.hotspot_card {
  overflow: auto;
  text-align: center;
  width: auto;
  height: auto;
  display: inline-flex;
  height: 32px;
}

.scene_picture {
  max-width: 64px;
  max-height: 64px;
  cursor: pointer;
}

.hotspot_entry {
  margin-bottom: 0px;
  border: 1px solid transparent;
  background-color: #f0f0f0;
  cursor: pointer;
  user-select: none;

  /* Prevent text selection */
  transition: all 0.2s ease;

  /* Optional: smooth transition */

  &:hover {
    background-color: #e0e0e0;
  }
}

.selected {
  background-color: var(--bs-primary);
  color: #fff;
}

.selected:hover {
  background-color: var(--bs-primary);
  color: #fff;
}

.unselected {
  background-color: white;
  color: white;
  border-color: white;
}

.btn-removehotspot {
  display: inline-block;
  vertical-align: top;
  background-color: transparent;
  border-style: none;
}

.dragable-container {
  display: inline-block;
  cursor: move;
}

.drag-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: move;
  z-index: 1;
}

#start-message-overlay {
  pointer-events: none;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dropzone-overlay {
  position: absolute;
  background-color: rgb(211, 211, 211, 0.8);
  border: dashed 10px;
  z-index: 100;
  pointer-events: none;

  /* Make the dropzone transparent to mouse events */
}

#dropzone-overlay2 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.upper-row {
  height: 50%;
  overflow: auto;
}

.lower-row {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
}

.top-right {
  position: relative;
  top: 3%;
  left: 2%;
  width: 1em;
  height: 1em;
}

#visible-timeline {
  position: absolute;
  bottom: 20px;
  width: 90%;
  left: 5%;
}

#current-position {
  position: absolute;
  bottom: 0px;
  width: 90%;
  z-index: 1;
  height: 20px;
  left: 5%;
}

.bi {
  display: inline-block;
  vertical-align: -0.125em;
  fill: currentcolor;
}

.popover {
  max-width: 100%;
}

.annotation-popover {
  width: 300px;
  height: 60vh;
  z-index: 11000;
  position: relative;
  left: -25px !important;

  .popover-body {
    height: 100%;
    padding: 0;
  }
}

.annotation-popover-content {
  height: 100%;
}

.annotation-popover .popover-arrow {
  position: relative;
  left: 25px !important;
}

.tour-collaboratour-popover {
  width: fit-content;
  max-height: 60vh;
  z-index: 11000;
  position: relative;
  left: -75px !important;

  .popover-body {
    height: 100%;
    padding: 0;
  }
}

.tour-collaboratour-popover-content {
  height: 100%;
}

.tour-collaboratour-popover .popover-arrow {
  position: relative;
  left: 75px !important;
}

.chat-popover {
  width: 300px;
  height: 60vh;
  z-index: 11000;
  position: relative;
  left: -125px !important;

  .popover-body {
    height: 100%;
    padding: 0;
  }
}

.chat-popover-content {
  height: 100%;
}

.chat-popover .popover-arrow {
  position: relative;
  left: 125px !important;
}

.tooltip {
  z-index: 10000;
}

.dependencyWrapper {
  display: flex;
  flex-direction: column;
  max-height: 10rem;
  width: 100%;
  background-color: white;
  overflow: scroll;
}
.dependencyOptionWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.375rem 0.75rem;
  padding: 0.375rem 0.75rem;
}
.dependencyOptionWrapper:hover {
  background-color: #e0e0e0;
}
.quizWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #e0e0e0;
}
.questionWrapper {
  display: flex;
  width: calc(100% - 2rem);
  margin: 1rem;
  border-radius: 5px;
  border: 2px solid black;
}
.answerWrapper {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  gap: 1rem;
}
.quizAnswer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.375rem 0.75rem;
  background-color: white;
  border-radius: 0.2rem;
  gap: 0.5rem;
}
.quizAnswerInput {
  border: none;
  background: none;
  width: 100%;
}
.quizAnswerInput:focus {
  outline: none;
}
.quizButtonAddAnswer {
  cursor: pointer;
}
.quizButtonAddAnswer:hover {
  background-color: #e0e0e0;
}

.quizButtonRemoveAnswer {
  display: flex;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background: none;
  border-radius: 100%;
  min-width: 1.5rem;
  max-height: 1.5rem;
  min-height: 1.5rem;
}
.quizButtonRemoveAnswer:hover {
  background-color: #e0e0e0;
}

.quizRadioCorrect {
}
.quizQuestionInput {
  width: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

li[role="presentation"] {
  font-size: 0.875rem;
  height: 1.5rem;
}

li[role="menuitem"] {
  font-size: 0.875rem;
  height: 1.5rem;
  padding-left: 4px;
}

.dropdown-menu {
  overflow: visible;
}

.modal {
  z-index: 11500;
}
.tooltip {
  z-index: 12000;
}
