@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Montserrat", Verdana, sans-serif !important;
  margin: 0;
  background-color: rgb(142, 186, 229);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  width: 75%;
  background-color: white;
  padding: 25px;
  margin: 50px auto;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  text-align: center;
}
#header {
  margin-bottom: 20px;
  font-size: 250%;
}
svg {
  height: 500px;
  margin: 20px auto;
}
#loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
}
.chart-grid {
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
select {
  font-family: "Montserrat", Verdana, sans-serif;
}
.loading-spinner {
  width: 40px;
  height: 40px;
  border: 4px solid white;
  border-top: 4px solid rgb(0, 74, 159);
  border-radius: 50%;
  animation: spin 2s linear infinite;
  position: relative;
  left: 47%;
  top: 53%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu {
  padding: 25px 0;
  text-align: center;
}
.menu a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin: 15px 0;
}
.menu a:hover {
  color: rgb(0, 84, 159);
  transition: color 0.3s ease;
}
.row {
  display: flex;
}
.column {
  flex: 50%;
}
