{% extends "base.html" %}
{% block content %}
  {% block add_to_head %}
    <link
      href="{{ url_for('static', filename='css/auth_style.css') }}"
      rel="stylesheet"
    />
  {% endblock %}
  <div class="container">
    <h1>Login</h1>
    {% with messages = get_flashed_messages(with_categories=True) %}{%
      if
      messages
    %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}{% endwith %}
    <div class="row">
      <button
        id="auth_google"
        onclick="window.location.href='/login/google'"
        class="gsi-material-button"
      >
        <div class="gsi-material-button-state"></div>
        <div class="gsi-material-button-content-wrapper">
          <div class="gsi-material-button-icon">
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 48 48"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              style="display: block"
            >
              <path
                fill="#EA4335"
                d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"
              ></path>
              <path
                fill="#4285F4"
                d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"
              ></path>
              <path
                fill="#FBBC05"
                d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"
              ></path>
              <path
                fill="#34A853"
                d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"
              ></path>
              <path fill="none" d="M0 0h48v48H0z"></path>
            </svg>
          </div>
          <span class="gsi-material-button-contents"
            >{{ _("Continue with Google") }}</span
          >
          <span style="display: none">{{ _("Continue with Google") }}</span>
        </div>
      </button>
      <button
        id="auth_gitlab"
        onclick="window.location.href='/login/gitlab'"
        class="gsi-material-button"
      >
        <div class="gsi-material-button-state"></div>
        <div class="gsi-material-button-content-wrapper">
          <div class="gsi-material-button-icon">
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="95 100 190 190"
            >
              <defs>
                <style>
                  .cls-1 {
                    fill: #e24329;
                  }
                  .cls-2 {
                    fill: #fc6d26;
                  }
                  .cls-3 {
                    fill: #fca326;
                  }
                </style>
              </defs>
              <g id="LOGO">
                <path
                  class="cls-1"
                  d="M282.83,170.73l-.27-.69-26.14-68.22a6.81,6.81,0,0,0-2.69-3.24,7,7,0,0,0-8,.43,7,7,0,0,0-2.32,3.52l-17.65,54H154.29l-17.65-54A6.86,6.86,0,0,0,134.32,99a7,7,0,0,0-8-.43,6.87,6.87,0,0,0-2.69,3.24L97.44,170l-.26.69a48.54,48.54,0,0,0,16.1,56.1l.09.07.24.17,39.82,29.82,19.7,14.91,12,9.06a8.07,8.07,0,0,0,9.76,0l12-9.06,19.7-14.91,40.06-30,.1-.08A48.56,48.56,0,0,0,282.83,170.73Z"
                />
                <path
                  class="cls-2"
                  d="M282.83,170.73l-.27-.69a88.3,88.3,0,0,0-35.15,15.8L190,229.25c19.55,14.79,36.57,27.64,36.57,27.64l40.06-30,.1-.08A48.56,48.56,0,0,0,282.83,170.73Z"
                />
                <path
                  class="cls-3"
                  d="M153.43,256.89l19.7,14.91,12,9.06a8.07,8.07,0,0,0,9.76,0l12-9.06,19.7-14.91S209.55,244,190,229.25C170.45,244,153.43,256.89,153.43,256.89Z"
                />
                <path
                  class="cls-2"
                  d="M132.58,185.84A88.19,88.19,0,0,0,97.44,170l-.26.69a48.54,48.54,0,0,0,16.1,56.1l.09.07.24.17,39.82,29.82s17-12.85,36.57-27.64Z"
                />
              </g>
            </svg>
          </div>
          <span class="gsi-material-button-contents"
            >{{ _("Continue with GitLab") }}</span
          >
          <span style="display: none">{{ _("Continue with GitLab") }}</span>
        </div>
      </button>
      <button
        id="auth_github"
        onclick="window.location.href='/login/github'"
        class="gsi-material-button"
      >
        <div class="gsi-material-button-state"></div>
        <div class="gsi-material-button-content-wrapper">
          <div class="gsi-material-button-icon">
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 100 100"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z"
                fill="#24292f"
              />
            </svg>
          </div>
          <span class="gsi-material-button-contents"
            >{{ _("Continue with GitHub") }}</span
          >
          <span style="display: none">{{ _("Continue with GitHub") }}</span>
        </div>
      </button>
    </div>
    <hr />
    <form method="post">
      <div class="form-group">
        <label for="username_or_email">{{ _("Username or Email") }}</label>
        <input
          type="text"
          class="form-control"
          id="username_or_email"
          name="username_or_email"
          value="{{ request.args.get('username', request.args.get('email', '')) }}"
          required
          autofocus
          maxlength="50"
        />
      </div>
      <div class="form-group">
        <label for="password">{{ _("Password") }}</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          value="{{ request.args.get('password','') }}"
          required
          maxlength="50"
        />
      </div>
      <p>
        <a href="#" id="resetPW"
          >{{ _("Need help accessing your account?") }}</a
        >
      </p>
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="remember_me"
          name="remember_me"
        />
        <label class="form-check-label" for="remember_me"
          >{{ _("Remember Me") }}</label
        >
        <br />
        <input type="checkbox" class="form-check-input" id="la" name="la" />
        <p>
          <label class="form-check-label" for="la">
            {{ _("Anonymise Learning Analytics Data") }}
            <span
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              style="margin-left: 10px"
              title="{{ _("We use Learning Analytics for research purposes. Check this box if you prefer your data to be collected anonymously, rather than being linked to your username and email.") }}"
              ><b>?</b></span
            >
          </label>
        </p>
      </div>
      <button type="submit" class="btn btn-primary">{{ _("Login") }}</button>
    </form>
  </div>

  <script>
    if ("{{ config['AUTH_GOOGLE'] }}" != "1")
      document.getElementById("auth_google").disabled = true;
    if ("{{ config['AUTH_GITLAB'] }}" != "1")
      document.getElementById("auth_gitlab").disabled = true;
    if ("{{ config['AUTH_GITHUB'] }}" != "1")
      document.getElementById("auth_github").disabled = true;

    document
      .getElementById("resetPW")
      .addEventListener("click", function (event) {
        if (document.getElementById("username_or_email").value === "") {
          alert(
            "Please enter your username or email and click this button again.",
          );
          return;
        }

        $.ajax({
          url: '{{ url_for("auth.forgotten_password") }}',
          type: "POST",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
          data: JSON.stringify({
            username_or_email:
              document.getElementById("username_or_email").value,
          }),
          success: function (result) {
            location.reload();
          },
          error: function (error) {
            location.reload();
          },
        });
      });

    $(document).ready(function () {
      $('[data-bs-toggle="tooltip"]').tooltip();
    });
  </script>
{% endblock %}
