{% extends "base.html" %}
{% block content %}
  <div class="container">
    <h1>{{ _("Reset Password") }}</h1>
    <form>
      <div id="pwInput">
        <div class="form-group">
          <label>{{ _("New Password") }}</label>
          <input
            type="text"
            class="form-control"
            id="new_password"
            required
            maxlength="50"
          />
        </div>
        <br />
        <button id="submit" class="btn btn-primary">
          {{ _("Change Password") }}
        </button>
      </div>
      <div id="resetMessage" style="display: none">
        <br />
        <p style="color: green">
          {{ _("Your password has been reset successfully. Please login to your account using your new password.") }}
        </p>
      </div>
    </form>
  </div>

  <script>
    document
      .getElementById("submit")
      .addEventListener("click", function (event) {
        event.preventDefault();
        $.ajax({
          url: '{{ url_for("auth.set_password") }}',
          type: "POST",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
          data: JSON.stringify({
            new_password: document.getElementById("new_password").value,
            secret: new URL(window.location.href).searchParams.get("secret"),
          }),
          success: function (result) {
            document.getElementById("submit").disabled = true;
            document.getElementById("resetMessage").style.display = "block";
          },
          error: function (error) {
            console.error(error);
          },
        });
      });
  </script>
{% endblock %}
